Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

.buildkite/pipeline.yml:

steps:
  - label: "Triggering Pipelines (Pull Request)"
    if: build.branch != "main" || build.tag == null
    agents:
      queue: "juliagpu"
    plugins:
      - monebag/monorepo-diff#v2.5.9:
          diff: ".buildkite/scripts/diff.sh $BUILDKITE_COMMIT"
          interpolation: false
          watch:
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - ".buildkite/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/testing.yml"
                agents:
                  queue: "juliagpu"
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - "docs/"
                - "examples/"
                - ".buildkite/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/documentation.yml"
                agents:
                  queue: "juliagpu"
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - ".buildkite/"
                - "benchmarks/"
              if: build.pull_request.labels includes "run benchmarks"
              config:
                command: "buildkite-agent pipeline upload .buildkite/benchmarks.yml"
                agents:
                  queue: "juliagpu"

  - label: "Triggering Pipelines (Main Branch / Tag)"
    if: build.branch == "main" || build.tag != null
    agents:
      queue: "juliagpu"
    command: |
      buildkite-agent pipeline upload .buildkite/testing.yml
      buildkite-agent pipeline upload .buildkite/documentation.yml
      buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: store the bias as a vector
  src/layers/basic.jl
  src/layers/conv.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: test updates from new changes
  ext/LuxFluxExt.jl
  test/layers/conv_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix!: remove uses of DynamicExpressions
  Project.toml
  test/Project.toml
  test/qa_tests.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: qa testing
  ext/LuxTrackerExt/LuxTrackerExt.jl
  test/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: DDIM updates and fix argument ordering
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
  src/helpers/stateful.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

ci(buildkite): fix cond
  .buildkite/pipeline.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

CompatHelper: add new compat entry for StableRNGs at version 1 for package docs, (keep existing compat)
  docs/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for Boltz to 0.4 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for JLD2 to 0.5 for package DDIM, (keep existing compat)
  examples/DDIM/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for JLD2 to 0.5 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for JLD2 to 0.5 for package SimpleRNN, (keep existing compat)
  examples/SimpleRNN/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Update README.md
  README.md
Due: none

docs: fix updating_to_v1 link in README.md (#890)
  README.md
Due: none

fix: pretty printing of MaxPool Layer
  Project.toml
  src/layers/display.jl
  src/layers/pooling.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: pretty printing of MaxPool Layer (#891)
  Project.toml
  src/layers/display.jl
  src/layers/pooling.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

ci(buildkite): use GPU runner for the SimpleChains build
  docs/tutorials.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

test: add tests comparing the fused op with unfused op
  lib/LuxLib/Project.toml
  lib/LuxLib/test/common_ops/dense_tests.jl
Due: none

fix: improve load times by moving CRC to ext
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesChainRulesCoreExt.jl
  lib/MLDataDevices/src/MLDataDevices.jl
  lib/MLDataDevices/src/public.jl
Due: none

fix: remove UnrolledUtilities dep
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/src/internal.jl
Due: none

fix: remove UnrolledUtilities dep
  Project.toml
  src/Lux.jl
  src/helpers/losses.jl
  src/helpers/recursive_ops.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

test: eltype matching tests run outside of error mode
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: dropout tests are no longer broken
  lib/LuxLib/test/common_ops/dropout_tests.jl
Due: none

chore: bump minimum MLDataDevices version
  lib/LuxLib/Project.toml
Due: none

fix: remove UnrolledUtilities dep
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/impl/Impl.jl
  lib/LuxLib/src/traits.jl
  lib/LuxLib/src/utils.jl
Due: none

fix: use `Enzyme.make_zero` for type stability
  Project.toml
  ext/LuxEnzymeExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

refactor: cleanup training using setfield
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

refactor: use setfield and make make_zero!! type-stable
  ext/LuxEnzymeExt/LuxEnzymeExt.jl
  ext/LuxEnzymeExt/training.jl
  ext/LuxReverseDiffExt/LuxReverseDiffExt.jl
  ext/LuxReverseDiffExt/training.jl
  ext/LuxTrackerExt/LuxTrackerExt.jl
  ext/LuxTrackerExt/training.jl
  src/helpers/recursive_ops.jl
  src/helpers/training.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

docs: add an Optimization.jl tutorial showcasing lazy data movement
  docs/make.jl
  docs/src/.vitepress/config.mts
  docs/src/public/optimization_integration.png
  docs/src/tutorials/index.md
  docs/tutorials.jl
  examples/OptimizationIntegration/Project.toml
  examples/OptimizationIntegration/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: accidentally left deprecations file
  lib/LuxLib/src/deprecations.jl
Due: none

CompatHelper: bump compat for Boltz to 1 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for Literate at version 2 for package PINN2DPDE, (keep existing compat)
  examples/PINN2DPDE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for MLUtils at version 0.4 for package PINN2DPDE, (keep existing compat)
  examples/PINN2DPDE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml
