Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/benchmark.yml:
  command: buildkite-agent pipeline upload .buildkite/benchmark.yml
  agents:
    queue: juliagpu

chore: bound scimlsensitivity
  examples/NeuralODE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

refactor: use luxdeviceutils for device dispatch
  lib/LuxLib/.typos.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibCUDAExt/cublaslt.jl
  lib/LuxLib/ext/LuxLibCUDAExt/fused_dense.jl
  lib/LuxLib/ext/LuxLibForwardDiffExt.jl
  lib/LuxLib/ext/LuxLibReverseDiffExt.jl
  lib/LuxLib/ext/LuxLibTrackerAMDGPUExt.jl
  lib/LuxLib/ext/LuxLibcuDNNExt/LuxLibcuDNNExt.jl
  lib/LuxLib/ext/LuxLibcuDNNExt/batchnorm.jl
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/api/dropout.jl
  lib/LuxLib/src/impl/fast_activation.jl
  lib/LuxLib/src/impl/fused_conv.jl
  lib/LuxLib/src/impl/fused_dense.jl
  lib/LuxLib/src/impl/normalization.jl
  lib/LuxLib/src/utils.jl
  lib/LuxLib/test/common_ops/conv_tests.jl
  lib/LuxLib/test/others/qa_tests.jl
  lib/LuxLib/test/shared_testsetup.jl
Due: none

chore: bump simplechains version (#749)
  Project.toml
  examples/NeuralODE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: bump version
  lib/LuxLib/Project.toml
Due: none

ci(github-actions): update to common workflows
  lib/MLDataDevices/.github/workflows/CI.yml
  lib/MLDataDevices/.github/workflows/Downgrade.yml
  lib/MLDataDevices/.github/workflows/FormatCheck.yml
  lib/MLDataDevices/.github/workflows/FormatPR.yml
  lib/MLDataDevices/.github/workflows/Invalidations.yml
  lib/MLDataDevices/.github/workflows/QualityCheck.yml
Due: none

CompatHelper: bump compat for SciMLSensitivity to 7 for package NeuralODE, (keep existing compat)
  examples/NeuralODE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

ci(buildkite): update to common workflows
  lib/MLDataDevices/.buildkite/pipeline.yml
  lib/MLDataDevices/.buildkite/scripts/diff.sh
  lib/MLDataDevices/.buildkite/scripts/downstream.jl
  lib/MLDataDevices/.buildkite/scripts/find_branch_point.sh
  lib/MLDataDevices/.buildkite/testing.yml
Due: none

test: cleanup tests and avoid interference
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/test/amdgpu_tests.jl
  lib/MLDataDevices/test/cuda_tests.jl
  lib/MLDataDevices/test/explicit_imports.jl
  lib/MLDataDevices/test/metal_tests.jl
  lib/MLDataDevices/test/misc_tests.jl
  lib/MLDataDevices/test/oneapi_tests.jl
  lib/MLDataDevices/test/qa_tests.jl
  lib/MLDataDevices/test/runtests.jl
Due: none

ci(github-actions): redundant workflow + formatpr
  lib/MLDataDevices/.github/workflows/Downstream.yml
  lib/MLDataDevices/.github/workflows/FormatPR.yml
  lib/MLDataDevices/test/qa_tests.jl
  lib/MLDataDevices/test/runtests.jl
Due: none

ci(codecov): remove codecov.yml
  lib/MLDataDevices/codecov.yml
Due: none

chore: apply suggestions from code review
  examples/NeuralODE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: use dispatch doctor on `apply`
  lib/LuxCore/Project.toml
  lib/LuxCore/codecov.yml
  lib/LuxCore/src/LuxCore.jl
Due: none

ci: more robust testing and ci (#28)
  lib/WeightInitializers/.buildkite/pipeline.yml
  lib/WeightInitializers/.buildkite/scripts/diff.sh
  lib/WeightInitializers/.buildkite/scripts/downstream.jl
  lib/WeightInitializers/.buildkite/scripts/find_branch_point.sh
  lib/WeightInitializers/.buildkite/testing.yml
  lib/WeightInitializers/.github/workflows/CI.yml
  lib/WeightInitializers/Project.toml
  lib/WeightInitializers/test/qa_tests.jl
Due: none

fix: upstream fix of zygote type stability (#81)
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/normalization.jl
Due: none

chore: fix docs links (#50)
  lib/MLDataDevices/README.md
Due: none

ci(codecov): remove codecov.yml
  lib/LuxCore/Project.toml
  lib/LuxCore/codecov.yml
  lib/LuxCore/src/LuxCore.jl
Due: none

docs: restructure the manual entries a bit
  docs/src/.vitepress/config.mts
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

refactor: simplify `check_fmap_condition`
  lib/LuxCore/Project.toml
  lib/LuxCore/src/LuxCore.jl
Due: none

docs: restructure the manual entries a bit (#751)
  docs/src/.vitepress/config.mts
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Re-add the tests
  src/layers/recurrent.jl
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

remove isnothing
  src/layers/recurrent.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: handle reverse for operator overloading AD
  ext/LuxReverseDiffExt/LuxReverseDiffExt.jl
  ext/LuxTrackerExt.jl
  src/layers/basic.jl
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: allow debug modes for recurrent layers
  src/Lux.jl
  src/contrib/debug.jl
  src/layers/display.jl
  src/layers/recurrent.jl
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

add applybidirectional() TODO
  src/layers/recurrent.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

update Bidirectional implementation
  src/layers/recurrent.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

designe Bidirectional interface
  src/layers/recurrent.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

update test
  docs/src/api/Lux/layers.md
  src/Lux.jl
  src/layers/recurrent.jl
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: avoid lazy reverse
  src/layers/basic.jl
  test/layers/basic_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

update
  src/layers/recurrent.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

add Bidirectional test
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

update birnn docs
  src/layers/recurrent.jl
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

update implementation
  docs/src/api/Lux/layers.md
  src/Lux.jl
  src/layers/recurrent.jl
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: soa/aos handling for multigate
  ext/LuxReverseDiffExt/LuxReverseDiffExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

feat: bidirectional RNN + debugging RNNs (#708)
  docs/src/api/Lux/layers.md
  ext/LuxReverseDiffExt/LuxReverseDiffExt.jl
  ext/LuxTrackerExt.jl
  src/Lux.jl
  src/contrib/debug.jl
  src/layers/basic.jl
  src/layers/display.jl
  src/layers/recurrent.jl
  src/utils.jl
  test/layers/basic_tests.jl
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: update version for release
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

docs: fix typo in preferences
  docs/src/manual/preferences.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

refactor: bring Optimisers.jl into main deps
  Project.toml
  ext/LuxOptimisersExt.jl
  src/Lux.jl
  src/contrib/contrib.jl
  src/contrib/training.jl
  src/distributed/public_api.jl
  src/layers/extension.jl
  src/transform/flux.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

refactor(reversediff): move things into files
  ext/LuxReverseDiffExt/LuxReverseDiffExt.jl
  ext/LuxReverseDiffExt/apply.jl
  ext/LuxReverseDiffExt/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/
  buildkite-agent pipeline upload .buildkite/benchmark.yml: any of: src/, ext/, test/, Project.toml, benchmark/
