Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/benchmarks.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, benchmarks/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/

CompatHelper: add new compat entry for Optimisers at version 0.4 for package RealNVP, (keep existing compat)
  examples/RealNVP/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for ConcreteStructs at version 0.2 for package RealNVP, (keep existing compat)
  examples/RealNVP/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for Lux at version 1 for package RealNVP, (keep existing compat)
  examples/RealNVP/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for MLUtils at version 0.4 for package RealNVP, (keep existing compat)
  examples/RealNVP/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for Enzyme at version 0.13 for package RealNVP, (keep existing compat)
  examples/RealNVP/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for Statistics at version 1 for package RealNVP, (keep existing compat)
  examples/RealNVP/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: add compat entries
  examples/RealNVP/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: bump Zygote version
  Project.toml
  docs/Project.toml
  examples/Basics/Project.toml
  examples/BayesianNN/Project.toml
  examples/CIFAR10/Project.toml
  examples/DDIM/Project.toml
  examples/HyperNet/Project.toml
  examples/ImageNet/Project.toml
  examples/NeuralODE/Project.toml
  examples/SimpleChains/Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxTestUtils/Project.toml
  lib/MLDataDevices/test/Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: bump componentarrays version
  Project.toml
  docs/Project.toml
  examples/Basics/Project.toml
  examples/GravitationalWaveForm/Project.toml
  examples/HyperNet/Project.toml
  examples/HyperNet/main.jl
  examples/NeuralODE/Project.toml
  examples/OptimizationIntegration/Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/test/Project.toml
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/test/Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: unthunk order
  lib/LuxLib/src/impl/conv.jl
  lib/LuxLib/src/impl/dropout.jl
  src/autodiff/forwarddiff.jl
  src/autodiff/nested_autodiff.jl
  src/layers/extension.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: aggressively thunk and unthunk
  docs/src/manual/compiling_lux_models.md
  docs/src/manual/exporting_to_jax.md
  docs/src/manual/nested_autodiff.md
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibcuDNNExt/LuxLibcuDNNExt.jl
  lib/LuxLib/src/impl/Impl.jl
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/batched_mul.jl
  lib/LuxLib/src/impl/batchnorm.jl
  lib/LuxLib/src/impl/bias_activation.jl
  lib/LuxLib/src/impl/common_ops.jl
  lib/LuxLib/src/impl/conv.jl
  lib/LuxLib/src/impl/dense.jl
  lib/LuxLib/src/impl/dropout.jl
  lib/LuxLib/src/impl/groupnorm.jl
  lib/LuxLib/src/impl/matmul.jl
  lib/LuxLib/src/utils.jl
  src/autodiff/autodiff.jl
  src/autodiff/batched_autodiff.jl
  src/autodiff/forwarddiff.jl
  src/autodiff/nested_autodiff.jl
  src/autodiff/utils.jl
  src/extended_ops.jl
  src/layers/extension.jl
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: update training api to account for thunking
  ext/LuxZygoteExt/training.jl
  lib/LuxLib/src/impl/bias_activation.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: eachslice adjoint
  lib/LuxLib/src/impl/bias_activation.jl
  src/extended_ops.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: more fixes
  Project.toml
  src/autodiff/nested_autodiff.jl
  src/contrib/debug.jl
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: bump minimum versions
  Project.toml
  docs/Project.toml
  examples/CIFAR10/Project.toml
  examples/ConvolutionalVAE/Project.toml
  examples/GCN_Cora/Project.toml
  examples/PINN2DPDE/Project.toml
  examples/PolynomialFitting/Project.toml
  examples/RealNVP/Project.toml
  examples/SimpleChains/Project.toml
  examples/SimpleRNN/Project.toml
  lib/LuxCore/Project.toml
  lib/LuxLib/Project.toml
  lib/MLDataDevices/Project.toml
  lib/WeightInitializers/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: remove windows and mac for now
  .github/workflows/CI.yml
  .github/workflows/CI_LuxLib.yml
Due: none

ci: disable benchmarks for now
  .buildkite/pipeline.yml
  .github/workflows/Benchmark.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: more fixes
  docs/src/manual/debugging.md
  lib/MLDataDevices/ext/MLDataDevicesChainRulesCoreExt.jl
  src/autodiff/forwarddiff.jl
  src/helpers/recursive_ops.jl
  test/contrib/debug_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: remove Zygote type inference testing
  lib/LuxLib/src/impl/conv.jl
  lib/LuxLib/src/utils.jl
  lib/LuxLib/test/common_ops/activation_tests.jl
  lib/LuxLib/test/common_ops/bias_act_tests.jl
  lib/LuxLib/test/common_ops/conv_tests.jl
  lib/LuxLib/test/common_ops/dense_tests.jl
  lib/LuxLib/test/common_ops/dropout_tests.jl
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  lib/LuxLib/test/normalization/groupnorm_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
  lib/LuxLib/test/normalization/layernorm_tests.jl
  lib/MLDataDevices/ext/MLDataDevicesChainRulesCoreExt.jl
  src/utils.jl
  test/helpers/compact_tests.jl
  test/helpers/loss_tests.jl
  test/zygote_type_stability.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: remove kernel example
  docs/src/.vitepress/config.mts
  docs/src/manual/nn_inside_gpu_kernels.md
  lib/LuxLib/src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: relax input types
  lib/LuxLib/Project.toml
  lib/LuxLib/src/api/groupnorm.jl
  lib/LuxLib/src/api/instancenorm.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Update lib/LuxLib/src/api/instancenorm.jl
  lib/LuxLib/src/api/instancenorm.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: relax input types (#1226)
  lib/LuxLib/Project.toml
  lib/LuxLib/src/api/groupnorm.jl
  lib/LuxLib/src/api/instancenorm.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: compile hypernet with reactant
  examples/HyperNet/Project.toml
  examples/HyperNet/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: show how to use model explorer
  docs/src/.vitepress/config.mts
  docs/src/manual/exporting_to_jax.md
  docs/src/manual/visualize_lux_models.md
  docs/src/public/model_explorer_graph_backward_pass.png
  docs/src/public/model_explorer_graph_forward_pass.png
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: show how to use model explorer (#1228)
  docs/src/.vitepress/config.mts
  docs/src/manual/exporting_to_jax.md
  docs/src/manual/visualize_lux_models.md
  docs/src/public/model_explorer_graph_backward_pass.png
  docs/src/public/model_explorer_graph_forward_pass.png
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: missing id annotation
  docs/src/manual/exporting_to_jax.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Update index.md
  docs/src/index.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: small grammar typo "to compiler models" => "to compile models"
  docs/src/index.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for MKL in [weakdeps] to 0.8 for package LuxLib, (keep existing compat)
  lib/LuxLib/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: implement for return sequence
  ext/LuxReactantExt/layers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: don't unroll Recurrence
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/layers.jl
  ext/LuxReactantExt/patches.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: more tests
  ext/LuxReactantExt/layers.jl
  test/reactant/layer_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: bump Reactant
  Project.toml
  docs/Project.toml
  examples/CIFAR10/Project.toml
  examples/ConvolutionalVAE/Project.toml
  examples/GCN_Cora/Project.toml
  examples/PINN2DPDE/Project.toml
  examples/PolynomialFitting/Project.toml
  examples/RealNVP/Project.toml
  examples/SimpleChains/Project.toml
  examples/SimpleRNN/Project.toml
  lib/LuxCore/Project.toml
  lib/LuxLib/Project.toml
  lib/MLDataDevices/Project.toml
  lib/WeightInitializers/Project.toml
  test/reactant/layer_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: MLDataDevices patch for device changes
  Project.toml
  docs/Project.toml
  examples/ImageNet/Project.toml
  lib/LuxCore/Project.toml
  lib/LuxCore/test/Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxTestUtils/Project.toml
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: don't unroll Recurrence (#1209)
  Project.toml
  docs/Project.toml
  examples/CIFAR10/Project.toml
  examples/ConvolutionalVAE/Project.toml
  examples/GCN_Cora/Project.toml
  examples/ImageNet/Project.toml
  examples/PINN2DPDE/Project.toml
  examples/PolynomialFitting/Project.toml
  examples/RealNVP/Project.toml
  examples/SimpleChains/Project.toml
  examples/SimpleRNN/Project.toml
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/layers.jl
  ext/LuxReactantExt/patches.jl
  lib/LuxCore/Project.toml
  lib/LuxCore/test/Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxTestUtils/Project.toml
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
  lib/WeightInitializers/Project.toml
  test/Project.toml
  test/reactant/layer_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml
