Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/

chore: setup to use latest reactant
  Project.toml
  docs/Project.toml
  examples/CIFAR10/Project.toml
  examples/ConvolutionalVAE/Project.toml
  examples/GCN_Cora/Project.toml
  examples/HyperNet/Project.toml
  examples/LSTMEncoderDecoder/Project.toml
  examples/PINN2DPDE/Project.toml
  examples/PolynomialFitting/Project.toml
  examples/RealNVP/Project.toml
  examples/SimpleChains/Project.toml
  examples/SimpleRNN/Project.toml
  lib/LuxCore/Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibReactantExt/LuxLibReactantExt.jl
  lib/LuxLib/ext/LuxLibReactantExt/batchnorm.jl
  lib/MLDataDevices/Project.toml
  lib/WeightInitializers/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: overload batchnorm for Reactant
  lib/LuxLib/ext/LuxLibReactantExt/batchnorm.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: bump lux version
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: missing module
  examples/LSTMEncoderDecoder/main.jl
  lib/LuxLib/ext/LuxLibReactantExt/batchnorm.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: emit batchnorm ops (#1336)
  Project.toml
  docs/Project.toml
  examples/CIFAR10/Project.toml
  examples/ConvolutionalVAE/Project.toml
  examples/GCN_Cora/Project.toml
  examples/HyperNet/Project.toml
  examples/LSTMEncoderDecoder/Project.toml
  examples/LSTMEncoderDecoder/main.jl
  examples/PINN2DPDE/Project.toml
  examples/PolynomialFitting/Project.toml
  examples/RealNVP/Project.toml
  examples/SimpleChains/Project.toml
  examples/SimpleRNN/Project.toml
  lib/LuxCore/Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibReactantExt/LuxLibReactantExt.jl
  lib/LuxLib/ext/LuxLibReactantExt/batchnorm.jl
  lib/MLDataDevices/Project.toml
  lib/WeightInitializers/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: reactant patch
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Update Project.toml
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: run more under with_config
  examples/ConvolutionalVAE/main.jl
  examples/GCN_Cora/main.jl
  examples/HyperNet/main.jl
  examples/LSTMEncoderDecoder/main.jl
  examples/PolynomialFitting/main.jl
  examples/SimpleChains/main.jl
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: run more under with_config (#1340)
  examples/ConvolutionalVAE/main.jl
  examples/GCN_Cora/main.jl
  examples/HyperNet/main.jl
  examples/LSTMEncoderDecoder/main.jl
  examples/PolynomialFitting/main.jl
  examples/SimpleChains/main.jl
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: update to use the new RNG from Reactant
  Project.toml
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/training.jl
  lib/LuxCore/Project.toml
  lib/LuxCore/ext/LuxCoreReactantExt.jl
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
  lib/MLDataDevices/test/xla_tests.jl
  lib/WeightInitializers/Project.toml
  lib/WeightInitializers/ext/WeightInitializersReactantExt.jl
  test/reactant/layer_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: double version bump
  Project.toml
  lib/LuxCore/Project.toml
  lib/MLDataDevices/Project.toml
  lib/WeightInitializers/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: bump reactantcore
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: update to use the new RNG from Reactant (#1341)
  Project.toml
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/training.jl
  lib/LuxCore/Project.toml
  lib/LuxCore/ext/LuxCoreReactantExt.jl
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
  lib/MLDataDevices/test/xla_tests.jl
  lib/WeightInitializers/Project.toml
  lib/WeightInitializers/ext/WeightInitializersReactantExt.jl
  test/reactant/layer_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: use return type annotation for gradients
  Project.toml
  examples/CIFAR10/common.jl
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: use return type annotation for gradients
  Project.toml
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: run formatter
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: workers + only run docs on tag
  .buildkite/pipeline.yml
  ext/LuxReactantExt/LuxReactantExt.jl
  lib/LuxLib/test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: more workers for amdgpu
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

test: drop unwanted tests + better labels
  .buildkite/pipeline.yml
  .buildkite/testing.yml
  test/qa_tests.jl
  test/runtests.jl
  test/transform/simple_chains_tests.jl
  test/zygote_type_stability.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: taming down ci timings (#1343)
  .buildkite/pipeline.yml
  .buildkite/testing.yml
  ext/LuxReactantExt/LuxReactantExt.jl
  lib/LuxLib/test/runtests.jl
  test/qa_tests.jl
  test/runtests.jl
  test/transform/simple_chains_tests.jl
  test/zygote_type_stability.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: remove onehotarrays patch
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesOneHotArraysExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

refactor: XLA -> Reactant
  .buildkite/testing_mldatadevices.yml
  .github/workflows/CI_MLDataDevices.yml
  lib/MLDataDevices/README.md
  lib/MLDataDevices/ext/MLDataDevicesOneHotArraysExt.jl
  lib/MLDataDevices/src/internal.jl
  lib/MLDataDevices/src/public.jl
  lib/MLDataDevices/test/iterator_tests.jl
  lib/MLDataDevices/test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: test
  lib/MLDataDevices/test/misc_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: name
  lib/MLDataDevices/test/reactant_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: bump min versions
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: remove onehotarrays patch (#1344)
  .buildkite/testing_mldatadevices.yml
  .github/workflows/CI_MLDataDevices.yml
  Project.toml
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/README.md
  lib/MLDataDevices/ext/MLDataDevicesOneHotArraysExt.jl
  lib/MLDataDevices/src/internal.jl
  lib/MLDataDevices/src/public.jl
  lib/MLDataDevices/test/iterator_tests.jl
  lib/MLDataDevices/test/misc_tests.jl
  lib/MLDataDevices/test/reactant_tests.jl
  lib/MLDataDevices/test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: run formatter
  perf/Project.toml
  perf/resnet/lux.jl
  perf/resnet/reactant.jl
  perf/resnet/resnet.jl
Due: none

perf: add direct Lux + CUDA numbers
  perf/Project.toml
  perf/README.md
  perf/resnet/lux.jl
  perf/resnet/lux_reactant.jl
Due: none

fix: mark time as -1
  perf/resnet/lux.jl
  perf/resnet/reactant.jl
Due: none

chore: jax results
  perf/results/resnet/jax.json
  perf/results/resnet/reactant.json
Due: none

chore: run formatter
  perf/resnet/lux.jl
  perf/resnet/reactant.jl
  perf/resnet/resnet.jl
Due: none

perf: force sync
  perf/resnet/lux_reactant.jl
Due: none

chore: up versions
  perf/pyproject.toml
Due: none

fix: bench with defaults
  perf/resnet/reactant.jl
  perf/results/resnet/cudajl.json
  perf/results/resnet/jax.json
Due: none

fix: avoid the largest model for now
  perf/resnet/lux.jl
  perf/resnet/main.py
  perf/resnet/reactant.jl
Due: none

fix: initial bwd timings
  perf/README.md
  perf/resnet/lux.jl
  perf/resnet/main.py
  perf/resnet/reactant.jl
Due: none

perf: add comparisons to JAX
  .gitignore
  perf/Project.toml
  perf/README.md
  perf/pyproject.toml
  perf/resnet/main.jl
  perf/resnet/main.py
Due: none

perf: more performance numbers
  perf/README.md
Due: none

perf: cuda.jl numbers
  perf/Project.toml
  perf/resnet/lux.jl
  perf/results/resnet/cudajl.json
  perf/results/resnet/jax.json
  perf/results/resnet/reactant.json
Due: none
