Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/

ci: fix lux backend group
  .github/workflows/CI.yml
Due: none

ci: streamline ci testing (#1415)
  .buildkite/testing.yml
  .buildkite/testing_luxcuda.yml
  .buildkite/testing_luxlib.yml
  .buildkite/testing_luxtestutils.yml
  .buildkite/testing_mldatadevices.yml
  .buildkite/testing_weightinitializers.yml
  .github/workflows/CI.yml
  .github/workflows/CIPreRelease.yml
  .github/workflows/CI_LuxCUDA.yml
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_LuxLib.yml
  .github/workflows/CI_LuxTestUtils.yml
  .github/workflows/CI_MLDataDevices.yml
  .github/workflows/CI_WeightInitializers.yml
  .github/workflows/CommonCI.yml
  .github/workflows/Downstream.yml
  lib/LuxCore/test/Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/runtests.jl
  lib/LuxTestUtils/Project.toml
  lib/MLDataDevices/test/Project.toml
  lib/MLDataDevices/test/iterator_tests.jl
  lib/MLDataDevices/test/misc_tests.jl
  lib/MLDataDevices/test/runtests.jl
  lib/WeightInitializers/test/runtests.jl
  test/Project.toml
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: update common ci
  .github/workflows/CommonCI.yml
Due: none

fix: use the new dispatch
  docs/src/manual/nested_autodiff.md
  examples/DDIM/main.jl
  examples/GravitationalWaveForm/main.jl
  examples/LSTMEncoderDecoder/main.jl
  examples/NeuralODE/main.jl
  examples/OptimizationIntegration/main.jl
  examples/PINN2DPDE/main.jl
  examples/RealNVP/main.jl
  lib/LuxCore/src/LuxCore.jl
  src/helpers/compact.jl
  src/helpers/stateful.jl
  src/layers/attention.jl
  test/autodiff/batched_autodiff_tests.jl
  test/autodiff/nested_autodiff_tests.jl
  test/helpers/stateful_tests.jl
  test/reactant/tracing_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: use preserves_state_type in Lux
  Project.toml
  docs/src/api/Building_Blocks/LuxCore.md
  lib/LuxCore/src/LuxCore.jl
  src/helpers/stateful.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: add `preserves_state_type` to the interface
  lib/LuxCore/Project.toml
  lib/LuxCore/src/LuxCore.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: explicit imports
  lib/LuxLib/ext/LuxLibMooncakeExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: overload
  src/Lux.jl
  src/helpers/stateful.jl
  src/layers/dropout.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: add `preserves_state_type` to the interface (#1401)
  Project.toml
  docs/src/api/Building_Blocks/LuxCore.md
  docs/src/manual/nested_autodiff.md
  examples/DDIM/main.jl
  examples/GravitationalWaveForm/main.jl
  examples/LSTMEncoderDecoder/main.jl
  examples/NeuralODE/main.jl
  examples/OptimizationIntegration/main.jl
  examples/PINN2DPDE/main.jl
  examples/RealNVP/main.jl
  lib/LuxCore/Project.toml
  lib/LuxCore/src/LuxCore.jl
  lib/LuxLib/ext/LuxLibMooncakeExt.jl
  src/Lux.jl
  src/helpers/compact.jl
  src/helpers/stateful.jl
  src/layers/attention.jl
  src/layers/dropout.jl
  test/autodiff/batched_autodiff_tests.jl
  test/autodiff/nested_autodiff_tests.jl
  test/helpers/stateful_tests.jl
  test/reactant/tracing_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: dont run downgrade on main
  .github/workflows/CommonCI.yml
Due: none

feat: use preserves_state_type in Lux
  lib/LuxCore/src/LuxCore.jl
  src/helpers/stateful.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

refactor: move stateful layer into luxcore
  lib/LuxCore/ext/LuxCoreChainRulesCoreExt.jl
  lib/LuxCore/ext/LuxCoreFunctorsExt.jl
  lib/LuxCore/src/LuxCore.jl
  lib/LuxCore/src/custom_layer_interface.jl
  lib/LuxCore/src/stateful.jl
  src/helpers/compact.jl
  src/helpers/stateful.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: add `preserves_state_type` to the interface
  lib/LuxCore/src/LuxCore.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: overload
  src/helpers/stateful.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Improve logic for printing updates on an epoch
  docs/src/introduction/index.md
  examples/Basics/main.jl
  examples/OptimizationIntegration/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Allow specifying number of epochs to train in introduction/index.md
  docs/src/introduction/index.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Add RealNVP with RQS implementation and Reactant compatibility analysis
  examples/RealNVP/ISSUE_RQS_REACTANT_INCOMPATIBILITY.md
  examples/RealNVP/Project.toml
  examples/RealNVP/docs/adr_rqs_split.md
  examples/RealNVP/docs/rqs_spec.md
  examples/RealNVP/examples/trace_rqs_forward.jl
  examples/RealNVP/main_rqs.jl
  examples/RealNVP/prompt.md
  examples/RealNVP/reports/m0_spec.md
  examples/RealNVP/reports/m1_forward.md
  examples/RealNVP/reports/m2_inverse.md
  examples/RealNVP/reports/m3_trace_mem.md
  examples/RealNVP/src/rqs/rqs01_forward.jl
  examples/RealNVP/src/rqs/rqs01_inverse.jl
  examples/RealNVP/src/rqs/rqs_wrapper_gather.jl
  examples/RealNVP/test/rqs/test_rqs01_forward.jl
  examples/RealNVP/test/rqs/test_rqs01_inverse.jl
  examples/RealNVP/test/rqs/test_wrapper_gather.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: missing
  lib/LuxCore/src/stateful.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: improve logic for printing updates on an epoch (#1417)
  docs/src/introduction/index.md
  examples/Basics/main.jl
  examples/OptimizationIntegration/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: fix mooncake circular dep
  Project.toml
  ext/LuxMooncakeExt/LuxMooncakeExt.jl
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibMooncakeExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: fix mooncake circular dep (#1421)
  Project.toml
  ext/LuxMooncakeExt/LuxMooncakeExt.jl
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibMooncakeExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: fix double bump
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: handle numerical stability issues
  examples/ConvolutionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: finish
  examples/ConvolutionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: migrate DDIM to Reactant
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: update DDIM
  examples/DDIM/Project.toml
  examples/DDIM/README.md
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: more fixes
  examples/DDIM/main.jl
  ext/LuxReactantExt/LuxReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: use BN
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: some more progress
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
  ext/LuxReactantExt/LuxReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: check against NaNs in images
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: compile loop [skip ci]
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
  lib/LuxCore/ext/LuxCoreReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml
