Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/benchmark.yml:
  command: buildkite-agent pipeline upload .buildkite/benchmark.yml
  agents:
    queue: juliagpu

fix: drop very old ADTypes
  Project.toml
  bench/Project.toml
  bench/runbenchmarks.jl
  ext/LuxReverseDiffExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: move the Training tests into a different group
  test/helpers/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

docs: update docs location for Training
  docs/src/api/Lux/contrib.md
  docs/src/api/Lux/utilities.md
  examples/Basics/main.jl
  examples/ConvMixer/main.jl
  examples/DDIM/main.jl
  examples/HyperNet/main.jl
  examples/NeuralODE/main.jl
  examples/PolynomialFitting/main.jl
  examples/SimpleChains/main.jl
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

revert: re-add unused LuxCore imports
  src/Lux.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: missing module
  src/helpers/training.jl
  test/helpers/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

refactor: move training functions into `Training` module
  Project.toml
  src/Lux.jl
  src/contrib/contrib.jl
  src/contrib/deprecated.jl
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

refactor: remove Experimental usage in extensions
  ext/LuxEnzymeExt/LuxEnzymeExt.jl
  ext/LuxEnzymeExt/training.jl
  ext/LuxReverseDiffExt/LuxReverseDiffExt.jl
  ext/LuxReverseDiffExt/training.jl
  ext/LuxTrackerExt.jl
  ext/LuxZygoteExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

feat(reactant): compile `single_train_step!` using `Reactant`
  Project.toml
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/optimizers.jl
  ext/LuxReactantExt/train.jl
  ext/LuxReactantExt/utils.jl
  src/Lux.jl
  src/helpers/training.jl
  src/transform/reactant.jl
  test/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

refactor(reactant): avoid potential name conflict with ADTypes
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/train.jl
  ext/LuxReactantExt/utils.jl
  src/Lux.jl
  src/compilers.jl
  src/helpers/training.jl
  src/transform/reactant.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

feat(reactant): auto compile inference mode if possible
  ext/LuxReactantExt/training.jl
  src/compilers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: tstate inference should return the state
  ext/LuxReactantExt/training.jl
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

refactor(reactant): uniform naming across extensions
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/training.jl
  ext/LuxReactantExt/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

feat(training): add inference mode for `TrainState`
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

refactor(reactant): move optimisers into main pkg
  Project.toml
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/optimizers.jl
  ext/LuxReactantExt/training.jl
  src/Lux.jl
  src/helpers/simple_optimizers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: format suggestion
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: handle cpu no scalar indexing
  lib/LuxLib/Project.toml
  lib/LuxLib/src/utils.jl
  lib/LuxLib/test/common_ops/dense_tests.jl
Due: none

feat: add warning on attempting to move architecture
  lib/LuxCore/Project.toml
  lib/LuxCore/ext/LuxCoreMLDataDevicesExt.jl
  lib/LuxCore/test/runtests.jl
Due: none

feat: improved fallback BN implementation
  lib/LuxLib/.buildkite/testing.yml
  lib/LuxLib/src/api/batchnorm.jl
  lib/LuxLib/src/impl/affine_normalize.jl
  lib/LuxLib/src/impl/normalization.jl
  lib/LuxLib/src/utils.jl
Due: none

chore: bump version
  lib/LuxLib/Project.toml
Due: none

refactor: migrate to `MLDataDevices`
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/impl/fused_conv.jl
  lib/LuxLib/src/impl/fused_dense.jl
  lib/LuxLib/src/utils.jl
  lib/LuxLib/test/shared_testsetup.jl
Due: none

ci: try fixing CI
  lib/LuxLib/.github/workflows/CI.yml
  lib/LuxLib/Project.toml
Due: none

test: remove redundant timeout
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

refactor: use xlogx xlogy from LogExpFunctions
  Project.toml
  src/Lux.jl
  src/chainrules.jl
  src/helpers/losses.jl
  src/utils.jl
  test/helpers/loss_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: remove old usage of TrainState
  examples/ConvMixer/main.jl
  examples/DDIM/main.jl
  examples/HyperNet/main.jl
  examples/PolynomialFitting/main.jl
  examples/SimpleChains/main.jl
  examples/SimpleRNN/main.jl
  test/helpers/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: remove uses of disable_optimizations
  bench/vgg.jl
  docs/src/manual/debugging.md
  docs/src/manual/freezing_model_parameters.md
  examples/SymbolicOptimalControl/main.jl
  ext/LuxFluxExt.jl
  ext/LuxSimpleChainsExt.jl
  src/layers/containers.jl
  test/contrib/debug_tests.jl
  test/layers/containers_tests.jl
  test/transform/simple_chains_tests.jl
  test/utils_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: test updates from new changes
  ext/LuxDynamicExpressionsExt.jl
  ext/LuxFluxExt.jl
  test/layers/conv_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore!: remove cpu/gpu/stacktrace_truncation
  Project.toml
  docs/src/api/Lux/utilities.md
  src/deprecated.jl
  test/utils_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: remove old versions
  docs/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: remove old `transform` export
  src/Lux.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

feat: reexport NNlib
  src/Lux.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore!: remove old preferences
  src/preferences.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: zygote type stability for wrapped function
  src/layers/basic.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix!: remove potentially incorrect Tracker gradients for SimpleChains
  ext/LuxTrackerExt.jl
  src/layers/extension.jl
  test/transform/simple_chains_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: format suggestion
  src/layers/basic.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore!: update layer_map/freeze
  docs/src/api/Lux/contrib.md
  docs/src/manual/freezing_model_parameters.md
  src/Lux.jl
  src/contrib/map.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/
  buildkite-agent pipeline upload .buildkite/benchmark.yml: any of: src/, ext/, test/, Project.toml, benchmark/
