Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxlib.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxlib.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/downstream.yml:
  command: buildkite-agent pipeline upload .buildkite/downstream.yml
  agents:
    queue: juliagpu

feat: script to dump perf numbers
  examples/Qwen3/generate_dumps.jl
Due: none

fix: isbits type support for GPU device transfer (#1587)
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/src/internal.jl
  lib/MLDataDevices/test/amdgpu_tests.jl
  lib/MLDataDevices/test/cuda_tests.jl
  lib/MLDataDevices/test/metal_tests.jl
  lib/MLDataDevices/test/oneapi_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: Recommend Reactant for AMD GPU support and add Tenstorrent backend (#1593)
  docs/src/index.md
  docs/src/introduction/index.md
  docs/src/manual/autodiff.md
  docs/src/manual/distributed_utils.md
  docs/src/manual/gpu_management.md
Due: none

docs: try fixing build
  docs/src/api/NN_Primitives/ActivationFunctions.md
  docs/tutorials.jl
Due: none

docs: try fixing build (#1594)
  docs/src/api/NN_Primitives/ActivationFunctions.md
  docs/tutorials.jl
Due: none

ci(docs): run all docs on cpu runners
  .github/workflows/Documentation.yml
  docs/tutorials.jl
Due: none

ci(docs): run all docs on cpu runners (#1595)
  .github/workflows/Documentation.yml
  docs/tutorials.jl
Due: none

address comments
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesOpenCLExt.jl
  lib/MLDataDevices/test/opencl_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Add 'opencl' to CI matrix groups
  .github/workflows/CI_MLDataDevices.yml
Due: none

address comments
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesOpenCLExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

format more files
  lib/MLDataDevices/test/eltype_tests.jl
  lib/MLDataDevices/test/iterator_tests.jl
  lib/MLDataDevices/test/misc_tests.jl
  lib/MLDataDevices/test/opencl_tests.jl
  lib/MLDataDevices/test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix
  lib/MLDataDevices/src/internal.jl
  lib/MLDataDevices/src/public.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

gemini recommended fixes
  lib/MLDataDevices/ext/MLDataDevicesOpenCLExt.jl
  lib/MLDataDevices/test/eltype_tests.jl
  lib/MLDataDevices/test/iterator_tests.jl
  lib/MLDataDevices/test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

add opencl support
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesOpenCLExt.jl
  lib/MLDataDevices/src/MLDataDevices.jl
  lib/MLDataDevices/src/internal.jl
  lib/MLDataDevices/src/public.jl
  lib/MLDataDevices/test/eltype_tests.jl
  lib/MLDataDevices/test/iterator_tests.jl
  lib/MLDataDevices/test/misc_tests.jl
  lib/MLDataDevices/test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

add opencl tests
  lib/MLDataDevices/test/opencl_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

minor test fixes
  lib/MLDataDevices/test/iterator_tests.jl
  lib/MLDataDevices/test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

use JuliaFormatter to format the file
  lib/MLDataDevices/ext/MLDataDevicesOpenCLExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

attempt to fix tests
  lib/MLDataDevices/test/iterator_tests.jl
  lib/MLDataDevices/test/opencl_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test fix
  lib/MLDataDevices/test/iterator_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

new functional and fix tests
  lib/MLDataDevices/ext/MLDataDevicesOpenCLExt.jl
  lib/MLDataDevices/test/opencl_tests.jl
  lib/MLDataDevices/test/openclcpu_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix typo
  lib/MLDataDevices/src/internal.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

enable opencl cpu fallback tests
  lib/MLDataDevices/test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: add OpenCL support to MLDataDevices (#1590)
  .github/workflows/CI_MLDataDevices.yml
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesOpenCLExt.jl
  lib/MLDataDevices/src/MLDataDevices.jl
  lib/MLDataDevices/src/internal.jl
  lib/MLDataDevices/src/public.jl
  lib/MLDataDevices/test/eltype_tests.jl
  lib/MLDataDevices/test/iterator_tests.jl
  lib/MLDataDevices/test/misc_tests.jl
  lib/MLDataDevices/test/opencl_tests.jl
  lib/MLDataDevices/test/openclcpu_tests.jl
  lib/MLDataDevices/test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: proper annotations for xprof
  Project.toml
  docs/Project.toml
  docs/src/manual/profiling_training_loop.md
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: allocator cache for oop operations
  ext/LuxGPUArraysExt.jl
  src/helpers/training.jl
  test/helpers/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

refactor: use a wrapper function for annotations
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

revert: use of easy_rule
  ext/LuxLossFunctionsExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: proper annotations for xprof (#1603)
  Project.toml
  docs/Project.toml
  docs/src/manual/profiling_training_loop.md
  ext/LuxGPUArraysExt.jl
  ext/LuxLossFunctionsExt.jl
  ext/LuxReactantExt/training.jl
  src/helpers/training.jl
  test/helpers/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Indent code blocks to make it part of ordered list
  src/layers/containers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Fix `@example` blocks in gpu_management.md
  docs/src/manual/gpu_management.md
Due: none

Combine `@example` blocks in gpu_management.md
  docs/src/manual/gpu_management.md
Due: none

docs: Indent code blocks to make it part of ordered list (#1570)
  src/layers/containers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: Fix `@example` blocks in gpu_management.md (#1571)
  docs/src/manual/gpu_management.md
Due: none

test: streamline installing packages in tests
  .buildkite/testing_weightinitializers.yml
  lib/LuxLib/test/runtests.jl
  lib/LuxLib/test/shared_testsetup.jl
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/package_install.jl
  lib/MLDataDevices/test/Project.toml
  lib/MLDataDevices/test/iterator_tests.jl
  lib/MLDataDevices/test/runtests.jl
  lib/WeightInitializers/test/Project.toml
  lib/WeightInitializers/test/initializers_tests.jl
  lib/WeightInitializers/test/runtests.jl
  lib/WeightInitializers/test/shared_testsetup.jl
  test/runtests.jl
  test/setup_modes.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: streamline installing packages in tests (#1583)
  .buildkite/testing_weightinitializers.yml
  lib/LuxLib/test/runtests.jl
  lib/LuxLib/test/shared_testsetup.jl
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/package_install.jl
  lib/MLDataDevices/test/Project.toml
  lib/MLDataDevices/test/iterator_tests.jl
  lib/MLDataDevices/test/runtests.jl
  lib/WeightInitializers/test/Project.toml
  lib/WeightInitializers/test/initializers_tests.jl
  lib/WeightInitializers/test/runtests.jl
  lib/WeightInitializers/test/shared_testsetup.jl
  test/runtests.jl
  test/setup_modes.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: forwarddiff support for gpu arrays
  Project.toml
  ext/LuxComponentArraysExt.jl
  src/helpers/forwarddiff_training.jl
  test/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: forwarddiff support for gpu arrays (#1605)
  Project.toml
  ext/LuxComponentArraysExt.jl
  src/helpers/forwarddiff_training.jl
  test/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: use new API to export jax models
  docs/Project.toml
  docs/src/manual/exporting_to_jax.md
Due: none

docs: use new API to export jax models (#1606)
  docs/Project.toml
  docs/src/manual/exporting_to_jax.md
Due: none

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/testing.yml, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/testing_luxcuda.yml
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/testing_weightinitializers.yml
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/testing_mldatadevices.yml
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/testing_luxlib.yml, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/testing_luxtestutils.yml
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/downstream.yml
