Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

.buildkite/pipeline.yml:

steps:
  - label: "Triggering Pipelines (Pull Request)"
    if: build.branch != "main" || build.tag == null
    agents:
      queue: "juliagpu"
    plugins:
      - monebag/monorepo-diff#v2.5.9:
          diff: ".buildkite/scripts/diff.sh $BUILDKITE_COMMIT"
          interpolation: false
          watch:
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - ".buildkite/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/testing.yml"
                agents:
                  queue: "juliagpu"
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - "docs/"
                - "examples/"
                - ".buildkite/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/documentation.yml"
                agents:
                  queue: "juliagpu"
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - ".buildkite/"
                - "benchmarks/"
              if: build.pull_request.labels includes "run benchmarks"
              config:
                command: "buildkite-agent pipeline upload .buildkite/benchmarks.yml"
                agents:
                  queue: "juliagpu"

  - label: "Triggering Pipelines (Main Branch / Tag)"
    if: build.branch == "main" || build.tag != null
    agents:
      queue: "juliagpu"
    command: |
      buildkite-agent pipeline upload .buildkite/testing.yml
      buildkite-agent pipeline upload .buildkite/documentation.yml
      buildkite-agent pipeline upload .buildkite/benchmarks.yml

CompatHelper: bump compat for Optimization to 4 for package OptimizationIntegration, (keep existing compat)
  examples/OptimizationIntegration/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for OptimizationOptimJL to 0.4 for package OptimizationIntegration, (keep existing compat)
  examples/OptimizationIntegration/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for OptimizationOptimisers to 0.3 for package OptimizationIntegration, (keep existing compat)
  examples/OptimizationIntegration/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: collapse docstrings by default
  docs/Project.toml
  docs/src/api/Accelerator_Support/MLDataDevices.md
  docs/src/api/Building_Blocks/LuxCore.md
  docs/src/api/Building_Blocks/LuxLib.md
  docs/src/api/Building_Blocks/WeightInitializers.md
  docs/src/api/Lux/autodiff.md
  docs/src/api/Lux/contrib.md
  docs/src/api/Lux/distributed_utils.md
  docs/src/api/Lux/interop.md
  docs/src/api/Lux/layers.md
  docs/src/api/Lux/utilities.md
  docs/src/api/Testing_Functionality/LuxTestUtils.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: try out the new version picker
  docs/package.json
  docs/src/.vitepress/config.mts
  docs/src/.vitepress/theme/index.ts
  docs/src/components/VersionPicker.vue
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

ci(buildkite): temporarily build on CUDA servers
  .buildkite/documentation.yml
  docs/src/api/Lux/interop.md
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

chore: bump minimum versions
  lib/LuxTestUtils/Project.toml
Due: none

chore: install latest enzyme version
  lib/LuxTestUtils/Project.toml
Due: none

chore: update Enzyme version
  lib/LuxTestUtils/Project.toml
Due: none

ci(buildkite): machines are back up
  .buildkite/documentation.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

feat: parallel fallback batchedmm
  lib/LuxLib/src/impl/batched_mul.jl
Due: none

ci(buildkite): disable testing for Metal and oneAPI
  lib/LuxLib/.buildkite/testing.yml
Due: none

feat: slow fallback conv impl
  lib/LuxLib/src/impl/conv.jl
Due: none

perf: benchmark fallback batched_matmul
  lib/LuxLib/benchmarks/setup.jl
Due: none

chore: bump version
  lib/LuxLib/Project.toml
Due: none

ci(buildkite): add GPU testing for Metal and oneAPI
  lib/LuxLib/.buildkite/testing.yml
  lib/LuxLib/test/runtests.jl
  lib/LuxLib/test/shared_testsetup.jl
Due: none

ci: update buildkite settings
  lib/LuxLib/.buildkite/pipeline.yml
  lib/LuxLib/test/Project.toml
Due: none

fix: dispatch for NNlib conv
  lib/LuxLib/.buildkite/testing.yml
  lib/LuxLib/src/impl/conv.jl
Due: none

test: check for FP64 support
  lib/LuxLib/src/impl/Impl.jl
  lib/LuxLib/src/impl/conv.jl
  lib/LuxLib/test/common_ops/activation_tests.jl
  lib/LuxLib/test/common_ops/bias_act_tests.jl
  lib/LuxLib/test/common_ops/conv_tests.jl
  lib/LuxLib/test/common_ops/dense_tests.jl
  lib/LuxLib/test/common_ops/dropout_tests.jl
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  lib/LuxLib/test/normalization/groupnorm_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
  lib/LuxLib/test/normalization/layernorm_tests.jl
  lib/LuxLib/test/others/bmm_tests.jl
  lib/LuxLib/test/others/forwarddiff_tests.jl
  lib/LuxLib/test/others/misc_tests.jl
  lib/LuxLib/test/shared_testsetup.jl
Due: none

feat: wider support for batched_matmul
  lib/LuxLib/src/impl/batched_mul.jl
Due: none

fix: convert element type before broadcasting
  lib/LuxLib/src/impl/conv.jl
  lib/LuxLib/src/impl/dropout.jl
Due: none

feat: update minimum version of Enzyme to 0.13
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/batched_mul.jl
  lib/LuxLib/src/utils.jl
  lib/LuxLib/test/Project.toml
Due: none

fix: use known on the return type
  lib/LuxLib/src/utils.jl
Due: none

fix: forward enzyme rules
  lib/LuxLib/src/utils.jl
Due: none

feat: support within_gradient for Enzyme
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibEnzymeExt.jl
  lib/LuxLib/src/utils.jl
Due: none

refactor: rename within_gradient to within_autodiff
  lib/LuxLib/ext/LuxLibReverseDiffExt.jl
  lib/LuxLib/ext/LuxLibTrackerExt.jl
  lib/LuxLib/src/utils.jl
Due: none

fix: update forward rules to new API
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/utils.jl
Due: none

fix: broken enzyme tests
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibEnzymeExt.jl
  lib/LuxLib/test/common_ops/dense_tests.jl
Due: none

feat: support runtime activity for enzyme
  lib/LuxTestUtils/CHANGELOG.md
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/autodiff.jl
Due: none

docs: fix version picker path
  docs/src/.vitepress/config.mts
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: check was accidentally broken
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/autodiff.jl
  lib/LuxTestUtils/src/utils.jl
Due: none

fix: update GravitationalWaveform tutorial
  examples/GravitationalWaveForm/Project.toml
  examples/GravitationalWaveForm/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

test: recurrent NN for enzyme
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: update minimum version
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml
