Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/benchmark.yml:
  command: buildkite-agent pipeline upload .buildkite/benchmark.yml
  agents:
    queue: juliagpu

fix: remove hacky usage of module getproperty rrules
  Project.toml
  src/extended_ops.jl
  src/helpers/compact.jl
  src/helpers/losses.jl
  src/layers/basic.jl
  src/layers/conv.jl
  src/layers/normalize.jl
  src/layers/recurrent.jl
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: update to using LuxCore@1.0
  lib/LuxLib/Project.toml
Due: none

fix!: change the default layernorm dims
  lib/LuxLib/src/api/layernorm.jl
  lib/LuxLib/src/impl/Impl.jl
Due: none

fix: remove unused explicit imports
  lib/LuxLib/src/LuxLib.jl
Due: none

perf: add NNlib to benchmarks deps
  lib/LuxLib/Project.toml
  lib/LuxLib/benchmarks/Project.toml
  lib/LuxLib/benchmarks/setup.jl
  lib/LuxLib/test/shared_testsetup.jl
Due: none

fix!: remove deprecations for 1.0 release
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
Due: none

chore!: remove Reexport of NNlib (will be done via Lux)
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/test/common_ops/dense_tests.jl
  lib/LuxLib/test/others/qa_tests.jl
Due: none

fix!: remove dropout branching based on size
  lib/LuxLib/src/impl/dropout.jl
  lib/LuxLib/test/common_ops/dropout_tests.jl
Due: none

test: locally enable Enzyme runtime activity
  test/layers/dropout_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

CompatHelper: bump compat for LuxLib to 1, (keep existing compat)
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

CompatHelper: bump compat for LuxLib to 1 for package docs, (keep existing compat)
  docs/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for LuxLib to 1 for package test, (keep existing compat)
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

CompatHelper: bump compat for Turing to 0.34 for package BayesianNN, (keep existing compat)
  examples/BayesianNN/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: expand `trainmode`,`testmode`,`update_state` to support Stateful Layers
  src/helpers/stateful.jl
  test/helpers/stateful_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: split up the nested autodiff testing
  test/autodiff/nested_autodiff_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: split up the nested autodiff testing (parameters)
  test/autodiff/nested_autodiff_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: update version to release
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: don't run doctests on pre-releases
  test/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: run with DD error mode
  test/qa_tests.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: change runtest config
  test/runtests.jl
  test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: type-stability shortcomings
  Project.toml
  examples/BayesianNN/main.jl
  src/helpers/match_eltype.jl
  src/layers/basic.jl
  test/Project.toml
  test/autodiff/batched_autodiff_tests.jl
  test/autodiff/nested_autodiff_tests.jl
  test/helpers/size_propagator_test.jl
  test/helpers/training_tests.jl
  test/layers/containers_tests.jl
  test/layers/type_stability_tests.jl
  test/runtests.jl
  test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: run formatter
  test/autodiff/batched_autodiff_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: run zygote type stability without dispatch doctor
  test/autodiff/batched_autodiff_tests.jl
  test/helpers/training_tests.jl
  test/runtests.jl
  test/zygote_type_stability.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: force precompile
  test/helpers/training_tests.jl
  test/runtests.jl
  test/zygote_type_stability.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: run tests with more activations
  lib/LuxLib/test/common_ops/dense_tests.jl
Due: none

fix: typo in reverse rule
  lib/LuxLib/src/impl/dense.jl
  lib/LuxLib/test/common_ops/dense_tests.jl
Due: none

feat: add enzyme reverse rules for `fused_dense!`
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/dense.jl
Due: none

test: add tests for the enzyme fused_dense rules
  lib/LuxLib/test/common_ops/dense_tests.jl
Due: none

test: run type-stability tests first
  test/autodiff/nested_autodiff_tests.jl
  test/runtests.jl
  test/zygote_type_stability.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/
  buildkite-agent pipeline upload .buildkite/benchmark.yml: any of: src/, ext/, test/, Project.toml, benchmark/
