Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

.buildkite/pipeline.yml:

steps:
  - label: "Triggering Pipelines (Pull Request)"
    if: build.branch != "main" || build.tag == null
    agents:
      queue: "juliagpu"
    plugins:
      - monebag/monorepo-diff#v2.5.9:
          diff: ".buildkite/scripts/diff.sh $BUILDKITE_COMMIT"
          interpolation: false
          watch:
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - ".buildkite/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/testing.yml"
                agents:
                  queue: "juliagpu"
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - "docs/"
                - "examples/"
                - ".buildkite/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/documentation.yml"
                agents:
                  queue: "juliagpu"
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - ".buildkite/"
                - "benchmarks/"
              if: build.pull_request.labels includes "run benchmarks"
              config:
                command: "buildkite-agent pipeline upload .buildkite/benchmarks.yml"
                agents:
                  queue: "juliagpu"

  - label: "Triggering Pipelines (Main Branch / Tag)"
    if: build.branch == "main" || build.tag != null
    agents:
      queue: "juliagpu"
    command: |
      buildkite-agent pipeline upload .buildkite/testing.yml
      buildkite-agent pipeline upload .buildkite/documentation.yml
      buildkite-agent pipeline upload .buildkite/benchmarks.yml

CompatHelper: add new compat entry for NCCL at version 0.1 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for MLUtils at version 0.4 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for Setfield at version 1 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for MPI at version 0.20 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for Optimisers at version 0.3 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: add compats for ImageNet
  examples/ImageNet/Project copy.toml
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: enzyme reverse bias needs a check on Const
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/batched_mul.jl
  lib/LuxLib/src/impl/matmul.jl
Due: none

fix: force_inline inside generated functions to avoid recursion issues
  Project.toml
  src/layers/containers.jl
  test/layers/containers_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

docs: simplify getting started docs
  .buildkite/documentation.yml
  docs/src/components/AsideTrustees.vue
  docs/src/introduction/index.md
  examples/OptimizationIntegration/main.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

feat: add test_gradients macro
  lib/LuxTestUtils/CHANGELOG.md
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/autodiff.jl
  lib/LuxTestUtils/src/utils.jl
  lib/LuxTestUtils/test/unit_tests.jl
Due: none

chore: apply formatting suggestion
  lib/LuxTestUtils/test/unit_tests.jl
Due: none

feat: better test integration in test_gradients
  lib/LuxTestUtils/.JuliaFormatter.toml
  lib/LuxTestUtils/.github/workflows/CI.yml
  lib/LuxTestUtils/CHANGELOG.md
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/autodiff.jl
Due: none

fix: update to use test_gradients macro
  docs/Project.toml
  docs/src/api/Testing_Functionality/LuxTestUtils.md
  test/Project.toml
  test/autodiff/nested_autodiff_tests.jl
  test/contrib/freeze_tests.jl
  test/helpers/compact_tests.jl
  test/helpers/loss_tests.jl
  test/layers/basic_tests.jl
  test/layers/containers_tests.jl
  test/layers/conv_tests.jl
  test/layers/dropout_tests.jl
  test/layers/normalize_tests.jl
  test/layers/pooling_tests.jl
  test/layers/recurrent_tests.jl
  test/transform/simple_chains_tests.jl
  test/utils_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: bad froggie test
  test/layers/containers_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: update to use test_gradients macro
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/common_ops/activation_tests.jl
  lib/LuxLib/test/common_ops/bias_act_tests.jl
  lib/LuxLib/test/common_ops/conv_tests.jl
  lib/LuxLib/test/common_ops/dense_tests.jl
  lib/LuxLib/test/common_ops/dropout_tests.jl
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  lib/LuxLib/test/normalization/groupnorm_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
  lib/LuxLib/test/normalization/layernorm_tests.jl
  lib/LuxLib/test/others/bmm_tests.jl
Due: none

fix: bias needs to add accum gradients
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/dense.jl
  lib/LuxLib/src/impl/matmul.jl
Due: none

test: froggie tests are broken on gpu
  test/layers/containers_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: static vector input to dense
  Project.toml
  src/utils.jl
  test/Project.toml
  test/layers/basic_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: remove TODO from docs
  examples/PINN2DPDE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

ci(buildkite): add coreupload plugin
  .buildkite/benchmarks.yml
  .buildkite/documentation.yml
  .buildkite/testing.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

ci(buildkite): try using the latest cuda_driver_jll
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

chore: try running tests with compat=false
  docs/Project.toml
  examples/Basics/Project.toml
  examples/ConvMixer/Project.toml
  examples/DDIM/Project.toml
  examples/HyperNet/Project.toml
  examples/ImageNet/Project.toml
  examples/NeuralODE/Project.toml
  examples/OptimizationIntegration/Project.toml
  examples/PINN2DPDE/Project.toml
  examples/PolynomialFitting/Project.toml
  examples/SimpleRNN/Project.toml
  test/Project.toml
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

chore: cleanup the PR
  .buildkite/benchmarks.yml
  .buildkite/documentation.yml
  .buildkite/testing.yml
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

ci(buildkite): debugging CUDA segfaults on CI (#937)
  docs/Project.toml
  examples/Basics/Project.toml
  examples/ConvMixer/Project.toml
  examples/DDIM/Project.toml
  examples/HyperNet/Project.toml
  examples/ImageNet/Project.toml
  examples/NeuralODE/Project.toml
  examples/OptimizationIntegration/Project.toml
  examples/PINN2DPDE/Project.toml
  examples/PolynomialFitting/Project.toml
  examples/SimpleRNN/Project.toml
  test/Project.toml
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

CompatHelper: bump compat for EnzymeCore to 0.8, (keep existing compat)
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

CompatHelper: bump compat for Enzyme in [weakdeps] to 0.13, (keep existing compat)
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

CompatHelper: bump compat for Enzyme to 0.13 for package test, (keep existing compat)
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

docs: try using the new documenter vitepress
  docs/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: add the new CSS
  docs/src/.vitepress/theme/style.css
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: update old docs
  src/layers/basic.jl
  src/layers/conv.jl
  src/layers/normalize.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

CompatHelper: bump compat for Optimization to 4 for package GravitationalWaveForm, (keep existing compat)
  examples/GravitationalWaveForm/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for OptimizationOptimJL to 0.4 for package GravitationalWaveForm, (keep existing compat)
  examples/GravitationalWaveForm/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml
