Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxlib.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxlib.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/benchmarks.yml:
  command: buildkite-agent pipeline upload .buildkite/benchmarks.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/downstream.yml:
  command: buildkite-agent pipeline upload .buildkite/downstream.yml
  agents:
    queue: juliagpu

bump: versions for release
  Project.toml
  lib/MLDataDevices/Project.toml
  lib/WeightInitializers/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: bump Zygote version
  Project.toml
  docs/Project.toml
  examples/Basics/Project.toml
  examples/BayesianNN/Project.toml
  examples/CIFAR10/Project.toml
  examples/DDIM/Project.toml
  examples/HyperNet/Project.toml
  examples/ImageNet/Project.toml
  examples/NeuralODE/Project.toml
  examples/SimpleChains/Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxTestUtils/Project.toml
  lib/MLDataDevices/test/Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: add vjp and jvp for Enzyme
  ext/LuxEnzymeExt/LuxEnzymeExt.jl
  ext/LuxEnzymeExt/autodiff.jl
  ext/LuxEnzymeExt/batched_autodiff.jl
  src/autodiff/api.jl
  src/autodiff/jac_products.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: add forward mode batched enzyme jacobian
  ext/LuxEnzymeExt/LuxEnzymeExt.jl
  ext/LuxEnzymeExt/batched_autodiff.jl
  src/Lux.jl
  src/autodiff/api.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: add reverse mode batched enzyme jacobian
  ext/LuxEnzymeExt/LuxEnzymeExt.jl
  ext/LuxEnzymeExt/batched_autodiff.jl
  src/autodiff/api.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: avoid closures in batched_jacobian
  ext/LuxEnzymeExt/batched_autodiff.jl
  src/autodiff/nested_autodiff.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: add batched jacobian tests for enzyme
  test/autodiff/batched_autodiff_tests.jl
  test/autodiff/nested_autodiff_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

feat: initial support for reactant
  ext/LuxEnzymeExt/batched_autodiff.jl
  ext/LuxReactantExt/patches.jl
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: bump componentarrays version
  Project.toml
  docs/Project.toml
  examples/Basics/Project.toml
  examples/GravitationalWaveForm/Project.toml
  examples/HyperNet/Project.toml
  examples/HyperNet/main.jl
  examples/NeuralODE/Project.toml
  examples/OptimizationIntegration/Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/test/Project.toml
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/test/Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

CompatHelper: bump compat for CairoMakie to 0.13 for package BayesianNN, (keep existing compat)
  examples/BayesianNN/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for CairoMakie to 0.13 for package DDIM, (keep existing compat)
  examples/DDIM/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for CairoMakie to 0.13 for package GravitationalWaveForm, (keep existing compat)
  examples/GravitationalWaveForm/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for CairoMakie to 0.13 for package OptimizationIntegration, (keep existing compat)
  examples/OptimizationIntegration/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for CairoMakie to 0.13 for package PINN2DPDE, (keep existing compat)
  examples/PINN2DPDE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for CairoMakie to 0.13 for package PolynomialFitting, (keep existing compat)
  examples/PolynomialFitting/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: emit batch_norm ops from stablehlo
  ext/LuxReactantExt/LuxReactantExt.jl
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: bump CairoMakie to 0.13
  examples/BayesianNN/Project.toml
  examples/DDIM/Project.toml
  examples/GravitationalWaveForm/Project.toml
  examples/OptimizationIntegration/Project.toml
  examples/PINN2DPDE/Project.toml
  examples/PolynomialFitting/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: bump CairoMakie to 0.13 (#1206)
  examples/BayesianNN/Project.toml
  examples/DDIM/Project.toml
  examples/GravitationalWaveForm/Project.toml
  examples/OptimizationIntegration/Project.toml
  examples/PINN2DPDE/Project.toml
  examples/PolynomialFitting/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: not conditional but convolutional
  docs/make.jl
  docs/src/.vitepress/config.mts
  docs/src/tutorials/index.md
  docs/tutorials.jl
  examples/ConvolutionalVAE/Project.toml
  examples/ConvolutionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for Turing to 0.36 for package BayesianNN, (keep existing compat)
  examples/BayesianNN/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

refactor: only implement inference path for now
  Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibReactantExt.jl
  test/reactant/layer_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: batchnorm layers
  test/reactant/layer_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

feat: emit batch_norm ops from stablehlo (#1142)
  Project.toml
  ext/LuxReactantExt/LuxReactantExt.jl
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibReactantExt.jl
  test/reactant/layer_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: don't unroll Recurrence
  Project.toml
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/layers.jl
  ext/LuxReactantExt/patches.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: implement for return sequence
  ext/LuxReactantExt/layers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: add GCN Cora example
  docs/make.jl
  docs/src/.vitepress/config.mts
  docs/src/public/gcn_cora.jpg
  docs/src/tutorials/index.md
  docs/tutorials.jl
  examples/ConvolutionalVAE/main.jl
  examples/GCN_Cora/Project.toml
  examples/GCN_Cora/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: add GCN Cora example (#1210)
  docs/make.jl
  docs/src/.vitepress/config.mts
  docs/src/public/gcn_cora.jpg
  docs/src/tutorials/index.md
  docs/tutorials.jl
  examples/ConvolutionalVAE/main.jl
  examples/GCN_Cora/Project.toml
  examples/GCN_Cora/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for GNNGraphs at version 1 for package GCN_Cora, (keep existing compat)
  examples/GCN_Cora/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for OneHotArrays at version 0.2 for package GCN_Cora, (keep existing compat)
  examples/GCN_Cora/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: patch reactant bug?
  Project.toml
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: Normalizing Flow (RealNVP) example
  docs/make.jl
  docs/src/.vitepress/config.mts
  docs/src/public/realnvp.png
  docs/src/tutorials/index.md
  docs/tutorials.jl
  examples/GCN_Cora/main.jl
  examples/RealNVP/Project.toml
  examples/RealNVP/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: print out throughput info
  examples/RealNVP/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: use smaller size for CI
  examples/RealNVP/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: Normalizing Flow (RealNVP) example (#1215)
  Project.toml
  docs/make.jl
  docs/src/.vitepress/config.mts
  docs/src/public/realnvp.png
  docs/src/tutorials/index.md
  docs/tutorials.jl
  examples/GCN_Cora/main.jl
  examples/RealNVP/Project.toml
  examples/RealNVP/main.jl
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

CompatHelper: add new compat entry for Reactant at version 0.2 for package RealNVP, (keep existing compat)
  examples/RealNVP/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for CairoMakie at version 0.13 for package RealNVP, (keep existing compat)
  examples/RealNVP/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/benchmarks.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, benchmarks/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/
