Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/

chore: bump min reactant version
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: bump min versions
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: use ignore derivatives for Reactant (#1342)
  Project.toml
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: compile loop [skip ci]
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
  lib/LuxCore/ext/LuxCoreReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: use BN
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: migrate DDIM to Reactant
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: check against NaNs in images
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: some more progress
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
  ext/LuxReactantExt/LuxReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: more fixes
  examples/DDIM/main.jl
  ext/LuxReactantExt/LuxReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: update DDIM
  examples/DDIM/Project.toml
  examples/DDIM/README.md
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: working :tada:
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: more progress
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
  lib/LuxCore/ext/LuxCoreReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: handle numerical stability issues
  examples/ConvolutionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: options
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: run formatter
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: finish
  examples/ConvolutionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: use uv for python
  perf/pyproject.toml
  perf/resnet/Project.toml
  perf/resnet/main.py
Due: none

chore: use uv for python (#1350)
  perf/pyproject.toml
  perf/resnet/Project.toml
  perf/resnet/main.py
Due: none

CompatHelper: bump compat for CairoMakie to 0.14 for package DDIM, (keep existing compat)
  examples/DDIM/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for CairoMakie to 0.14 for package GravitationalWaveForm, (keep existing compat)
  examples/GravitationalWaveForm/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for CairoMakie to 0.14 for package LSTMEncoderDecoder, (keep existing compat)
  examples/LSTMEncoderDecoder/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for CairoMakie to 0.14 for package OptimizationIntegration, (keep existing compat)
  examples/OptimizationIntegration/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for CairoMakie to 0.14 for package PINN2DPDE, (keep existing compat)
  examples/PINN2DPDE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for CairoMakie to 0.14 for package PolynomialFitting, (keep existing compat)
  examples/PolynomialFitting/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for CairoMakie to 0.14 for package RealNVP, (keep existing compat)
  examples/RealNVP/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: remove type piracy
  Project.toml
  ext/LuxComponentArraysExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: remove type piracy (#1360)
  Project.toml
  ext/LuxComponentArraysExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

CompatHelper: bump compat for CairoMakie to 0.15 for package DDIM, (keep existing compat)
  examples/DDIM/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for CairoMakie to 0.15 for package GravitationalWaveForm, (keep existing compat)
  examples/GravitationalWaveForm/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for CairoMakie to 0.15 for package LSTMEncoderDecoder, (keep existing compat)
  examples/LSTMEncoderDecoder/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for CairoMakie to 0.15 for package OptimizationIntegration, (keep existing compat)
  examples/OptimizationIntegration/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for CairoMakie to 0.15 for package PINN2DPDE, (keep existing compat)
  examples/PINN2DPDE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for CairoMakie to 0.15 for package PolynomialFitting, (keep existing compat)
  examples/PolynomialFitting/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for CairoMakie to 0.15 for package RealNVP, (keep existing compat)
  examples/RealNVP/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: use Int32 for GCN cora example
  examples/GCN_Cora/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: use Int32 for GCN cora example (#1369)
  examples/GCN_Cora/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Fix backticks in examples/Basics
  examples/Basics/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: fix backticks in examples/Basics (#1370)
  examples/Basics/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Use `\tanh` operator in TeX docstring
  src/layers/recurrent.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml
