Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/testing.yml, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/testing_luxcuda.yml
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/testing_weightinitializers.yml
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/testing_mldatadevices.yml
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/testing_luxlib.yml, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/testing_luxtestutils.yml
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/downstream.yml

fix: aqua tests (#1751)
  src/helpers/size_propagator.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: allow SimpleChains 0.5 (#1748)
  Project.toml
  examples/SimpleChains/Project.toml
  test/downstream/SimpleChains/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: remove mooncake docs
  docs/src/api/NN_Primitives/NNlib.md
Due: none

docs: remove mooncake docs
  docs/src/api/Testing_Functionality/LuxTestUtils.md
  lib/LuxTestUtils/ext/MooncakeExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: use updated cuDNN bindings
  Project.toml
  lib/LuxCUDA/Project.toml
  lib/LuxCUDA/src/LuxCUDA.jl
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/cuDNNExt/batchnorm.jl
  lib/LuxLib/ext/cuDNNExt/cuDNNExt.jl
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/cuDNNExt.jl
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: remove mooncake docs
  docs/make.jl
  docs/src/api/NN_Primitives/NNlib.md
Due: none

Update docs/make.jl
  docs/make.jl
Due: none

chore: remove old deprecated deps
  Project.toml
  docs/src/api/Building_Blocks/WeightInitializers.md
  examples/Basics/Project.toml
  lib/LuxCUDA/Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/CUDAExt/CUDAExt.jl
  lib/LuxTestUtils/test/Project.toml
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/CUDAExt.jl
  lib/WeightInitializers/Project.toml
  lib/WeightInitializers/ext/CUDAExt.jl
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: make documentation ci green (#1752)
  docs/make.jl
  docs/src/api/NN_Primitives/NNlib.md
  docs/src/api/Testing_Functionality/LuxTestUtils.md
  lib/LuxTestUtils/ext/MooncakeExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: document SamePad padding marker
  docs/src/api/Lux/layers.md
  src/layers/conv.jl
  test/misc/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: support Julia 1.10 docstring checks
  test/misc/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

LuxLib ReactantExt: detach the mean inside mean_var's variance
  lib/LuxLib/ext/ReactantExt/ReactantExt.jl
  lib/LuxLib/ext/ReactantExt/normalization.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

LuxLib: test the Reactant mean_var method
  lib/LuxLib/test/normalization/reactant_mean_var_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

LuxLib: format the Reactant mean_var tests
  lib/LuxLib/test/normalization/reactant_mean_var_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml
