Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxlib.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxlib.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/downstream.yml:
  command: buildkite-agent pipeline upload .buildkite/downstream.yml
  agents:
    queue: juliagpu

ci: downgrade
  .github/workflows/CommonCI.yml
Due: none

chore: bump version from 1.31.2 to 1.31.3
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: migrate imagenet example to reactant
  examples/ImageNet/.gitignore
  examples/ImageNet/Project.toml
  examples/ImageNet/main.jl
  examples/ImageNet/reactant.jl
Due: none

fix: mark iz
  .typos.toml
Due: none

docs: updates for breaking change
  docs/Project.toml
  docs/src/.vitepress/config.mts
  docs/src/.vitepress/theme/index.ts
  docs/src/.vitepress/theme/style.css
Due: none

add Mooncake to Lux Test infra
  Project.toml
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/autodiff.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix
  lib/LuxTestUtils/src/autodiff.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix
  lib/LuxTestUtils/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

minor fix
  lib/LuxTestUtils/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: update deps
  docs/package.json
  docs/src/.vitepress/config.mts
Due: none

docs: update
  docs/package.json
  docs/run_single_tutorial.jl
  docs/src/.vitepress/config.mts
  docs/src/.vitepress/theme/index.ts
  docs/src/public/cifar10.png
  docs/src/public/imagenet.png
  docs/src/tutorials/index.md
  docs/tutorials.jl
  examples/RealNVP/Project.toml
Due: none

clarity in docstrings, code
  lib/LuxTestUtils/src/autodiff.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

disable GPU
  lib/LuxTestUtils/src/autodiff.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: migrate to ArgParse from Comonicon
  examples/CIFAR10/Project.toml
  examples/CIFAR10/conv_mixer.jl
  examples/CIFAR10/resnet20.jl
  examples/CIFAR10/simple_cnn.jl
  examples/ImageNet/Project.toml
  examples/ImageNet/main.jl
  perf/kan/Project.toml
  perf/kan/main.jl
  perf/resnet/Project.toml
  perf/resnet/cuda.jl
  perf/resnet/reactant.jl
Due: none

feat: add a minimal mode for faster testing
  examples/CIFAR10/common.jl
  examples/CIFAR10/conv_mixer.jl
  examples/CIFAR10/resnet20.jl
  examples/CIFAR10/simple_cnn.jl
  examples/ConvolutionalVAE/main.jl
  examples/DDIM/main.jl
  examples/ImageNet/main.jl
  perf/kan/main.jl
  perf/resnet/cuda.jl
  perf/resnet/reactant.jl
Due: none

fix: build
  examples/ConvolutionalVAE/main.jl
  examples/DDIM/main.jl
Due: none

fix: nicer formatting
  examples/CIFAR10/conv_mixer.jl
  examples/CIFAR10/resnet20.jl
  examples/CIFAR10/simple_cnn.jl
  examples/ConvolutionalVAE/main.jl
  examples/ImageNet/main.jl
  perf/kan/main.jl
  perf/resnet/cuda.jl
  perf/resnet/reactant.jl
Due: none

docs: more args
  examples/ConvolutionalVAE/Project.toml
  examples/GCN_Cora/Project.toml
  examples/GCN_Cora/main.jl
  examples/GravitationalWaveForm/Project.toml
  examples/GravitationalWaveForm/main.jl
  examples/HyperNet/Project.toml
  examples/HyperNet/main.jl
  examples/ImageNet/Project.toml
  examples/LSTMEncoderDecoder/Project.toml
  examples/LSTMEncoderDecoder/main.jl
  examples/NeuralODE/Project.toml
  examples/NeuralODE/main.jl
  examples/OptimizationIntegration/Project.toml
  examples/OptimizationIntegration/main.jl
  examples/PINN2DPDE/Project.toml
  examples/PINN2DPDE/main.jl
  examples/PolynomialFitting/Project.toml
  examples/PolynomialFitting/main.jl
  examples/Qwen3/Project.toml
  examples/Qwen3/main.jl
  examples/RealNVP/Project.toml
  examples/RealNVP/main.jl
  examples/SimpleChains/Project.toml
  examples/SimpleChains/main.jl
  examples/SimpleRNN/Project.toml
  examples/SimpleRNN/main.jl
Due: none

fix: typo
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

Format .jl files
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

only mooncake on CI
  lib/LuxTestUtils/src/autodiff.jl
  test/autodiff/nested_input_gradient_tests.jl
  test/autodiff/nested_issue743_tests.jl
  test/autodiff/nested_parameter_gradient_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix
  test/autodiff/nested_input_gradient_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

tests pass
  lib/LuxTestUtils/src/autodiff.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

more infra
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/autodiff.jl
  test/misc/helpers/adtypes_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

gpu
  test/misc/helpers/adtypes_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

.
  test/misc/helpers/adtypes_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

up mooncake vers
  Project.toml
  lib/LuxTestUtils/src/autodiff.jl
  test/downstream/SimpleChains/simplechains_integrationtest.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

dispatch doctor
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

bump Mooncake to latest version
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

NNlib, SLEEFPirates switching for Mooncake tests
  lib/LuxTestUtils/src/autodiff.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

.
  lib/LuxTestUtils/src/autodiff.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

run all backends
  lib/LuxTestUtils/src/autodiff.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

format & SLEEFPirates for Mooncake
  Project.toml
  ext/MooncakeExt/MooncakeExt.jl
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/autodiff.jl
  test/misc/helpers/adtypes_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

typo
  ext/MooncakeExt/MooncakeExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Manual tests Mooncake
  Project.toml
  ext/MooncakeExt/MooncakeExt.jl
  lib/LuxLib/test/common_ops/activation_tests.jl
  lib/LuxLib/test/common_ops/bias_act_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/testing.yml, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/testing_luxcuda.yml
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/testing_weightinitializers.yml
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/testing_mldatadevices.yml
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/testing_luxlib.yml, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/testing_luxtestutils.yml
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/downstream.yml
