Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/

fix: pad with pad_token_id
  examples/Qwen3/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: cache compiled thunks
  examples/Qwen3/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: make it into a command line tool
  examples/Qwen3/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: add qwen3 to the tutorials
  docs/src/.vitepress/config.mts
  docs/src/public/qwen3-30a3.jpg
  docs/src/tutorials/index.md
  docs/tutorials.jl
  examples/Qwen3/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: add compat entries
  examples/Qwen3/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

ci: update tagbot
  .github/workflows/TagBot.yml
Due: none

feat: Qwen3 model with weight loading from huggingface (#1438)
  docs/src/.vitepress/config.mts
  docs/src/public/qwen3-30a3.jpg
  docs/src/tutorials/index.md
  docs/tutorials.jl
  examples/Qwen3/CondaPkg.toml
  examples/Qwen3/Project.toml
  examples/Qwen3/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: faster scaled_dot_product_attention for reactant
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibReactantExt/LuxLibReactantExt.jl
  lib/LuxLib/ext/LuxLibReactantExt/attention.jl
  lib/LuxLib/ext/LuxLibReactantExt/batched_mul.jl
  lib/LuxLib/src/api/API.jl
  lib/LuxLib/src/api/attention.jl
  lib/LuxLib/src/impl/Impl.jl
  lib/LuxLib/src/impl/attention.jl
  lib/LuxLib/src/impl/batched_mul.jl
  lib/LuxLib/src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: update Lux and Qwen example to use faster sdpa
  Project.toml
  examples/Qwen3/main.jl
  src/layers/attention.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: qwen3 model??
  examples/Qwen3/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: transpose ordering
  examples/Qwen3/main.jl
  lib/LuxLib/ext/LuxLibReactantExt/attention.jl
  src/layers/attention.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: redirect batched_matmul via fallback function
  lib/LuxLib/src/impl/batched_mul.jl
  lib/LuxLib/test/common_ops/attention_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: remove Tracker & ReverseDiff from LuxTestUtils
  docs/Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/autodiff.jl
  lib/LuxTestUtils/test/unit_tests.jl
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: MLDataDevice reactant testing on all platforms
  .github/workflows/CI_MLDataDevices.yml
  lib/MLDataDevices/test/Project.toml
  lib/MLDataDevices/test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: add checks for MLDataDevices testing
  .buildkite/testing_mldatadevices.yml
  lib/MLDataDevices/test/amdgpu_tests.jl
  lib/MLDataDevices/test/cuda_tests.jl
  lib/MLDataDevices/test/iterator_tests.jl
  lib/MLDataDevices/test/metal_tests.jl
  lib/MLDataDevices/test/oneapi_tests.jl
  lib/MLDataDevices/test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: add checks for WeightInitializers
  .buildkite/testing_weightinitializers.yml
  lib/WeightInitializers/test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: luxlib testing
  .buildkite/testing_luxcuda.yml
  .buildkite/testing_luxlib.yml
  .buildkite/testing_weightinitializers.yml
  .github/workflows/CI_LuxLib.yml
  lib/MLDataDevices/test/iterator_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: completely disable AMDGPU testing
  .buildkite/testing.yml
  .buildkite/testing_luxtestutils.yml
  .buildkite/testing_mldatadevices.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: remove deprecated backends
  lib/LuxLib/test/common_ops/conv_tests.jl
  lib/LuxLib/test/common_ops/dense_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: use sources for perf
  benchmarks/Project.toml
Due: none

test: reduce combinatorial explosion of test configs
  .github/workflows/CI_LuxLib.yml
  lib/LuxLib/test/common_ops/conv_tests.jl
  lib/LuxLib/test/common_ops/dense_tests.jl
  lib/LuxTestUtils/src/autodiff.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: use opcall from reactant
  Project.toml
  docs/Project.toml
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/patches.jl
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibReactantExt/LuxLibReactantExt.jl
  lib/LuxLib/ext/LuxLibReactantExt/batchnorm.jl
  test/Project.toml
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: remove deprecated backends
  test/autodiff/nested_autodiff_tests.jl
  test/helpers/loss_tests.jl
  test/layers/containers_tests.jl
  test/layers/conv_tests.jl
  test/layers/embedding_tests.jl
  test/layers/pooling_tests.jl
  test/transform/simple_chains_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

docs: remove benchmarks link till fixed
  docs/src/.vitepress/config.mts
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: pooling tests
  lib/LuxLib/Project.toml
  lib/LuxTestUtils/src/autodiff.jl
  test/layers/pooling_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: correct lux testing
  test/helpers/training_tests.jl
  test/layers/containers_tests.jl
  test/reactant/layer_tests.jl
  test/reactant/loss_tests.jl
  test/reactant/tf_saved_model_tests.jl
  test/reactant/tracing_tests.jl
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

test: reduce enumeration over tests
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  lib/LuxLib/test/normalization/groupnorm_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
  lib/LuxLib/test/normalization/layernorm_tests.jl
  lib/LuxTestUtils/src/autodiff.jl
  test/layers/recurrent_tests.jl
  test/runtests.jl
  test/setup_modes.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: run more CUDA tests in parallel
  .buildkite/testing.yml
  .buildkite/testing_luxlib.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: try to move function to cpu
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/autodiff.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: make sure re-construction works for loss structs
  src/helpers/losses.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: use Constant for model and st
  test/autodiff/nested_autodiff_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

test: make it approx
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

ci: run more CUDA tests in parallel (#1459)
  .buildkite/testing.yml
  .buildkite/testing_luxlib.yml
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  lib/LuxLib/test/normalization/groupnorm_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
  lib/LuxLib/test/normalization/layernorm_tests.jl
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/autodiff.jl
  src/helpers/losses.jl
  test/autodiff/nested_autodiff_tests.jl
  test/layers/recurrent_tests.jl
  test/runtests.jl
  test/setup_modes.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Update docs/src/introduction/overview.md
  docs/src/introduction/overview.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: update overview page to highlight Reactant-first performance and deployment approach (#1462)
  docs/src/introduction/overview.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix(MLDataDevices): mapreduce over empty structures
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/src/public.jl
  lib/MLDataDevices/test/misc_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix(MLDataDevices): mapreduce over empty structures (#1463)
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/src/public.jl
  lib/MLDataDevices/test/misc_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml
