Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxlib.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxlib.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/downstream.yml:
  command: buildkite-agent pipeline upload .buildkite/downstream.yml
  agents:
    queue: juliagpu

docs: grammar
  perf/README.md
Due: none

fix: batch
  perf/resnet/main.py
  perf/results/resnet/reactant.json
Due: none

perf: add optimize option to reactant runs
  perf/resnet/lux_reactant.jl
Due: none

chore: full runs
  perf/resnet/lux.jl
  perf/resnet/main.py
  perf/resnet/reactant.jl
Due: none

feat: write a json file
  perf/Project.toml
  perf/README.md
  perf/resnet/lux.jl
  perf/resnet/main.py
  perf/resnet/reactant.jl
Due: none

perf: cleanup benchmarks
  perf/Project.toml
  perf/README.md
  perf/resnet/lux_reactant.jl
  perf/resnet/reactant.jl
  perf/resnet/resnet.jl
Due: none

perf: try AoT compile for jax
  perf/resnet/main.py
Due: none

fix: bump reactant min version
  Project.toml
  examples/GCN_Cora/Project.toml
  examples/GCN_Cora/main.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: bump reactant min version (#1345)
  Project.toml
  examples/GCN_Cora/Project.toml
  examples/GCN_Cora/main.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: add perf plots
  perf/README.md
  perf/results/Project.toml
  perf/results/resnet/plot.jl
  perf/results/resnet/resnet_runtimes.svg
Due: none

docs: more plots
  perf/README.md
  perf/results/Project.toml
  perf/results/resnet/plot.jl
  perf/results/resnet/resnet_runtimes.svg
  perf/results/resnet/resnet_speedups.svg
Due: none

perf: benchmarking our models against Jax (Flax) (#1000)
  .gitignore
  perf/Project.toml
  perf/README.md
  perf/pyproject.toml
  perf/resnet/lux.jl
  perf/resnet/main.py
  perf/resnet/reactant.jl
  perf/resnet/resnet.jl
  perf/results/Project.toml
  perf/results/resnet/cudajl.json
  perf/results/resnet/jax.json
  perf/results/resnet/plot.jl
  perf/results/resnet/reactant.json
  perf/results/resnet/resnet_runtimes.svg
  perf/results/resnet/resnet_speedups.svg
Due: none

feat: compile loop [skip ci]
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
  lib/LuxCore/ext/LuxCoreReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: migrate DDIM to Reactant
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: run formatter
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: more progress
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
  lib/LuxCore/ext/LuxCoreReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: options
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: update DDIM
  examples/DDIM/Project.toml
  examples/DDIM/README.md
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: some more progress
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
  ext/LuxReactantExt/LuxReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: more fixes
  examples/DDIM/main.jl
  ext/LuxReactantExt/LuxReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: use BN
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: finish
  examples/ConvolutionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: check against NaNs in images
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: working :tada:
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: handle numerical stability issues
  examples/ConvolutionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: nanoGPT implementation using Reactant
  .gitignore
  examples/NanoGPT/Project.toml
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: finish the implementation
  examples/NanoGPT/Project.toml
  examples/NanoGPT/README.md
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: make the dimensions correct
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

refactor: use Lux primitives
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: forward pass is now working
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: more progress
  examples/NanoGPT/Project.toml
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

[examples] refactor: cleanup
  examples/NanoGPT/Project.toml
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: weighted sample
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: more cleanup
  examples/NanoGPT/Project.toml
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: add dark-mode plots
  perf/README.md
  perf/results/resnet/plot.jl
  perf/results/resnet/resnet_runtimes_dark.svg
  perf/results/resnet/resnet_speedups_dark.svg
Due: none

CompatHelper: bump compat for MKL in [weakdeps] to 0.9 for package LuxLib, (keep existing compat)
  lib/LuxLib/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

CompatHelper: bump compat for MKL to 0.9 for package test, (keep existing compat)
  lib/LuxLib/test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: run formatter
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: use ignore derivatives [skip ci]
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: use return type annotation for gradients
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/
