Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxlib.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxlib.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/benchmarks.yml:
  command: buildkite-agent pipeline upload .buildkite/benchmarks.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/downstream.yml:
  command: buildkite-agent pipeline upload .buildkite/downstream.yml
  agents:
    queue: juliagpu

fix: upstreamed Reactant patches
  ext/LuxReactantExt/LuxReactantExt.jl
  src/helpers/optimizers.jl
  src/helpers/training.jl
  src/utils.jl
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: handle optimisers correctly
  ext/LuxReactantExt/LuxReactantExt.jl
  src/Lux.jl
  src/helpers/optimizers.jl
  src/helpers/training.jl
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: package versions and some test fixes
  Project.toml
  docs/Project.toml
  lib/LuxCore/Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/test/Project.toml
  lib/MLDataDevices/Project.toml
  src/helpers/training.jl
  test/Project.toml
  test/helpers/loss_tests.jl
  test/layers/normalize_tests.jl
  test/runtests.jl
  test/setup_modes.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: update to new reactant changes (#1140)
  Project.toml
  docs/Project.toml
  docs/make.jl
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/patches.jl
  ext/LuxReactantExt/training.jl
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibTrackerExt.jl
  lib/LuxLib/ext/LuxLibcuDNNExt/LuxLibcuDNNExt.jl
  lib/LuxLib/src/api/batchnorm.jl
  lib/LuxLib/src/api/groupnorm.jl
  lib/LuxLib/src/api/instancenorm.jl
  lib/LuxLib/src/api/layernorm.jl
  lib/LuxLib/src/impl/batchnorm.jl
  lib/LuxLib/src/impl/dropout.jl
  lib/LuxLib/src/impl/groupnorm.jl
  lib/LuxLib/src/impl/layernorm.jl
  lib/LuxLib/src/impl/normalization.jl
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  lib/LuxLib/test/normalization/groupnorm_tests.jl
  src/Lux.jl
  src/helpers/losses.jl
  src/helpers/optimizers.jl
  src/helpers/size_propagator.jl
  src/helpers/training.jl
  src/layers/normalize.jl
  src/layers/pooling.jl
  src/utils.jl
  test/Project.toml
  test/helpers/loss_tests.jl
  test/layers/normalize_tests.jl
  test/reactant/training_tests.jl
  test/runtests.jl
  test/setup_modes.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: softmax and logsoftmax jvp rules
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibCUDAExt/LuxLibCUDAExt.jl
  lib/LuxLib/src/impl/forward_diff.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: add pooling rules
  lib/LuxLib/src/impl/forward_diff.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: logsoftmax and softmax forwarddiff rules
  lib/LuxLib/src/impl/forward_diff.jl
  lib/LuxLib/test/others/forwarddiff_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: patch meanpool
  lib/LuxLib/src/impl/forward_diff.jl
  lib/LuxLib/test/others/forwarddiff_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: more tests fixed
  Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/test/Project.toml
  test/layers/normalize_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: more nested AD rules (#1151)
  Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibCUDAExt/LuxLibCUDAExt.jl
  lib/LuxLib/src/impl/forward_diff.jl
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/others/forwarddiff_tests.jl
  test/layers/normalize_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Change update step to thousands in PINN 2D PDE
  examples/PINN2DPDE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

test: remove unused tests
  lib/LuxLib/test/others/forwarddiff_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: update default rng for reactant
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: handle RNGs in layers correctly
  Project.toml
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
  lib/MLDataDevices/test/xla_tests.jl
  test/reactant/layer_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: update default rng for reactant (#1152)
  Project.toml
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
  lib/MLDataDevices/test/xla_tests.jl
  test/reactant/layer_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: update to new reactant changes
  docs/Project.toml
  ext/LuxReactantExt/training.jl
  lib/LuxCore/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

refactor: remove promote_to handling
  ext/LuxReactantExt/LuxReactantExt.jl
  src/helpers/optimizers.jl
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: handle optimisers correctly
  ext/LuxReactantExt/LuxReactantExt.jl
  src/helpers/optimizers.jl
  src/helpers/training.jl
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: use enzyme correctly
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: don't transfer via CPU
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: update training code
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

revert: specific version bumps
  lib/LuxCore/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: add multiple CIFAR10 examples using Reactant
  docs/src/.vitepress/config.mts
  docs/src/tutorials/index.md
  examples/CIFAR10/Project.toml
  examples/CIFAR10/README.md
  examples/CIFAR10/common.jl
  examples/CIFAR10/conv_mixer.jl
  examples/CIFAR10/mlp_mixer.jl
  examples/CIFAR10/simple_cnn.jl
  examples/ConvMixer/README.md
  examples/ConvMixer/main.jl
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: BF16 training + inference
  examples/CIFAR10/Project.toml
  examples/CIFAR10/common.jl
  examples/CIFAR10/conv_mixer.jl
  examples/CIFAR10/simple_cnn.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: incorrect AdamW handling
  Project.toml
  examples/CIFAR10/README.md
  src/helpers/optimizers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: change update step to thousands in PINN 2D PDE (#1153)
  examples/PINN2DPDE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: implement resnet20 baseline
  examples/CIFAR10/README.md
  examples/CIFAR10/conv_mixer.jl
  examples/CIFAR10/mlp_mixer.jl
  examples/CIFAR10/resnet20.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: conv mixer working again
  examples/CIFAR10/README.md
  examples/CIFAR10/conv_mixer.jl
  src/helpers/optimizers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: update ConvMixer to support reactant (#1063)
  Project.toml
  docs/Project.toml
  docs/src/.vitepress/config.mts
  docs/src/tutorials/index.md
  examples/CIFAR10/Project.toml
  examples/CIFAR10/README.md
  examples/CIFAR10/common.jl
  examples/CIFAR10/conv_mixer.jl
  examples/CIFAR10/resnet20.jl
  examples/CIFAR10/simple_cnn.jl
  examples/ConvMixer/README.md
  examples/ConvMixer/main.jl
  src/helpers/optimizers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

CompatHelper: add new compat entry for ProgressTables at version 0.1 for package CIFAR10, (keep existing compat)
  examples/CIFAR10/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: emit batch_norm ops from stablehlo
  ext/LuxReactantExt/LuxReactantExt.jl
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

device(NN) should only give warning once
  lib/LuxCore/ext/LuxCoreMLDataDevicesExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: device(NN) should only give warning once (#1156)
  lib/LuxCore/ext/LuxCoreMLDataDevicesExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/benchmarks.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, benchmarks/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/
