Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/

fix: carry
  ext/LuxReactantExt/layers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: fix return (#1307)
  Project.toml
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/layers.jl
  src/layers/recurrent.jl
  test/reactant/layer_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: try increasing the samples in CI
  examples/ConvolutionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: reduce samples on CI
  examples/RealNVP/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: print stuff
  examples/RealNVP/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

ci: don't run expensive docs
  .buildkite/testing_luxlib.yml
  docs/tutorials.jl
  examples/RealNVP/main.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: allow just rendering the docs
  docs/run_single_tutorial.jl
  docs/tutorials.jl
  examples/RealNVP/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: ordering
  docs/run_single_tutorial.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: update documenter key
  .buildkite/documentation.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: pin OpenSSL for now
  .buildkite/documentation.yml
  docs/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: more sensible runners
  .buildkite/documentation.yml
  .buildkite/testing_luxlib.yml
  docs/Project.toml
  docs/run_single_tutorial.jl
  docs/tutorials.jl
  examples/ConvolutionalVAE/main.jl
  examples/RealNVP/main.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: try running cudnn opt
  Project.toml
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: restrict dispatch types for cublaslt
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibCUDAExt/cublaslt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: revert version bump
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: chain rules for recurrence tuple inputs (#1306)
  Project.toml
  src/extended_ops.jl
  src/layers/recurrent.jl
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: update Reactant training (#1304)
  Project.toml
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: bias fix + tests
  lib/LuxLib/ext/LuxLibCUDAExt/LuxLibCUDAExt.jl
  lib/LuxLib/ext/LuxLibCUDAExt/cublaslt.jl
  test/layers/basic_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: restrict dispatch types for cublaslt (#1311)
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibCUDAExt/LuxLibCUDAExt.jl
  lib/LuxLib/ext/LuxLibCUDAExt/cublaslt.jl
  test/layers/basic_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: use 3rd order derivatives using Reactant
  docs/src/manual/nested_autodiff.md
  examples/PINN2DPDE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Update examples/PINN2DPDE/main.jl
  examples/PINN2DPDE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: use 3rd order derivatives using Reactant (#1315)
  docs/src/manual/nested_autodiff.md
  examples/PINN2DPDE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

allow SelectDim to take arbitrary views
  src/layers/basic.jl
  test/layers/basic_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Update src/layers/basic.jl
  src/layers/basic.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: allow SelectDim to take arbitrary views (#1318)
  src/layers/basic.jl
  test/layers/basic_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: new reactant
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Fix wrong function names in RNG admonition in interface.md
  docs/src/manual/interface.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Fix wrong function names in RNG admonition in interface.md (#1325)
  docs/src/manual/interface.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for DocumenterVitepress to 0.2 for package docs, (keep existing compat)
  docs/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for Interpolations to 0.16 for package CIFAR10, (keep existing compat)
  examples/CIFAR10/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: lstm encoder decoder using Reactant
  docs/make.jl
  docs/src/.vitepress/config.mts
  docs/src/public/lstm_encoder_decoder.png
  docs/src/tutorials/index.md
  docs/tutorials.jl
  examples/LSTMEncoderDecoder/Project.toml
  examples/LSTMEncoderDecoder/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: finish the example
  examples/LSTMEncoderDecoder/Project.toml
  examples/LSTMEncoderDecoder/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: remove comment
  examples/LSTMEncoderDecoder/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: turn off neuralode runs for now
  docs/tutorials.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml
