Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxlib.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxlib.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/benchmarks.yml:
  command: buildkite-agent pipeline upload .buildkite/benchmarks.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/downstream.yml:
  command: buildkite-agent pipeline upload .buildkite/downstream.yml
  agents:
    queue: juliagpu

perf: more performance numbers
  perf/README.md
Due: none

perf: add comparisons to JAX
  .gitignore
  perf/Project.toml
  perf/README.md
  perf/pyproject.toml
  perf/resnet/main.jl
  perf/resnet/main.py
Due: none

perf: force sync
  perf/resnet/lux_reactant.jl
Due: none

chore: run formatter
  perf/resnet/lux.jl
  perf/resnet/reactant.jl
  perf/resnet/resnet.jl
Due: none

docs: update OptimizationIntegration/main.jl comment to match link title (#1261)
  examples/OptimizationIntegration/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: initial bwd timings
  perf/README.md
  perf/resnet/lux.jl
  perf/resnet/main.py
  perf/resnet/reactant.jl
Due: none

test: mark a test as broken
  lib/MLDataDevices/test/xla_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: mark a test as broken (#1263)
  lib/MLDataDevices/test/xla_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

refactor: cleanup dependencies
  benchmarks/Project.toml
  benchmarks/runbenchmarks.jl
  lib/LuxLib/Project.toml
  lib/LuxLib/src/traits.jl
  lib/LuxLib/src/utils.jl
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/runtests.jl
  lib/LuxTestUtils/test/Project.toml
  lib/LuxTestUtils/test/runtests.jl
  lib/WeightInitializers/test/Project.toml
  lib/WeightInitializers/test/runtests.jl
  test/Project.toml
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: fix names
  lib/WeightInitializers/src/utils.jl
  test/layers/embedding_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

refactor: cleanup dependencies (Hwloc + CpuId) (#1264)
  benchmarks/Project.toml
  benchmarks/runbenchmarks.jl
  lib/LuxLib/Project.toml
  lib/LuxLib/src/traits.jl
  lib/LuxLib/src/utils.jl
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/runtests.jl
  lib/LuxTestUtils/test/Project.toml
  lib/LuxTestUtils/test/runtests.jl
  lib/WeightInitializers/src/utils.jl
  lib/WeightInitializers/test/Project.toml
  lib/WeightInitializers/test/runtests.jl
  test/Project.toml
  test/layers/embedding_tests.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: update readme
  README.md
Due: none

docs: update readme (#1265)
  README.md
Due: none

chore: add to gitignore revs
  .git-blame-ignore-revs
Due: none

chore: more format
  docs/run_single_tutorial.jl
  examples/CIFAR10/common.jl
  examples/DDIM/main.jl
  examples/HyperNet/main.jl
  examples/ImageNet/main.jl
  examples/PINN2DPDE/main.jl
  examples/RealNVP/main.jl
  lib/LuxLib/src/impl/dense.jl
  lib/LuxLib/src/impl/matmul.jl
  lib/MLDataDevices/src/internal.jl
  src/helpers/compact.jl
  src/helpers/losses.jl
  src/preferences.jl
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: LuxLib KA breakage
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/batchnorm.jl
  lib/LuxLib/src/impl/groupnorm.jl
  lib/LuxLib/src/impl/normalization.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: formatting breakage
  examples/RealNVP/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: formatting breakage
  .JuliaFormatter.toml
  examples/CIFAR10/common.jl
  examples/ConvolutionalVAE/main.jl
  examples/ImageNet/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: fix link in StarUs
  docs/make.jl
  docs/src/components/StarUs.vue
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: remove old no format tags
  docs/tutorials.jl
  examples/CIFAR10/conv_mixer.jl
  examples/DDIM/main.jl
  lib/LuxLib/ext/LuxLibSLEEFPiratesExt.jl
  lib/WeightInitializers/src/utils.jl
  src/autodiff/autodiff.jl
  test/enzyme_tests.jl
  test/zygote_type_stability.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: use documenter citations
  docs/Project.toml
  docs/make.jl
  docs/references.bib
  docs/src/references.md
  lib/LuxLib/src/api/batchnorm.jl
  lib/LuxLib/src/api/dropout.jl
  lib/LuxLib/src/api/groupnorm.jl
  lib/LuxLib/src/api/instancenorm.jl
  lib/LuxLib/src/api/layernorm.jl
  src/helpers/losses.jl
  src/layers/containers.jl
  src/layers/embedding.jl
  src/layers/normalize.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: citation bib
  docs/make.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: use documenter citations (#1267)
  .JuliaFormatter.toml
  docs/Project.toml
  docs/make.jl
  docs/references.bib
  docs/src/components/StarUs.vue
  docs/src/references.md
  docs/tutorials.jl
  examples/CIFAR10/common.jl
  examples/CIFAR10/conv_mixer.jl
  examples/ConvolutionalVAE/main.jl
  examples/DDIM/main.jl
  examples/ImageNet/main.jl
  examples/RealNVP/main.jl
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibSLEEFPiratesExt.jl
  lib/LuxLib/src/api/batchnorm.jl
  lib/LuxLib/src/api/dropout.jl
  lib/LuxLib/src/api/groupnorm.jl
  lib/LuxLib/src/api/instancenorm.jl
  lib/LuxLib/src/api/layernorm.jl
  lib/LuxLib/src/impl/batchnorm.jl
  lib/LuxLib/src/impl/groupnorm.jl
  lib/LuxLib/src/impl/normalization.jl
  lib/WeightInitializers/src/utils.jl
  src/autodiff/autodiff.jl
  src/helpers/losses.jl
  src/layers/containers.jl
  src/layers/embedding.jl
  src/layers/normalize.jl
  test/enzyme_tests.jl
  test/zygote_type_stability.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: add MultiHeadAttention
  src/Lux.jl
  src/layers/attention.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: setup for tests and docs
  src/layers/attention.jl
  test/layers/attention_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: match_eltype [skip ci]
  src/layers/attention.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: MHA + doctests
  docs/src/api/Lux/layers.md
  src/layers/attention.jl
  test/layers/attention_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: remove unused imports
  ext/LuxReactantExt/LuxReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: remove unused imports (#1271)
  ext/LuxReactantExt/LuxReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

refactor: restructure project
  examples/ImageNet/Project.toml
  examples/ImageNet/README.md
  examples/ImageNet/common.jl
  examples/ImageNet/ddp/main.jl
  examples/ImageNet/reactant/main.jl
  examples/ImageNet/single_host/Project.toml
  examples/ImageNet/single_host/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

test: MHA
  src/layers/attention.jl
  test/layers/attention_tests.jl
  test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: downgrade CI compats for reactant
  .github/workflows/CI.yml
  Project.toml
  docs/Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: add MultiHeadAttention (#1266)
  .github/workflows/CI.yml
  Project.toml
  docs/Project.toml
  docs/src/api/Lux/layers.md
  src/Lux.jl
  src/layers/attention.jl
  test/Project.toml
  test/layers/attention_tests.jl
  test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/benchmarks.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, benchmarks/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/
