Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

.buildkite/pipeline.yml:

steps:
  - label: "Triggering Pipelines (Pull Request)"
    if: "build.pull_request.base_branch == 'main'"
    agents:
      queue: "juliagpu"
    plugins:
      - monebag/monorepo-diff#v2.5.9:
          diff: ".buildkite/scripts/diff.sh $BUILDKITE_COMMIT"
          interpolation: false
          watch:
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
              config:
                command: "buildkite-agent pipeline upload .buildkite/testing.yml"
                agents:
                  queue: "juliagpu"
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - "docs/"
                - "examples/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/documentation.yml"
                agents:
                  queue: "juliagpu"
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - "benchmark/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/benchmark.yml"
                agents:
                  queue: "juliagpu"

  - label: "Triggering Pipelines (Main Branch / Tag)"
    if: build.branch == "main" || build.tag != null
    agents:
      queue: "juliagpu"
    command: |
      buildkite-agent pipeline upload .buildkite/testing.yml
      buildkite-agent pipeline upload .buildkite/documentation.yml
      buildkite-agent pipeline upload .buildkite/benchmark.yml

CompatHelper: bump compat for AMDGPU to 1 for package DDIM, (keep existing compat)
  examples/DDIM/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for AMDGPU to 1 for package GravitationalWaveForm, (keep existing compat)
  examples/GravitationalWaveForm/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for AMDGPU to 1 for package HyperNet, (keep existing compat)
  examples/HyperNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for AMDGPU to 1 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for AMDGPU to 1 for package NeuralODE, (keep existing compat)
  examples/NeuralODE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for AMDGPU to 1 for package PolynomialFitting, (keep existing compat)
  examples/PolynomialFitting/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for AMDGPU to 1 for package SimpleRNN, (keep existing compat)
  examples/SimpleRNN/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: update version for release
  lib/WeightInitializers/Project.toml
Due: none

chore: bump version
  lib/LuxTestUtils/CHANGELOG.md
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/autodiff.jl
Due: none

test: add a separate test project file
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/test/Project.toml
  lib/LuxTestUtils/test/runtests.jl
Due: none

CompatHelper: bump compat for AMDGPU in [weakdeps] to 1, (keep existing compat)
  lib/LuxLib/Project.toml
Due: none

fix: mark objective function as Const
  ext/LuxEnzymeExt/training.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: don't use private Enzyme API
  ext/LuxEnzymeExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

ci: separate testing for groups in buildkite
  .buildkite/testing.yml
  .github/workflows/CI.yml
  .github/workflows/CIPreRelease.yml
  test/runtests.jl
  test/transform/flux_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: update all AMDGPU compats
  examples/DDIM/Project.toml
  examples/GravitationalWaveForm/Project.toml
  examples/HyperNet/Project.toml
  examples/ImageNet/Project.toml
  examples/NeuralODE/Project.toml
  examples/PolynomialFitting/Project.toml
  examples/SimpleRNN/Project.toml
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: remove Flux as a direct test dep
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: remove some of the unnecessary Flux tests
  src/transform/flux.jl
  test/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

feat: add checks for BLAS/Octavian
  lib/LuxLib/src/impl/Impl.jl
  lib/LuxLib/src/impl/batched_mul.jl
  lib/LuxLib/src/traits.jl
  lib/LuxLib/src/utils.jl
Due: none

ci: more aggressive parallel testing
  lib/LuxLib/src/impl/batched_mul.jl
  lib/LuxLib/src/impl/batchnorm.jl
  lib/LuxLib/src/impl/conv.jl
  lib/LuxLib/src/impl/groupnorm.jl
  lib/LuxLib/test/common_ops/conv_tests.jl
  lib/LuxLib/test/runtests.jl
Due: none

feat: add the forward diff patches
  lib/LuxLib/src/impl/Impl.jl
  lib/LuxLib/src/impl/common_ops.jl
  lib/LuxLib/src/impl/forward_diff.jl
Due: none

refactor: comment out most tests for now
  lib/LuxLib/test/common_ops/bias_act_tests.jl
  lib/LuxLib/test/common_ops/conv_tests.jl
  lib/LuxLib/test/common_ops/dense_tests.jl
  lib/LuxLib/test/common_ops/dropout_tests.jl
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  lib/LuxLib/test/normalization/groupnorm_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
  lib/LuxLib/test/normalization/layernorm_tests.jl
  lib/LuxLib/test/others/forwarddiff_tests.jl
  lib/LuxLib/test/others/qa_tests.jl
Due: none

chore: comment out somethings in Project
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
Due: none

refactor: cleaner normalization implementation
  lib/LuxLib/src/api/API.jl
  lib/LuxLib/src/api/dense.jl
  lib/LuxLib/src/api/instancenorm.jl
  lib/LuxLib/src/api/layernorm.jl
  lib/LuxLib/src/impl/Impl.jl
  lib/LuxLib/src/impl/common_ops.jl
  lib/LuxLib/src/impl/normalization.jl
Due: none

feat: groupnorm implementation
  lib/LuxLib/ext/LuxLibReverseDiffExt.jl
  lib/LuxLib/src/api/groupnorm.jl
  lib/LuxLib/src/impl/Impl.jl
  lib/LuxLib/src/impl/batchnorm.jl
  lib/LuxLib/src/impl/dense.jl
  lib/LuxLib/src/impl/groupnorm.jl
  lib/LuxLib/src/utils.jl
  lib/LuxLib/test/common_ops/dense_tests.jl
Due: none

test: fix old dense tests
  lib/LuxLib/ext/LuxLibReverseDiffExt.jl
  lib/LuxLib/ext/LuxLibTrackerExt.jl
  lib/LuxLib/src/impl/conv.jl
  lib/LuxLib/test/common_ops/dense_tests.jl
  lib/LuxLib/test/runtests.jl
Due: none

feat: add cudnn batchnorm back
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibTrackerExt.jl
  lib/LuxLib/ext/LuxLibcuDNNExt/LuxLibcuDNNExt.jl
  lib/LuxLib/ext/LuxLibcuDNNExt/batchnorm.jl
  lib/LuxLib/src/impl/batched_mul.jl
  lib/LuxLib/src/impl/batchnorm.jl
  lib/LuxLib/src/impl/dropout.jl
  lib/LuxLib/src/impl/normalization.jl
Due: none

refactor: remove attempt_fast_implementation trait
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/api/dropout.jl
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/batched_mul.jl
  lib/LuxLib/src/traits.jl
Due: none

fix: dispatches in extensions
  lib/LuxLib/ext/LuxLibCUDAExt/cublaslt.jl
  lib/LuxLib/ext/LuxLibTrackerAMDGPUExt.jl
  lib/LuxLib/ext/LuxLibTrackerExt.jl
Due: none

feat: add the ReverseDiffExt back
  lib/LuxLib/ext/LuxLibReverseDiffExt.jl
Due: none
