Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxlib.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxlib.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/downstream.yml:
  command: buildkite-agent pipeline upload .buildkite/downstream.yml
  agents:
    queue: juliagpu

test: attention test
  lib/LuxLib/src/api/attention.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: add attention documentation
  docs/src/api/NN_Primitives/LuxLib.md
  lib/LuxLib/src/api/attention.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: correct error messages
  lib/LuxLib/src/impl/attention.jl
  lib/LuxLib/src/impl/batched_mul.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: add tests for generalized bmm
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/others/bmm_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: attention test
  lib/LuxLib/src/impl/Impl.jl
  lib/LuxLib/src/impl/attention.jl
  lib/LuxLib/test/common_ops/attention_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: import
  lib/LuxLib/ext/LuxLibReactantExt/LuxLibReactantExt.jl
  lib/LuxLib/test/common_ops/attention_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: make is_causal a keyword argument
  lib/LuxLib/src/impl/attention.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: reshape
  lib/LuxLib/src/impl/batched_mul.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: attention test
  lib/LuxLib/src/utils.jl
  lib/LuxLib/test/common_ops/attention_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: faster scaled_dot_product_attention for reactant
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibReactantExt/LuxLibReactantExt.jl
  lib/LuxLib/ext/LuxLibReactantExt/attention.jl
  lib/LuxLib/ext/LuxLibReactantExt/batched_mul.jl
  lib/LuxLib/src/api/API.jl
  lib/LuxLib/src/api/attention.jl
  lib/LuxLib/src/api/batched_mul.jl
  lib/LuxLib/src/impl/Impl.jl
  lib/LuxLib/src/impl/attention.jl
  lib/LuxLib/src/impl/batched_mul.jl
  lib/LuxLib/src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: restrict LV uses with PermutedDimsArray
  lib/LuxLib/ext/LuxLibLoopVectorizationExt.jl
  lib/LuxLib/src/impl/batched_mul.jl
  lib/LuxLib/src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: fix sdpa
  lib/LuxLib/test/common_ops/attention_tests.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat(LuxLib): faster scaled_dot_product_attention for reactant (#1461)
  docs/src/api/NN_Primitives/LuxLib.md
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibLoopVectorizationExt.jl
  lib/LuxLib/ext/LuxLibReactantExt/LuxLibReactantExt.jl
  lib/LuxLib/ext/LuxLibReactantExt/attention.jl
  lib/LuxLib/ext/LuxLibReactantExt/batched_mul.jl
  lib/LuxLib/src/api/API.jl
  lib/LuxLib/src/api/attention.jl
  lib/LuxLib/src/api/batched_mul.jl
  lib/LuxLib/src/impl/Impl.jl
  lib/LuxLib/src/impl/attention.jl
  lib/LuxLib/src/impl/batched_mul.jl
  lib/LuxLib/src/utils.jl
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/common_ops/attention_tests.jl
  lib/LuxLib/test/others/bmm_tests.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: faster scaled_dot_product_attention for reactant
  Project.toml
  examples/Qwen3/main.jl
  src/layers/attention.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: faster scaled_dot_product_attention for reactant (#1452)
  Project.toml
  examples/Qwen3/main.jl
  src/layers/attention.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: add project input to julia-downgrade-compat step
  .github/workflows/CommonCI.yml
Due: none

Fix cache action placement in CommonCI workflow
  .github/workflows/CommonCI.yml
Due: none

ci: add project input to julia-downgrade-compat step (#1464)
  .github/workflows/CommonCI.yml
Due: none

fix: make the dimensions correct
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

refactor: use Lux primitives
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: nanoGPT implementation using Reactant
  .gitignore
  examples/NanoGPT/Project.toml
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: more cleanup
  examples/NanoGPT/Project.toml
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: finish the implementation
  examples/NanoGPT/Project.toml
  examples/NanoGPT/README.md
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

[examples] refactor: cleanup
  examples/NanoGPT/Project.toml
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: more progress
  examples/NanoGPT/Project.toml
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: forward pass is now working
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: weighted sample
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: finish
  examples/ConvolutionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: handle numerical stability issues
  examples/ConvolutionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: migrate DDIM to Reactant
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: update DDIM
  examples/DDIM/Project.toml
  examples/DDIM/README.md
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: compile loop [skip ci]
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
  lib/LuxCore/ext/LuxCoreReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: more progress
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
  lib/LuxCore/ext/LuxCoreReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: check against NaNs in images
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: run formatter
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: some more progress
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/
