Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/testing.yml, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/testing_luxcuda.yml
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/testing_weightinitializers.yml
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/testing_mldatadevices.yml
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/testing_luxlib.yml, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/testing_luxtestutils.yml
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/downstream.yml

fix Mooncake versions
  Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxTestUtils/Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

unfix vers
  Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/common_ops/activation_tests.jl
  lib/LuxLib/test/common_ops/bias_act_tests.jl
  lib/LuxTestUtils/Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

.
  Project.toml
  lib/LuxLib/test/common_ops/bias_act_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix
  lib/LuxTestUtils/src/autodiff.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix silent CI errors
  Project.toml
  ext/MooncakeExt/MooncakeExt.jl
  lib/LuxLib/test/Project.toml
  lib/LuxTestUtils/Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

retrigger CI
  lib/LuxTestUtils/src/LuxTestUtils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

.
  lib/LuxTestUtils/src/autodiff.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: fix amdgpu_array_adapt signature mismatch in AMDGPUExt (#1677)
  lib/MLDataDevices/ext/AMDGPUExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: bump version from 1.17.5 to 1.17.6
  lib/MLDataDevices/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: ditch mooncake testing
  test/misc/helpers/training_api_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

test: use tanh
  test/reactant/autodiff_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

chore: bump min versions
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: ditch mooncake testing in training API (#1680)
  Project.toml
  test/misc/helpers/training_api_tests.jl
  test/reactant/autodiff_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

use dev Mooncake on CI only
  .github/workflows/CommonCI.yml
Due: none

fix link
  .github/workflows/CommonCI.yml
Due: none

.
  test/core_layers/normalize_tests.jl
  test/misc/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

bump mooncake
  .github/workflows/CommonCI.yml
  Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxTestUtils/Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Bump version from 2.2.0 to 2.3.0
  lib/LuxTestUtils/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: `Mooncake` for `LuxTestUtils`, `LuxLib`, `Lux` general testing, current Tests. (#1664)
  Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/autodiff.jl
  test/Project.toml
  test/autodiff/nested_input_gradient_tests.jl
  test/autodiff/nested_issue743_tests.jl
  test/autodiff/nested_parameter_gradient_tests.jl
  test/core_layers/normalize_tests.jl
  test/downstream/SimpleChains/simplechains_integrationtest.jl
  test/misc/helpers/adtypes_tests.jl
  test/misc/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: reenable mooncake testing for training api
  test/Project.toml
  test/misc/helpers/training_api_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

test: reenable mooncake testing for training api (#1683)
  test/Project.toml
  test/misc/helpers/training_api_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

fix: N-dimensional mask and bias support in ReactantExt MultiHeadAttention (#1682)
  lib/LuxLib/ext/ReactantExt/attention.jl
  lib/LuxLib/src/impl/attention.jl
  lib/LuxLib/test/common_ops/attention_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: add missing `mooncake_gradient_function` docstring to LuxTestUtils API page (#1687)
  docs/src/api/Testing_Functionality/LuxTestUtils.md
Due: none

chore: bump version from 1.15.4 to 1.15.5
  lib/LuxLib/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Format .jl files
  test/misc/helpers/training_api_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

fix: correct double activation in `cublasLt_fused_dense!` generic fallback (#1685)
  lib/LuxLib/ext/CUDAExt/cublaslt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: host memory leak in cublaslt implementation
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/CUDAExt/cublaslt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: host memory leak in cublaslt implementation (#1689)
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/CUDAExt/cublaslt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat(LuxCUDA): support CUDA v6
  lib/LuxCUDA/Project.toml
  lib/LuxCUDA/src/LuxCUDA.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: new CUDA version
  Project.toml
  lib/LuxLib/Project.toml
  lib/LuxTestUtils/test/Project.toml
  lib/MLDataDevices/Project.toml
  lib/WeightInitializers/Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Add continue-on-error + input toggles for telemetry and cache in CommonCI
  .github/workflows/CommonCI.yml
Due: none

fix: loading of CUDAExt for CUDA v6
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/CUDAExt/cublaslt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: GPUArrays RNG stores seed not state
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/AMDGPUExt.jl
  lib/MLDataDevices/ext/CUDAExt.jl
  lib/MLDataDevices/ext/GPUArraysSparseArraysExt.jl
  lib/MLDataDevices/ext/MetalExt.jl
  lib/MLDataDevices/ext/OpenCLExt.jl
  lib/MLDataDevices/ext/oneAPIExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix(WeightInitializers): update GPUArrays RNG handling for newer versions
  lib/WeightInitializers/Project.toml
  lib/WeightInitializers/ext/GPUArraysExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: cudnn.functional was removed
  lib/LuxCUDA/Project.toml
  lib/LuxCUDA/src/LuxCUDA.jl
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/cuDNNExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: cublaslt on cuda v6
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/CUDAExt/cublaslt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml
