Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/benchmark.yml:
  command: buildkite-agent pipeline upload .buildkite/benchmark.yml
  agents:
    queue: juliagpu

perf: make dropout run faster on CPU
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/api/bias_activation.jl
  lib/LuxLib/src/api/dropout.jl
  lib/LuxLib/src/impl/broadcast.jl
  lib/LuxLib/src/impl/dropout.jl
Due: none

feat: use KA to fuse multiple broadcasts together
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/impl/normalization.jl
  lib/LuxLib/src/utils.jl
Due: none

ci: trigger enzyme tests
  README.md
  test/contrib/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: add NNlib as a direct dep
  Project.toml
  src/Lux.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

docs: add note on updating to new package
  lib/MLDataDevices/README.md
Due: none

chore: formatting
  lib/MLDataDevices/ext/DeviceUtilsTrackerExt.jl
  lib/MLDataDevices/src/DeviceUtils.jl
  lib/MLDataDevices/test/amdgpu_tests.jl
  lib/MLDataDevices/test/cuda_tests.jl
  lib/MLDataDevices/test/metal_tests.jl
  lib/MLDataDevices/test/oneapi_tests.jl
Due: none

fix!: remove deprecations
  lib/MLDataDevices/src/DeviceUtils.jl
Due: none

chore: update uuid
  lib/MLDataDevices/Project.toml
Due: none

refactor!: rename package to DeviceUtils.jl
  lib/MLDataDevices/.gitignore
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/README.md
  lib/MLDataDevices/ext/DeviceUtilsAMDGPUExt.jl
  lib/MLDataDevices/ext/DeviceUtilsCUDAExt.jl
  lib/MLDataDevices/ext/DeviceUtilsFillArraysExt.jl
  lib/MLDataDevices/ext/DeviceUtilsGPUArraysExt.jl
  lib/MLDataDevices/ext/DeviceUtilsMetalExt.jl
  lib/MLDataDevices/ext/DeviceUtilsRecursiveArrayToolsExt.jl
  lib/MLDataDevices/ext/DeviceUtilsReverseDiffExt.jl
  lib/MLDataDevices/ext/DeviceUtilsSparseArraysExt.jl
  lib/MLDataDevices/ext/DeviceUtilsTrackerExt.jl
  lib/MLDataDevices/ext/DeviceUtilsZygoteExt.jl
  lib/MLDataDevices/ext/DeviceUtilscuDNNExt.jl
  lib/MLDataDevices/ext/DeviceUtilsoneAPIExt.jl
  lib/MLDataDevices/ext/LuxDeviceUtilsAMDGPUExt.jl
  lib/MLDataDevices/ext/LuxDeviceUtilsCUDAExt.jl
  lib/MLDataDevices/ext/LuxDeviceUtilsFillArraysExt.jl
  lib/MLDataDevices/ext/LuxDeviceUtilsGPUArraysExt.jl
  lib/MLDataDevices/ext/LuxDeviceUtilsLuxCUDAExt.jl
  lib/MLDataDevices/ext/LuxDeviceUtilsMetalExt.jl
  lib/MLDataDevices/ext/LuxDeviceUtilsReverseDiffExt.jl
  lib/MLDataDevices/ext/LuxDeviceUtilsSparseArraysExt.jl
  lib/MLDataDevices/ext/LuxDeviceUtilsTrackerExt.jl
  lib/MLDataDevices/ext/LuxDeviceUtilsZygoteExt.jl
  lib/MLDataDevices/src/DeviceUtils.jl
  lib/MLDataDevices/test/amdgpu_tests.jl
  lib/MLDataDevices/test/cuda_tests.jl
  lib/MLDataDevices/test/metal_tests.jl
  lib/MLDataDevices/test/misc_tests.jl
  lib/MLDataDevices/test/oneapi_tests.jl
  lib/MLDataDevices/test/qa_tests.jl
  lib/MLDataDevices/test/runtests.jl
Due: none

chore: remove LuxCore dependency
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/README.md
  lib/MLDataDevices/src/DeviceUtils.jl
  lib/MLDataDevices/test/misc_tests.jl
Due: none

refactor: minor cleanups
  lib/MLDataDevices/src/DeviceUtils.jl
Due: none

chore: update link to codecov
  lib/MLDataDevices/README.md
Due: none

revert: activations from SLEEFPirates
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/api/activation.jl
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/affine_normalize.jl
  lib/LuxLib/src/impl/bias_activation.jl
Due: none

fix: reorder loop iterations
  lib/LuxLib/.buildkite/testing.yml
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/affine_normalize.jl
  lib/LuxLib/src/impl/fast_ops.jl
  lib/LuxLib/src/impl/fused_dense.jl
  lib/LuxLib/src/utils.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
Due: none

perf: reorder operations in GN loop
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/affine_normalize.jl
  lib/LuxLib/src/impl/bias_activation.jl
Due: none

feat: use sleefpirates for activation functions on CPU
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/api/activation.jl
  lib/LuxLib/src/api/bias_activation.jl
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/bias_activation.jl
  lib/LuxLib/src/impl/normalization.jl
Due: none

fix: incorrect activation usage
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/bias_activation.jl
Due: none

test: more enzyme testing
  lib/LuxLib/test/normalization/instancenorm_tests.jl
Due: none

refactor: set default dispatch doctor mode as disable
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/bias_activation.jl
  lib/LuxLib/src/impl/dropout.jl
  lib/LuxLib/src/impl/fused_conv.jl
  lib/LuxLib/src/impl/fused_dense.jl
Due: none

feat: use loop vectorization for faster groupnorm
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/affine_normalize.jl
  lib/LuxLib/src/impl/normalization.jl
Due: none

fix: remove `@fastmath`
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/affine_normalize.jl
  lib/LuxLib/src/impl/dropout.jl
  lib/LuxLib/src/impl/normalization.jl
Due: none

fix: dropout enzyme gradients
  lib/LuxLib/src/impl/dropout.jl
Due: none

feat: use loop vectorization for faster dropout
  lib/LuxLib/src/impl/dropout.jl
Due: none

perf: optimize the performance of bias activation
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/impl/bias_activation.jl
  lib/LuxLib/src/impl/fused_dense.jl
Due: none

fix: rollback loop vectorization for now
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/affine_normalize.jl
  lib/LuxLib/src/impl/dropout.jl
  lib/LuxLib/src/impl/normalization.jl
Due: none

chore: mark version for release on merge
  lib/LuxLib/Project.toml
Due: none

refactor: move turbo into single function
  lib/LuxLib/src/api/activation.jl
  lib/LuxLib/src/impl/activation.jl
Due: none

refactor: remove AMDGPU patch for broadcasting
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibAMDGPUExt.jl
Due: none

fix: update to latest API/deprecations
  Project.toml
  src/Lux.jl
  src/layers/basic.jl
  src/layers/conv.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

docs: add new LuxLib functionality to docs
  docs/src/api/Building_Blocks/LuxLib.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: ready to release new version
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: unfuse the broadcast add in generic path
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/bias_activation.jl
Due: none

fix: StaticArray support regression
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/impl/bias_activation.jl
  lib/LuxLib/test/common_ops/dense_tests.jl
Due: none

refactor: clean up Bilinear
  Project.toml
  src/layers/basic.jl
  test/contrib/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

perf: fix enzyme benchmarks
  bench/helpers.jl
  docs/src/manual/autodiff.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/
  buildkite-agent pipeline upload .buildkite/benchmark.yml: any of: src/, ext/, test/, Project.toml, benchmark/
