Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxlib.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxlib.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/benchmarks.yml:
  command: buildkite-agent pipeline upload .buildkite/benchmarks.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/downstream.yml:
  command: buildkite-agent pipeline upload .buildkite/downstream.yml
  agents:
    queue: juliagpu

feat: overload Utils.vec for upcoming wrapper array changes
  examples/ConditionalVAE/Project.toml
  examples/ConditionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: conditional VAE testcase
  docs/make.jl
  docs/src/.vitepress/config.mts
  docs/tutorials.jl
  examples/ConditionalVAE/Project.toml
  examples/ConditionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: CVAE working
  examples/ConditionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: handle numerical stability issues
  examples/ConditionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: finish
  docs/src/public/conditional_vae.png
  docs/src/tutorials/index.md
  examples/ConditionalVAE/Project.toml
  examples/ConditionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: uniform assignment of work
  docs/tutorials.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: recon
  examples/ConditionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: correct image
  docs/src/public/conditional_vae.png
  docs/tutorials.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: conditional VAE (#1157)
  docs/make.jl
  docs/src/.vitepress/config.mts
  docs/src/public/conditional_vae.png
  docs/src/tutorials/index.md
  docs/tutorials.jl
  examples/ConditionalVAE/Project.toml
  examples/ConditionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: finish
  examples/ConditionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: migrate DDIM to Reactant
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: ConditionalVAE on CI
  examples/ConditionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: ConditionalVAE on CI (#1159)
  examples/ConditionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

perf: add optimize option to reactant runs
  perf/resnet/lux_reactant.jl
Due: none

perf: try AoT compile for jax
  perf/resnet/main.py
Due: none

perf: add direct Lux + CUDA numbers
  perf/Project.toml
  perf/README.md
  perf/resnet/lux.jl
  perf/resnet/lux_reactant.jl
Due: none

perf: force sync
  perf/resnet/lux_reactant.jl
Due: none

perf: add comparisons to JAX
  .gitignore
  perf/Project.toml
  perf/README.md
  perf/pyproject.toml
  perf/resnet/main.jl
  perf/resnet/main.py
Due: none

perf: more performance numbers
  perf/README.md
Due: none

perf: cleanup benchmarks
  perf/Project.toml
  perf/README.md
  perf/resnet/lux_reactant.jl
  perf/resnet/reactant.jl
  perf/resnet/resnet.jl
Due: none

CompatHelper: add new compat entry for Optimisers at version 0.4 for package ConditionalVAE, (keep existing compat)
  examples/ConditionalVAE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for StableRNGs at version 1 for package ConditionalVAE, (keep existing compat)
  examples/ConditionalVAE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for Comonicon at version 1 for package ConditionalVAE, (keep existing compat)
  examples/ConditionalVAE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: add 3rd order AD example using Reactant
  docs/make.jl
  docs/src/.vitepress/config.mts
  docs/src/manual/nested_autodiff.md
  docs/src/manual/nested_autodiff_reactant.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Update Project.toml
  lib/MLDataDevices/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: update Project.toml (#1164)
  lib/MLDataDevices/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

CompatHelper: bump compat for Zygote in [weakdeps] to 0.7, (keep existing compat)
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: update DDIM
  examples/ConditionalVAE/main.jl
  examples/DDIM/Project.toml
  examples/DDIM/README.md
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for Zygote to 0.7 for package docs, (keep existing compat)
  docs/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for Zygote to 0.7 for package test, (keep existing compat)
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for Zygote to 0.7 for package Basics, (keep existing compat)
  examples/Basics/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for Zygote to 0.7 for package BayesianNN, (keep existing compat)
  examples/BayesianNN/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for Zygote to 0.7 for package CIFAR10, (keep existing compat)
  examples/CIFAR10/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for Zygote to 0.7 for package DDIM, (keep existing compat)
  examples/DDIM/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for Zygote to 0.7 for package HyperNet, (keep existing compat)
  examples/HyperNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/benchmarks.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, benchmarks/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/
