Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

.buildkite/pipeline.yml:

steps:
  - label: "Triggering Pipelines (Pull Request)"
    if: build.branch != "main" || build.tag == null
    agents:
      queue: "juliagpu"
    plugins:
      - monebag/monorepo-diff#v2.5.9:
          diff: ".buildkite/scripts/diff.sh $BUILDKITE_COMMIT"
          interpolation: false
          watch:
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - ".buildkite/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/testing.yml"
                agents:
                  queue: "juliagpu"
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - "docs/"
                - "examples/"
                - ".buildkite/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/documentation.yml"
                agents:
                  queue: "juliagpu"
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - ".buildkite/"
                - "benchmarks/"
              if: build.pull_request.labels includes "run benchmarks"
              config:
                command: "buildkite-agent pipeline upload .buildkite/benchmarks.yml"
                agents:
                  queue: "juliagpu"

  - label: "Triggering Pipelines (Main Branch / Tag)"
    if: build.branch == "main" || build.tag != null
    agents:
      queue: "juliagpu"
    command: |
      buildkite-agent pipeline upload .buildkite/testing.yml
      buildkite-agent pipeline upload .buildkite/documentation.yml
      buildkite-agent pipeline upload .buildkite/benchmarks.yml

docs: load Functors for KeyPath
  docs/src/manual/freezing_model_parameters.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: task switching in AMDGPU complex batched_matmul (#178)
  lib/LuxLib/.buildkite/testing.yml
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/batched_mul.jl
Due: none

fix: correctly handle adjoints of wrapped arrays (#90)
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesChainRulesCoreExt.jl
  lib/MLDataDevices/src/MLDataDevices.jl
  lib/MLDataDevices/src/public.jl
  lib/MLDataDevices/test/amdgpu_tests.jl
  lib/MLDataDevices/test/cuda_tests.jl
  lib/MLDataDevices/test/metal_tests.jl
  lib/MLDataDevices/test/misc_tests.jl
  lib/MLDataDevices/test/oneapi_tests.jl
Due: none

perf: load LoopVectorization and Octavian for benchmarks
  benchmarks/Project.toml
  benchmarks/runbenchmarks.jl
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: missing import; fixes #179 (#180)
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/Impl.jl
Due: none

perf: load `LoopVectorization` and `Octavian` for benchmarks (#994)
  benchmarks/Project.toml
  benchmarks/runbenchmarks.jl
Due: buildkite-agent pipeline upload .buildkite/benchmarks.yml

refactor: use Lux primitives for AD
  examples/Basics/main.jl
  examples/NeuralODE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: workaround SciML/Optimization.jl#848
  examples/OptimizationIntegration/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

add MLFlow docs
  docs/src/.vitepress/config.mts
  docs/src/tutorials/index.md
  examples/MLFlowLinearRegression/Project.toml
  examples/MLFlowLinearRegression/assets/mlflow.jpg
  examples/MLFlowLinearRegression/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

refactor: use Lux primitives for AD (#995)
  examples/Basics/main.jl
  examples/NeuralODE/main.jl
  examples/OptimizationIntegration/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix images.jl link
  docs/src/ecosystem.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: fix images.jl link (#997)
  docs/src/ecosystem.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Fix broken link
  src/layers/recurrent.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

docs: fix broken link in Recurrence docs (#1001)
  src/layers/recurrent.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

ci: merge LuxCUDA testing scripts
  .buildkite/pipeline.yml
  .buildkite/testing_luxcuda.yml
  .github/workflows/CI.yml
  .github/workflows/CI_LuxCUDA.yml
  lib/LuxCUDA/.JuliaFormatter.toml
  lib/LuxCUDA/.buildkite/pipeline.yml
  lib/LuxCUDA/.github/dependabot.yml
  lib/LuxCUDA/.github/workflows/CI.yml
  lib/LuxCUDA/.github/workflows/CompatHelper.yml
  lib/LuxCUDA/.github/workflows/Downgrade.yml
  lib/LuxCUDA/.github/workflows/FormatCheck.yml
  lib/LuxCUDA/.github/workflows/FormatPR.yml
  lib/LuxCUDA/.github/workflows/Invalidations.yml
  lib/LuxCUDA/.github/workflows/TagBot.yml
  lib/LuxCUDA/.gitignore
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

ci: merge LuxCore testing scripts
  .github/workflows/CI.yml
  .github/workflows/CI_LuxCore.yml
  lib/LuxCUDA/README.md
  lib/LuxCore/.JuliaFormatter.toml
  lib/LuxCore/.buildkite/pipeline.yml
  lib/LuxCore/.buildkite/scripts/diff.sh
  lib/LuxCore/.buildkite/scripts/downstream.jl
  lib/LuxCore/.buildkite/scripts/find_branch_point.sh
  lib/LuxCore/.buildkite/testing.yml
  lib/LuxCore/.github/dependabot.yml
  lib/LuxCore/.github/workflows/CI.yml
  lib/LuxCore/.github/workflows/CompatHelper.yml
  lib/LuxCore/.github/workflows/FormatPR.yml
  lib/LuxCore/.github/workflows/QualityCheck.yml
  lib/LuxCore/.github/workflows/TagBot.yml
  lib/LuxCore/.gitignore
  lib/LuxCore/README.md
Due: none

ci: merge WeightInitializers testing scripts
  .buildkite/testing_luxcuda.yml
  .buildkite/testing_weightinitializers.yml
  .github/workflows/CI_WeightInitializers.yml
  lib/WeightInitializers/.JuliaFormatter.toml
  lib/WeightInitializers/.buildkite/pipeline.yml
  lib/WeightInitializers/.buildkite/scripts/diff.sh
  lib/WeightInitializers/.buildkite/scripts/downstream.jl
  lib/WeightInitializers/.buildkite/scripts/find_branch_point.sh
  lib/WeightInitializers/.buildkite/testing.yml
  lib/WeightInitializers/.github/dependabot.yml
  lib/WeightInitializers/.github/workflows/CI.yml
  lib/WeightInitializers/.github/workflows/CompatHelper.yml
  lib/WeightInitializers/.github/workflows/FormatPR.yml
  lib/WeightInitializers/.github/workflows/QualityCheck.yml
  lib/WeightInitializers/.github/workflows/TagBot.yml
  lib/WeightInitializers/.gitignore
  lib/WeightInitializers/.typos.toml
  lib/WeightInitializers/README.md
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

ci: add WI to pipeline launch
  .buildkite/pipeline.yml
  .buildkite/testing_weightinitializers.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

ci: add MLDataDevices to pipeline launch
  .buildkite/pipeline.yml
  .buildkite/testing_mldatadevices.yml
  .github/workflows/CI_MLDataDevices.yml
  lib/MLDataDevices/.JuliaFormatter.toml
  lib/MLDataDevices/.buildkite/pipeline.yml
  lib/MLDataDevices/.buildkite/scripts/diff.sh
  lib/MLDataDevices/.buildkite/scripts/downstream.jl
  lib/MLDataDevices/.buildkite/scripts/find_branch_point.sh
  lib/MLDataDevices/.buildkite/testing.yml
  lib/MLDataDevices/.github/dependabot.yml
  lib/MLDataDevices/.github/workflows/CI.yml
  lib/MLDataDevices/.github/workflows/CompatHelper.yml
  lib/MLDataDevices/.github/workflows/FormatPR.yml
  lib/MLDataDevices/.github/workflows/QualityCheck.yml
  lib/MLDataDevices/.github/workflows/TagBot.yml
  lib/MLDataDevices/.gitignore
  lib/MLDataDevices/README.md
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

ci: change 1.10 to "lts"
  .github/workflows/CI.yml
  .github/workflows/CI_LuxCUDA.yml
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_MLDataDevices.yml
  .github/workflows/CI_WeightInitializers.yml
  lib/LuxLib/.github/workflows/CI.yml
  lib/LuxTestUtils/.github/workflows/CI.yml
Due: none

test: LuxCore test fixes
  .typos.toml
  lib/LuxCore/test/runtests.jl
  lib/LuxLib/.JuliaFormatter.toml
  lib/LuxLib/.gitignore
  lib/LuxLib/.typos.toml
  lib/LuxLib/README.md
Due: none

ci: soft fail MLDataDevices
  .buildkite/testing_mldatadevices.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

ci: add a central downstream testing
  .github/workflows/CI.yml
  .github/workflows/Downstream.yml
Due: none

ci: partially migrate LuxLib CI
  .buildkite/testing_luxlib.yml
  .github/workflows/CI.yml
  .github/workflows/CI_LuxCUDA.yml
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_LuxLib.yml
  .github/workflows/CI_MLDataDevices.yml
  .github/workflows/CI_WeightInitializers.yml
  .github/workflows/Downstream.yml
  lib/LuxCore/test/runtests.jl
  lib/LuxLib/.github/dependabot.yml
  lib/LuxLib/.github/workflows/Benchmark.yml
  lib/LuxLib/.github/workflows/CI.yml
  lib/LuxLib/.github/workflows/CompatHelper.yml
  lib/LuxLib/.github/workflows/FormatPR.yml
  lib/LuxLib/.github/workflows/QualityCheck.yml
  lib/LuxLib/.github/workflows/TagBot.yml
  lib/LuxTestUtils/.github/dependabot.yml
  lib/LuxTestUtils/.github/workflows/CI.yml
  lib/LuxTestUtils/.github/workflows/CompatHelper.yml
  lib/LuxTestUtils/.github/workflows/FormatPR.yml
  lib/LuxTestUtils/.github/workflows/QualityCheck.yml
  lib/LuxTestUtils/.github/workflows/TagBot.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

ci: remove name field
  .github/workflows/CI.yml
  .github/workflows/CIPreRelease.yml
  .github/workflows/CI_LuxCUDA.yml
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_LuxLib.yml
  .github/workflows/CI_MLDataDevices.yml
  .github/workflows/CI_WeightInitializers.yml
  .typos.toml
Due: none

ci: minor fixes to build scripts
  .github/workflows/CI_LuxCUDA.yml
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_LuxLib.yml
  .github/workflows/CI_MLDataDevices.yml
  .github/workflows/CI_WeightInitializers.yml
Due: none

ci: move LuxTestUtils CI scripts
  .github/workflows/CI_LuxTestUtils.yml
  lib/LuxTestUtils/.JuliaFormatter.toml
  lib/LuxTestUtils/.buildkite/pipeline.yml
  lib/LuxTestUtils/.buildkite/scripts/diff.sh
  lib/LuxTestUtils/.buildkite/scripts/downstream.jl
  lib/LuxTestUtils/.buildkite/scripts/find_branch_point.sh
  lib/LuxTestUtils/.gitignore
  lib/LuxTestUtils/CHANGELOG.md
  lib/LuxTestUtils/README.md
Due: none

ci: update LuxLib workflow
  .github/workflows/CI_LuxLib.yml
Due: none

ci: update LuxLib workflows
  .buildkite/pipeline.yml
  .buildkite/testing_luxlib.yml
  .buildkite/testing_luxtestutils.yml
  .github/workflows/CI_LuxLib.yml
  lib/LuxLib/.buildkite/benchmarks.yml
  lib/LuxLib/.buildkite/pipeline.yml
  lib/LuxLib/.buildkite/scripts/diff.sh
  lib/LuxLib/.buildkite/scripts/downstream.jl
  lib/LuxLib/.buildkite/scripts/find_branch_point.sh
  lib/LuxLib/.buildkite/testing.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

ci: split out downstream testing
  .buildkite/downstream.yml
  .buildkite/pipeline.yml
  .buildkite/testing.yml
  .github/workflows/CI_LuxCUDA.yml
  .github/workflows/Downstream.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

ci: fix certain pipelines
  .buildkite/testing_luxlib.yml
  .github/workflows/CI.yml
  .github/workflows/CIPreRelease.yml
  .github/workflows/CI_LuxLib.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

ci: minor tweaks
  .buildkite/testing.yml
  .github/workflows/CI.yml
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_LuxTestUtils.yml
  .github/workflows/Downstream.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: workflows
  .github/workflows/CompatHelper.yml
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

test: use local LuxCUDA for tests
  .buildkite/benchmarks.yml
  lib/LuxLib/test/runtests.jl
  lib/MLDataDevices/test/runtests.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: use develop
  .buildkite/testing.yml
  lib/LuxLib/test/runtests.jl
  lib/MLDataDevices/test/runtests.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

docs: update
  .buildkite/pipeline.yml
  docs/src/api/Building_Blocks/WeightInitializers.md
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: add dev packages
  lib/LuxLib/test/runtests.jl
  lib/MLDataDevices/test/runtests.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

docs: dev required packages
  .buildkite/documentation.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

perf: merge the benchmarks
  .buildkite/benchmarks.yml
  benchmarks/Project.toml
  benchmarks/setup.jl
  benchmarks/setups/luxlib.jl
  lib/LuxLib/benchmarks/Project.toml
  lib/LuxLib/benchmarks/aggregate.jl
  lib/LuxLib/benchmarks/runbenchmarks.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: minor test fixes
  .buildkite/testing_mldatadevices.yml
  docs/src/ecosystem.md
  lib/LuxLib/test/runtests.jl
  lib/MLDataDevices/test/runtests.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml
