Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxlib.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxlib.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/downstream.yml:
  command: buildkite-agent pipeline upload .buildkite/downstream.yml
  agents:
    queue: juliagpu

fix: options
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: more progress
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
  lib/LuxCore/ext/LuxCoreReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: run formatter
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: working :tada:
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: add copilot instructions (#1427)
  .github/copilot-instructions.md
Due: none

test: Enzyme now works for upsample in 1.10
  test/layers/conv_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

test: Enzyme now works for upsample in 1.10 (#1428)
  test/layers/conv_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

docs: Fix wrong function name
  src/layers/conv.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: Fix wrong function name (#1429)
  src/layers/conv.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: enable gh actions telemetry
  .github/workflows/CI.yml
  .github/workflows/CIPreRelease.yml
  .github/workflows/CI_LuxCUDA.yml
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_LuxLib.yml
  .github/workflows/CI_LuxTestUtils.yml
  .github/workflows/CI_MLDataDevices.yml
  .github/workflows/CI_WeightInitializers.yml
  .github/workflows/CommonCI.yml
Due: none

ci: enable gh actions telemetry (#1430)
  .github/workflows/CI.yml
  .github/workflows/CIPreRelease.yml
  .github/workflows/CI_LuxCUDA.yml
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_LuxLib.yml
  .github/workflows/CI_LuxTestUtils.yml
  .github/workflows/CI_MLDataDevices.yml
  .github/workflows/CI_WeightInitializers.yml
  .github/workflows/CommonCI.yml
Due: none

fix: use HIGH precision only for CUDA
  Project.toml
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

refactor: move out common code
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: allow choosing default precision
  docs/src/manual/preferences.md
  ext/LuxReactantExt/LuxReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: better precision control for Reactant training API (#1431)
  Project.toml
  docs/src/manual/preferences.md
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: import ordering
  src/Lux.jl
  src/contrib/map.jl
  src/layers/pooling.jl
  src/layers/recurrent.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: support CompactLayer in freeze
  src/contrib/contrib.jl
  src/contrib/map.jl
  test/contrib/freeze_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: KeyPath remove
  src/Lux.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: support CompactLayer in freeze (#1432)
  src/Lux.jl
  src/contrib/contrib.jl
  src/contrib/map.jl
  src/layers/pooling.jl
  src/layers/recurrent.jl
  test/contrib/freeze_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: access field
  src/layers/containers.jl
  test/layers/containers_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: apply suggestions from code review
  docs/src/manual/flux_lux_interop.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: some cleanup
  docs/src/.vitepress/config.mts
  docs/src/manual/flux_lux_interop.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: allow connection in Parallel and fusion in BranchLayer to be layers (#1425)
  src/layers/containers.jl
  test/layers/containers_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: add comprehensive documentation for supporting both Flux and Lux frameworks (#1434)
  docs/make.jl
  docs/src/.vitepress/config.mts
  docs/src/manual/flux_lux_interop.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: enable other tutorials
  docs/tutorials.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

ci: actually run the tutorials
  .buildkite/documentation.yml
  docs/run_single_tutorial.jl
  docs/tutorials.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: add DDIM
  docs/src/tutorials/index.md
  docs/tutorials.jl
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

ci: use cpu for docs
  .buildkite/documentation.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: CIFAR10 and ImageNet
  docs/run_single_tutorial.jl
  docs/src/tutorials/index.md
  docs/tutorials.jl
  examples/CIFAR10/common.jl
  examples/CIFAR10/conv_mixer.jl
  examples/CIFAR10/resnet20.jl
  examples/CIFAR10/simple_cnn.jl
  examples/ImageNet/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: add links to download project.toml and script
  .buildkite/documentation.yml
  docs/run_single_tutorial.jl
  docs/src/.vitepress/config.mts
  docs/src/tutorials/index.md
  docs/tutorials.jl
  examples/CIFAR10/README.md
  examples/ConvolutionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: fix link
  docs/run_single_tutorial.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: copy assets to public dir
  .buildkite/documentation.yml
  .gitignore
  docs/run_single_tutorial.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: improvements to tutorials (#1433)
  .buildkite/documentation.yml
  .gitignore
  docs/run_single_tutorial.jl
  docs/src/.vitepress/config.mts
  docs/src/tutorials/index.md
  docs/tutorials.jl
  examples/CIFAR10/README.md
  examples/CIFAR10/common.jl
  examples/CIFAR10/conv_mixer.jl
  examples/CIFAR10/resnet20.jl
  examples/CIFAR10/simple_cnn.jl
  examples/ConvolutionalVAE/main.jl
  examples/DDIM/main.jl
  examples/ImageNet/main.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: missing
  lib/LuxCore/src/stateful.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: overload
  src/helpers/stateful.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: get_state access
  Project.toml
  docs/src/api/Building_Blocks/LuxCore.md
  docs/src/api/Lux/utilities.md
  lib/LuxCore/Project.toml
  lib/LuxCore/src/LuxCore.jl
  lib/LuxCore/src/stateful.jl
  src/helpers/compact.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: support Flux interface for StatefulLuxLayer
  docs/Project.toml
  docs/src/manual/flux_lux_interop.md
  lib/LuxCore/Project.toml
  lib/LuxCore/ext/LuxCoreFluxExt.jl
  lib/LuxCore/src/stateful.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

refactor: move stateful layer into luxcore
  lib/LuxCore/ext/LuxCoreChainRulesCoreExt.jl
  lib/LuxCore/ext/LuxCoreFunctorsExt.jl
  lib/LuxCore/src/LuxCore.jl
  lib/LuxCore/src/custom_layer_interface.jl
  lib/LuxCore/src/stateful.jl
  src/helpers/compact.jl
  src/helpers/stateful.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: add `preserves_state_type` to the interface
  lib/LuxCore/src/LuxCore.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: use preserves_state_type in Lux
  lib/LuxCore/src/LuxCore.jl
  src/helpers/stateful.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/
