Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/

fix: bypass fused kernels for mooncake (for now)
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibMooncakeExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: project toml
  lib/LuxLib/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: precision config
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

test: mooncake integration for dense layers
  docs/src/manual/autodiff.md
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/common_ops/dense_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: bypass fused kernels for mooncake (for now) (#1387)
  docs/src/manual/autodiff.md
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibMooncakeExt.jl
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/common_ops/dense_tests.jl
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: AutoMooncake for training lux models
  Project.toml
  ext/LuxMooncakeExt/LuxMooncakeExt.jl
  ext/LuxMooncakeExt/training.jl
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: mooncake training api test
  Project.toml
  test/Project.toml
  test/helpers/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: export AutoMooncake
  src/Lux.jl
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: AutoMooncake for training lux models (#1388)
  Project.toml
  ext/LuxMooncakeExt/LuxMooncakeExt.jl
  ext/LuxMooncakeExt/training.jl
  src/Lux.jl
  src/helpers/training.jl
  test/Project.toml
  test/helpers/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

CompatHelper: add new compat entry for Mooncake at version 0.4 for package test, (keep existing compat)
  lib/LuxLib/test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Fix https://github.com/chalk-lab/Mooncake.jl/issues/563
  ext/LuxMooncakeExt/LuxMooncakeExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Update Project.toml
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: cleanup CIFAR 10 example dependencies
  examples/CIFAR10/Project.toml
  examples/CIFAR10/README.md
  examples/CIFAR10/common.jl
  examples/CIFAR10/conv_mixer.jl
  examples/CIFAR10/resnet20.jl
  examples/CIFAR10/simple_cnn.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: cleanup CIFAR 10 example dependencies (#1391)
  examples/CIFAR10/Project.toml
  examples/CIFAR10/README.md
  examples/CIFAR10/common.jl
  examples/CIFAR10/conv_mixer.jl
  examples/CIFAR10/resnet20.jl
  examples/CIFAR10/simple_cnn.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for AMDGPU in [weakdeps] to 2 for package LuxLib, (keep existing compat)
  lib/LuxLib/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

CompatHelper: bump compat for AMDGPU in [weakdeps] to 2 for package MLDataDevices, (keep existing compat)
  lib/MLDataDevices/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

CompatHelper: bump compat for AMDGPU in [weakdeps] to 2 for package WeightInitializers, (keep existing compat)
  lib/WeightInitializers/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

De-fragment markdown list in distributed_utils.md
  docs/src/manual/distributed_utils.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Precompile environment before running tutorials
  docs/run_single_tutorial.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: precompile environment before running tutorials (#1398)
  docs/run_single_tutorial.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: de-fragment markdown list in distributed_utils.md (#1397)
  docs/src/manual/distributed_utils.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Add meaning of tuple elements in docs/tutorials.jl
  docs/tutorials.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: add meaning of tuple elements in docs/tutorials.jl (#1399)
  docs/tutorials.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: bump version for release
  lib/LuxLib/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: bump version for release
  lib/MLDataDevices/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: bump version for release
  lib/WeightInitializers/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Split function into two for dataset/dataloader concept separation
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: split function into two for dataset/dataloader concept separation (#1400)
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: add `preserves_state_type` to the interface
  lib/LuxCore/Project.toml
  lib/LuxCore/src/LuxCore.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: use preserves_state_type in Lux
  Project.toml
  docs/src/api/Building_Blocks/LuxCore.md
  lib/LuxCore/src/LuxCore.jl
  src/helpers/stateful.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: overload
  src/Lux.jl
  src/helpers/stateful.jl
  src/layers/dropout.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: use the new dispatch
  docs/src/manual/nested_autodiff.md
  examples/DDIM/main.jl
  examples/GravitationalWaveForm/main.jl
  examples/LSTMEncoderDecoder/main.jl
  examples/NeuralODE/main.jl
  examples/OptimizationIntegration/main.jl
  examples/PINN2DPDE/main.jl
  examples/RealNVP/main.jl
  lib/LuxCore/src/LuxCore.jl
  src/helpers/compact.jl
  src/helpers/stateful.jl
  src/layers/attention.jl
  test/autodiff/batched_autodiff_tests.jl
  test/autodiff/nested_autodiff_tests.jl
  test/helpers/stateful_tests.jl
  test/reactant/tracing_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

refactor: move stateful layer into luxcore
  lib/LuxCore/ext/LuxCoreChainRulesCoreExt.jl
  lib/LuxCore/ext/LuxCoreFunctorsExt.jl
  lib/LuxCore/src/LuxCore.jl
  lib/LuxCore/src/custom_layer_interface.jl
  lib/LuxCore/src/stateful.jl
  src/helpers/compact.jl
  src/helpers/stateful.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml
