Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/benchmarks.yml:
  command: buildkite-agent pipeline upload .buildkite/benchmarks.yml
  agents:
    queue: juliagpu

fix: relax cublaslt types (#173)
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibCUDAExt/LuxLibCUDAExt.jl
  lib/LuxLib/ext/LuxLibCUDAExt/cublaslt.jl
Due: none

docs: add Flux.jl to the README (#83)
  lib/MLDataDevices/README.md
Due: none

ci: run all pre-release
  .github/workflows/CIPreRelease.yml
Due: none

CompatHelper: bump compat for GPUArraysCore to 0.2 for package docs, (keep existing compat)
  docs/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: bump version for release
  lib/MLDataDevices/Project.toml
Due: none

chore: bump version for release
  lib/WeightInitializers/Project.toml
Due: none

CompatHelper: bump compat for GPUArraysCore to 0.2, (keep existing compat)
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: LV/Octavian moved to optional deps
  Project.toml
  docs/src/manual/performance_pitfalls.md
  src/helpers/size_propagator.jl
  test/Project.toml
  test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

docs: add the preference to the docs
  docs/src/manual/performance_pitfalls.md
  docs/src/manual/preferences.md
  test/reactant/loss_tests.jl
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

docs: update deps for the NeuralODE tutorial
  examples/NeuralODE/Project.toml
  examples/NeuralODE/main.jl
  test/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

feat: add fallbacks for unknown objects (#87)
  lib/MLDataDevices/.buildkite/pipeline.yml
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesAMDGPUExt.jl
  lib/MLDataDevices/ext/MLDataDevicesCUDAExt.jl
  lib/MLDataDevices/ext/MLDataDevicesChainRulesCoreExt.jl
  lib/MLDataDevices/ext/MLDataDevicesGPUArraysExt.jl
  lib/MLDataDevices/src/internal.jl
  lib/MLDataDevices/src/public.jl
  lib/MLDataDevices/test/amdgpu_tests.jl
  lib/MLDataDevices/test/cuda_tests.jl
  lib/MLDataDevices/test/metal_tests.jl
  lib/MLDataDevices/test/misc_tests.jl
  lib/MLDataDevices/test/oneapi_tests.jl
  lib/MLDataDevices/test/xla_tests.jl
Due: none

chore: bump minimum versions of packages
  Project.toml
  docs/Project.toml
  examples/ImageNet/Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

refactor: move `JuliaSIMD` deps to extensions (#175)
  lib/LuxLib/.github/workflows/CI.yml
  lib/LuxLib/Project.toml
  lib/LuxLib/benchmarks/Project.toml
  lib/LuxLib/benchmarks/runbenchmarks.jl
  lib/LuxLib/ext/LuxLibLoopVectorizationExt.jl
  lib/LuxLib/ext/LuxLibOctavianExt.jl
  lib/LuxLib/ext/LuxLibSLEEFPiratesExt.jl
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/api/activation.jl
  lib/LuxLib/src/api/batched_mul.jl
  lib/LuxLib/src/api/dense.jl
  lib/LuxLib/src/impl/Impl.jl
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/batched_mul.jl
  lib/LuxLib/src/impl/batchnorm.jl
  lib/LuxLib/src/impl/bias_activation.jl
  lib/LuxLib/src/impl/dropout.jl
  lib/LuxLib/src/impl/groupnorm.jl
  lib/LuxLib/src/impl/matmul.jl
  lib/LuxLib/src/impl/normalization.jl
  lib/LuxLib/src/traits.jl
  lib/LuxLib/src/utils.jl
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/common_ops/activation_tests.jl
  lib/LuxLib/test/common_ops/bias_act_tests.jl
  lib/LuxLib/test/shared_testsetup.jl
Due: none

docs: minor updates to HyperNet
  examples/HyperNet/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: minor formatting issues
  examples/Basics/main.jl
  examples/BayesianNN/main.jl
  examples/HyperNet/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: `LV`/`Octavian` moved to optional deps (#986)
  Project.toml
  docs/Project.toml
  docs/src/manual/performance_pitfalls.md
  docs/src/manual/preferences.md
  examples/Basics/main.jl
  examples/BayesianNN/main.jl
  examples/HyperNet/main.jl
  examples/ImageNet/Project.toml
  examples/NeuralODE/Project.toml
  examples/NeuralODE/main.jl
  src/helpers/size_propagator.jl
  test/Project.toml
  test/qa_tests.jl
  test/reactant/loss_tests.jl
  test/reactant/training_tests.jl
  test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

docs: add compilation example using Reactant
  docs/Project.toml
  docs/make.jl
  docs/src/.vitepress/config.mts
  docs/src/introduction/overview.md
  docs/src/manual/compiling_lux_models.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: define isleaf (#84)
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/src/MLDataDevices.jl
  lib/MLDataDevices/src/public.jl
  lib/MLDataDevices/test/misc_tests.jl
  lib/MLDataDevices/test/runtests.jl
Due: none

docs: finish the docs example
  docs/Project.toml
  docs/src/manual/compiling_lux_models.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: try removing cuda driver compats
  docs/Project.toml
  examples/Basics/Project.toml
  examples/ConvMixer/Project.toml
  examples/DDIM/Project.toml
  examples/HyperNet/Project.toml
  examples/ImageNet/Project.toml
  examples/NeuralODE/Project.toml
  examples/OptimizationIntegration/Project.toml
  examples/PINN2DPDE/Project.toml
  examples/PolynomialFitting/Project.toml
  examples/SimpleRNN/Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

ci(buildkite): run only on 1.10
  .buildkite/documentation.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: handle bitstypes and wrapped arrays in isleaf (#88)
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/src/MLDataDevices.jl
  lib/MLDataDevices/src/public.jl
  lib/MLDataDevices/test/misc_tests.jl
Due: none

docs: fix running training code
  docs/Project.toml
  docs/src/api/Accelerator_Support/MLDataDevices.md
  docs/src/index.md
  docs/src/manual/compiling_lux_models.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: add compilation example using Reactant (#967)
  .buildkite/documentation.yml
  docs/Project.toml
  docs/make.jl
  docs/src/.vitepress/config.mts
  docs/src/api/Accelerator_Support/MLDataDevices.md
  docs/src/index.md
  docs/src/introduction/overview.md
  docs/src/manual/compiling_lux_models.md
  examples/Basics/Project.toml
  examples/ConvMixer/Project.toml
  examples/DDIM/Project.toml
  examples/HyperNet/Project.toml
  examples/ImageNet/Project.toml
  examples/NeuralODE/Project.toml
  examples/OptimizationIntegration/Project.toml
  examples/PINN2DPDE/Project.toml
  examples/PolynomialFitting/Project.toml
  examples/SimpleRNN/Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

chore: bump version for release
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

docs: add `TPU` to index page
  docs/src/index.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs(reactant): simplify the enzyme call
  docs/src/manual/compiling_lux_models.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: fix enzyme call
  docs/src/manual/compiling_lux_models.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs(reactant): simplify the enzyme call (#987)
  docs/src/manual/compiling_lux_models.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for Turing to 0.35 for package BayesianNN, (keep existing compat)
  examples/BayesianNN/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/
  buildkite-agent pipeline upload .buildkite/benchmarks.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, benchmarks/
