Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/testing.yml, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/testing_luxcuda.yml
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/testing_weightinitializers.yml
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/testing_mldatadevices.yml
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/testing_luxlib.yml, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/testing_luxtestutils.yml
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/downstream.yml

chore: rename extensions in Lux (#1621)
  Project.toml
  ext/ComponentArraysExt.jl
  ext/EnzymeExt/EnzymeExt.jl
  ext/EnzymeExt/autodiff.jl
  ext/EnzymeExt/training.jl
  ext/FluxExt.jl
  ext/GPUArraysExt.jl
  ext/LossFunctionsExt.jl
  ext/MLUtilsExt.jl
  ext/MPIExt.jl
  ext/MPINCCLExt.jl
  ext/MooncakeExt/MooncakeExt.jl
  ext/MooncakeExt/training.jl
  ext/ReactantExt/ReactantExt.jl
  ext/ReactantExt/batched_jacobian.jl
  ext/ReactantExt/layers.jl
  ext/ReactantExt/patches.jl
  ext/ReactantExt/precompile_workloads.jl
  ext/ReactantExt/saved_model.jl
  ext/ReactantExt/tracing.jl
  ext/ReactantExt/training.jl
  ext/ReverseDiffExt/ReverseDiffExt.jl
  ext/ReverseDiffExt/rules.jl
  ext/ReverseDiffExt/training.jl
  ext/ReverseDiffExt/utils.jl
  ext/SimpleChainsExt.jl
  ext/TrackerExt/TrackerExt.jl
  ext/TrackerExt/rules.jl
  ext/TrackerExt/training.jl
  ext/TrackerExt/utils.jl
  ext/ZygoteExt/ZygoteExt.jl
  ext/ZygoteExt/batched_autodiff.jl
  ext/ZygoteExt/nested_autodiff.jl
  ext/ZygoteExt/training.jl
  lib/LuxCore/Project.toml
  lib/LuxCore/ext/FluxExt.jl
  src/distributed/backend.jl
  src/distributed/public_api.jl
  src/transform/flux.jl
  src/transform/simplechains.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: update LuxTestUtils to support 1.12
  .buildkite/testing_luxtestutils.yml
  .github/workflows/CI_LuxTestUtils.yml
  lib/LuxLib/test/common_ops/dense_tests.jl
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/autodiff.jl
  lib/LuxTestUtils/src/jet.jl
  test/enzyme_tests.jl
  test/helpers/loss_tests.jl
  test/helpers/training_tests.jl
  test/layers/basic_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Add support for recursing Chains in ReactantCompatibleOptimisers
  src/helpers/optimizers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Add missing :
  src/helpers/optimizers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Allow for empty Chains.
  src/layers/containers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: circular dependency warning in MLDataDevices
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/GPUArraysExt.jl
  lib/MLDataDevices/ext/GPUArraysSparseArraysExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: circular dependency warning in MLDataDevices (#1624)
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/GPUArraysExt.jl
  lib/MLDataDevices/ext/GPUArraysSparseArraysExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Revision to avoid behavior change.
  src/layers/containers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Apply suggestion from @avik-pal
  src/layers/containers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: allow for empty Chains. (#1623)
  src/layers/containers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: explicit imports failures from 0.14.2
  ext/EnzymeExt/EnzymeExt.jl
  src/Lux.jl
  src/contrib/contrib.jl
  src/extended_ops.jl
  src/helpers/compact.jl
  src/helpers/losses.jl
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: explicit imports failures from 0.14.2 (#1626)
  ext/EnzymeExt/EnzymeExt.jl
  src/Lux.jl
  src/contrib/contrib.jl
  src/extended_ops.jl
  src/helpers/compact.jl
  src/helpers/losses.jl
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: temporarily disable precompile workloads for reactant
  Project.toml
  ext/ReactantExt/ReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: temporarily disable precompile workloads for reactant (#1628)
  Project.toml
  ext/ReactantExt/ReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: improve 1.12 support via workspaces
  .JuliaLint.toml
  Project.toml
  lib/LuxCUDA/Project.toml
  lib/LuxCUDA/test/Project.toml
  lib/LuxCore/Project.toml
  lib/LuxCore/ext/FluxExt.jl
  lib/LuxCore/src/LuxCore.jl
  lib/LuxCore/test/Project.toml
  lib/LuxCore/test/runtests.jl
  lib/LuxLib/Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/test/Project.toml
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/test/Project.toml
  lib/WeightInitializers/Project.toml
  lib/WeightInitializers/test/Project.toml
  src/helpers/compact.jl
  src/layers/basic.jl
  src/layers/display.jl
  src/preferences.jl
  src/utils.jl
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: drop argcheck (for JETLS)
  Project.toml
  ext/FluxExt.jl
  ext/MPINCCLExt.jl
  ext/SimpleChainsExt.jl
  ext/ZygoteExt/ZygoteExt.jl
  ext/ZygoteExt/batched_autodiff.jl
  lib/WeightInitializers/Project.toml
  lib/WeightInitializers/src/WeightInitializers.jl
  lib/WeightInitializers/src/initializers.jl
  lib/WeightInitializers/src/partial.jl
  src/Lux.jl
  src/autodiff/autodiff.jl
  src/autodiff/batched_autodiff.jl
  src/autodiff/utils.jl
  src/contrib/contrib.jl
  src/contrib/debug.jl
  src/contrib/map.jl
  src/contrib/share_parameters.jl
  src/helpers/compact.jl
  src/helpers/losses.jl
  src/layers/attention.jl
  src/layers/basic.jl
  src/layers/conv.jl
  src/layers/dropout.jl
  src/layers/embedding.jl
  src/layers/normalize.jl
  src/layers/pooling.jl
  src/preferences.jl
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: more JETLS fixups
  src/preferences.jl
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: add UUIDs to skip
  .github/workflows/CommonCI.yml
Due: none

fix: incorrect assert usage
  ext/ZygoteExt/batched_autodiff.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: strict test
  src/layers/display.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: multiple luxlib fixes
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/impl/batched_mul.jl
  test/autodiff/batched_autodiff_tests.jl
  test/layers/conv_tests.jl
  test/layers/normalize_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: reactant precompilation + throw error [skip ci]
  ext/ReactantExt/ReactantExt.jl
  ext/ReactantExt/precompile_workloads.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: fixes
  test/contrib/share_parameters_tests.jl
  test/helpers/compact_tests.jl
  test/helpers/loss_tests.jl
  test/layers/conv_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

chore(LuxCore): bump version from 1.5.1 to 1.5.2
  lib/LuxCore/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: update LuxTestUtils to support 1.12
  .buildkite/testing_luxtestutils.yml
  .github/workflows/CI_LuxTestUtils.yml
  Project.toml
  lib/LuxCUDA/Project.toml
  lib/LuxCore/Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/test/common_ops/dense_tests.jl
  lib/LuxLib/test/common_ops/dropout_tests.jl
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/autodiff.jl
  lib/LuxTestUtils/src/jet.jl
  lib/MLDataDevices/Project.toml
  lib/WeightInitializers/Project.toml
  test/enzyme_tests.jl
  test/helpers/loss_tests.jl
  test/helpers/training_tests.jl
  test/layers/basic_tests.jl
  test/layers/dropout_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: more test fixes
  test/layers/conv_tests.jl
  test/layers/pooling_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

feat: update LuxTestUtils to support 1.12 (#1535)
  .buildkite/testing_luxtestutils.yml
  .github/workflows/CI_LuxTestUtils.yml
  Project.toml
  lib/LuxCUDA/Project.toml
  lib/LuxCore/Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/test/common_ops/dense_tests.jl
  lib/LuxLib/test/common_ops/dropout_tests.jl
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/autodiff.jl
  lib/LuxTestUtils/src/jet.jl
  lib/MLDataDevices/Project.toml
  lib/WeightInitializers/Project.toml
  test/enzyme_tests.jl
  test/helpers/loss_tests.jl
  test/helpers/training_tests.jl
  test/layers/basic_tests.jl
  test/layers/conv_tests.jl
  test/layers/dropout_tests.jl
  test/layers/pooling_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: downgrade version from 2.2.0 to 2.1.0
  lib/LuxTestUtils/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: improved testing by auto-parsing sources
  .github/workflows/CI.yml
  .github/workflows/CI_LuxCUDA.yml
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_LuxLib.yml
  .github/workflows/CI_MLDataDevices.yml
  .github/workflows/CI_WeightInitializers.yml
  .github/workflows/CommonCI.yml
  lib/LuxLib/test/Project.toml
  lib/MLDataDevices/test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: improved testing by auto-parsing sources
  .github/workflows/CI.yml
  .github/workflows/CI_LuxCUDA.yml
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_LuxLib.yml
  .github/workflows/CI_MLDataDevices.yml
  .github/workflows/CI_WeightInitializers.yml
  .github/workflows/CommonCI.yml
  lib/LuxCore/Project.toml
  lib/LuxCore/test/Project.toml
  lib/LuxLib/test/Project.toml
  lib/MLDataDevices/test/Project.toml
  lib/WeightInitializers/test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: only run downstream tests(drop me)
  .github/workflows/CI.yml
  .github/workflows/CI_LuxCUDA.yml
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_LuxLib.yml
  .github/workflows/CI_MLDataDevices.yml
  .github/workflows/CI_WeightInitializers.yml
Due: none

test(LuxLib): migrate testing to v1.12
  .buildkite/testing_luxlib.yml
  .github/workflows/CI_LuxLib.yml
  lib/LuxLib/Project.toml
  lib/LuxLib/src/api/groupnorm.jl
  lib/LuxLib/test/common_ops/activation_tests.jl
  lib/LuxLib/test/common_ops/attention_tests.jl
  lib/LuxLib/test/common_ops/bias_act_tests.jl
  lib/LuxLib/test/common_ops/conv_tests.jl
  lib/LuxLib/test/common_ops/dense_tests.jl
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  lib/LuxLib/test/normalization/groupnorm_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
  lib/LuxLib/test/normalization/layernorm_tests.jl
  lib/LuxLib/test/others/bmm_tests.jl
  lib/LuxLib/test/others/forwarddiff_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml
