Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxlib.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxlib.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/benchmarks.yml:
  command: buildkite-agent pipeline upload .buildkite/benchmarks.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/downstream.yml:
  command: buildkite-agent pipeline upload .buildkite/downstream.yml
  agents:
    queue: juliagpu

chore: bump version for release
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: run partial dataset only on CI
  examples/HyperNet/main.jl
  examples/NeuralODE/main.jl
  examples/SimpleChains/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: run partial dataset only on CI (#1128)
  examples/HyperNet/main.jl
  examples/NeuralODE/main.jl
  examples/SimpleChains/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: preserve object when device is same
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesAMDGPUExt.jl
  lib/MLDataDevices/ext/MLDataDevicesCUDAExt.jl
  lib/MLDataDevices/ext/MLDataDevicesMetalExt.jl
  lib/MLDataDevices/ext/MLDataDevicesoneAPIExt.jl
  lib/MLDataDevices/src/public.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: object not copied
  lib/MLDataDevices/test/amdgpu_tests.jl
  lib/MLDataDevices/test/cuda_tests.jl
  lib/MLDataDevices/test/metal_tests.jl
  lib/MLDataDevices/test/oneapi_tests.jl
  lib/MLDataDevices/test/xla_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: preserve object when device is same (#1133)
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesAMDGPUExt.jl
  lib/MLDataDevices/ext/MLDataDevicesCUDAExt.jl
  lib/MLDataDevices/ext/MLDataDevicesMetalExt.jl
  lib/MLDataDevices/ext/MLDataDevicesoneAPIExt.jl
  lib/MLDataDevices/src/public.jl
  lib/MLDataDevices/test/amdgpu_tests.jl
  lib/MLDataDevices/test/cuda_tests.jl
  lib/MLDataDevices/test/metal_tests.jl
  lib/MLDataDevices/test/oneapi_tests.jl
  lib/MLDataDevices/test/xla_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: use functors for testing wrapped arrays
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesComponentArraysExt.jl
  lib/MLDataDevices/src/public.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: use functors for testing wrapped arrays (#1134)
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesComponentArraysExt.jl
  lib/MLDataDevices/src/public.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: remove old patches around reactant bug
  Project.toml
  ext/LuxReactantExt/patches.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: remove old patches around reactant bug (#1135)
  Project.toml
  ext/LuxReactantExt/patches.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

CompatHelper: bump compat for Flux in [weakdeps] to 0.16, (keep existing compat)
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: update citation version
  CITATION.cff
  README.md
Due: none

docs: fix DOI
  README.md
Due: none

ci: nicer TagBot setup
  .github/workflows/TagBot.yml
Due: none

feat: conditional VAE testcase
  docs/src/.vitepress/config.mts
  docs/tutorials.jl
  examples/ConditionalVAE/Project.toml
  examples/ConditionalVAE/main.jl
  examples/ConvMixer/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: overload Utils.vec for upcoming wrapper array changes
  examples/ConditionalVAE/Project.toml
  examples/ConditionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: update ConvMixer to support reactant
  examples/ConvMixer/Project.toml
  examples/ConvMixer/README.md
  examples/ConvMixer/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: keep the ConvMixer default backend as cuda.jl for now
  examples/ConvMixer/Project.toml
  examples/ConvMixer/README.md
  examples/ConvMixer/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: remove unnecessary patches for now
  examples/ConditionalVAE/Project.toml
  examples/ConditionalVAE/main.jl
  examples/ConvMixer/main.jl
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: update reactant version
  docs/src/.vitepress/config.mts
  docs/tutorials.jl
  examples/ConvMixer/Project.toml
  examples/ConvMixer/main.jl
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: pipeline working :tada:
  examples/ConvMixer/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: emit batch_norm ops from stablehlo
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

use `return_type` instead of `_return_type`
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/batched_mul.jl
  lib/LuxLib/src/traits.jl
  lib/LuxLib/src/utils.jl
  src/helpers/losses.jl
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: use `return_type` instead of `_return_type` (#1148)
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/batched_mul.jl
  lib/LuxLib/src/traits.jl
  lib/LuxLib/src/utils.jl
  src/helpers/losses.jl
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

don't export deprecated functions
  src/deprecations.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

remove public declaration instead
  src/deprecations.jl
  src/helpers/recursive_ops.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Update src/helpers/recursive_ops.jl
  src/helpers/recursive_ops.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: don't declare implicitly exported functions public (#1147)
  src/helpers/recursive_ops.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: update to new reactant changes
  Project.toml
  docs/Project.toml
  docs/make.jl
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/patches.jl
  ext/LuxReactantExt/training.jl
  lib/LuxCore/Project.toml
  lib/MLDataDevices/Project.toml
  src/layers/normalize.jl
  src/layers/pooling.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: use enzyme correctly
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: don't force ::Real
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibTrackerExt.jl
  lib/LuxLib/ext/LuxLibcuDNNExt/LuxLibcuDNNExt.jl
  lib/LuxLib/src/api/batchnorm.jl
  lib/LuxLib/src/api/groupnorm.jl
  lib/LuxLib/src/api/instancenorm.jl
  lib/LuxLib/src/api/layernorm.jl
  lib/LuxLib/src/impl/batchnorm.jl
  lib/LuxLib/src/impl/dropout.jl
  lib/LuxLib/src/impl/groupnorm.jl
  lib/LuxLib/src/impl/layernorm.jl
  lib/LuxLib/src/impl/normalization.jl
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  lib/LuxLib/test/normalization/groupnorm_tests.jl
  src/helpers/losses.jl
  src/helpers/size_propagator.jl
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/benchmarks.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, benchmarks/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/
