Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/benchmark.yml:
  command: buildkite-agent pipeline upload .buildkite/benchmark.yml
  agents:
    queue: juliagpu

fix: errors in testing
  Project.toml
  docs/src/api/Building_Blocks/LuxLib.md
  src/layers/dropout.jl
  test/helpers/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore!: remove annotation of WrappedFunction
  ext/LuxDynamicExpressionsExt.jl
  ext/LuxFluxExt.jl
  src/layers/basic.jl
  src/layers/conv.jl
  src/layers/extension.jl
  test/contrib/share_parameters_tests.jl
  test/helpers/compact_tests.jl
  test/layers/basic_tests.jl
  test/layers/containers_tests.jl
  test/transform/flux_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore!: remove contrib deprecations
  docs/src/api/Lux/contrib.md
  src/Lux.jl
  src/contrib/contrib.jl
  src/contrib/deprecated.jl
  src/deprecated.jl
  src/helpers/compact.jl
  src/transform/flux.jl
  test/contrib/freeze_tests.jl
  test/contrib/share_parameters_tests.jl
  test/helpers/stateful_tests.jl
  test/helpers/training_tests.jl
  test/utils_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

refactor: migrate to `MLDataDevices`
  Project.toml
  docs/Project.toml
  docs/make.jl
  docs/run_single_tutorial.jl
  docs/src/.vitepress/config.mts
  docs/src/api/Accelerator_Support/MLDataDevices.md
  docs/src/manual/distributed_utils.md
  docs/src/manual/gpu_management.md
  docs/src/manual/preferences.md
  examples/ImageNet/utils.jl
  ext/LuxDynamicExpressionsExt.jl
  ext/LuxMPIExt.jl
  ext/LuxMPINCCLExt.jl
  ext/LuxReverseDiffExt/LuxReverseDiffExt.jl
  ext/LuxReverseDiffExt/rules.jl
  ext/LuxTrackerExt.jl
  ext/LuxZygoteExt/LuxZygoteExt.jl
  ext/LuxZygoteExt/batched_ad.jl
  src/Lux.jl
  src/distributed/public_api.jl
  src/helpers/nested_ad.jl
  src/helpers/training.jl
  src/layers/extension.jl
  src/transform/flux.jl
  test/contrib/share_parameters_tests.jl
  test/distributed/common_distributedtest.jl
  test/distributed/data_distributedtest.jl
  test/distributed/optimizer_distributedtest.jl
  test/distributed/synchronize_distributedtest.jl
  test/helpers/training_tests.jl
  test/layers/normalize_tests.jl
  test/qa_tests.jl
  test/setup_modes.jl
  test/shared_testsetup.jl
  test/transform/flux_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: fix some tests
  src/helpers/training.jl
  test/contrib/map_tests.jl
  test/helpers/training_tests.jl
  test/layers/containers_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: drop pre-1.0 weight initializers
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: store the bias as a vector
  src/layers/basic.jl
  src/layers/conv.jl
  src/layers/recurrent.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore!: remove `st_fixed_type`
  src/contrib/debug.jl
  src/helpers/stateful.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

ci: remove unncessary vars
  .github/workflows/CI.yml
  src/Lux.jl
  src/layers/basic.jl
  src/transform/simplechains.jl
  test/contrib/map_tests.jl
  test/layers/containers_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore!: remove flattening of chains
  src/layers/basic.jl
  src/layers/containers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: format suggestion
  src/layers/dropout.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: don't reexport NNlib.dropout
  docs/src/api/Building_Blocks/LuxLib.md
  src/Lux.jl
  src/helpers/training.jl
  src/layers/dropout.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

CompatHelper: bump compat for SymbolicUtils to 3 for package SymbolicOptimalControl, (keep existing compat)
  examples/SymbolicOptimalControl/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: add gradient functions for enzyme reverse
  lib/LuxTestUtils/.gitignore
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/autodiff.jl
  lib/LuxTestUtils/src/utils.jl
Due: none

refactor!: update how `@jet` works
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/jet.jl
  lib/LuxTestUtils/test/runtests.jl
  lib/LuxTestUtils/test/unit_tests.jl
Due: none

feat: add gradient functions for finitediff & zygote
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/autodiff.jl
  lib/LuxTestUtils/src/utils.jl
Due: none

fix: skip FiniteDiff on GPU too slow
  lib/LuxTestUtils/src/autodiff.jl
Due: none

feat: add all the test_gradient functionality
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/README.md
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/autodiff.jl
  lib/LuxTestUtils/src/jet.jl
  lib/LuxTestUtils/src/utils.jl
Due: none

test: add some simple tests
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/autodiff.jl
  lib/LuxTestUtils/src/jet.jl
  lib/LuxTestUtils/test/unit_tests.jl
Due: none

fix: typo in device selection
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/autodiff.jl
Due: none

feat: easy mechanism to set preferences
  LocalPreferences.toml
  Project.toml
  docs/src/api/Lux/utilities.md
  docs/src/manual/performance_pitfalls.md
  docs/src/manual/preferences.md
  src/Lux.jl
  src/preferences.jl
  test/runtests.jl
  test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

docs: update broken links and fail on linkcheck
  docs/make.jl
  docs/src/manual/autodiff.md
  docs/src/manual/nested_autodiff.md
  docs/src/manual/performance_pitfalls.md
  docs/src/manual/preferences.md
  examples/Basics/main.jl
  examples/BayesianNN/main.jl
  examples/SymbolicOptimalControl/main.jl
  src/helpers/losses.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

feat: skip tests with test_skip
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/autodiff.jl
  lib/LuxTestUtils/test/unit_tests.jl
Due: none

fix: missing imports
  lib/LuxTestUtils/README.md
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/autodiff.jl
  lib/LuxTestUtils/src/test_softfail.jl
  lib/LuxTestUtils/test/unit_tests.jl
Due: none

fix: enable parallel testing
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/test/runtests.jl
Due: none

feat: introduce softfail
  lib/LuxTestUtils/.github/workflows/CI.yml
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/autodiff.jl
  lib/LuxTestUtils/src/test_softfail.jl
  lib/LuxTestUtils/test/unit_tests.jl
Due: none

chore: add a CHANGELOG.md
  lib/LuxTestUtils/CHANGELOG.md
Due: none

fix: testing problems and enzyme loading on nightly
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/autodiff.jl
  lib/LuxTestUtils/test/unit_tests.jl
Due: none

ci: standardize buildkite CI
  lib/LuxTestUtils/.buildkite/pipeline.yml
  lib/LuxTestUtils/.buildkite/scripts/diff.sh
  lib/LuxTestUtils/.buildkite/scripts/downstream.jl
  lib/LuxTestUtils/.buildkite/scripts/find_branch_point.sh
  lib/LuxTestUtils/.buildkite/testing.yml
Due: none

ci: standardize CI
  lib/LuxTestUtils/.github/workflows/CI.yml
  lib/LuxTestUtils/.github/workflows/Downgrade.yml
  lib/LuxTestUtils/.github/workflows/Downstream.yml
  lib/LuxTestUtils/.github/workflows/FormatCheck.yml
  lib/LuxTestUtils/.github/workflows/QualityCheck.yml
  lib/LuxTestUtils/Project.toml
Due: none

chore: run formatter
  lib/LuxTestUtils/.JuliaFormatter.toml
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/utils.jl
  lib/LuxTestUtils/test/unit_tests.jl
Due: none

chore: bump version to 1.1
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/autodiff.jl
Due: none

test: use latest LuxTestUtils
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/forward_diff.jl
  lib/LuxLib/test/common_ops/activation_tests.jl
  lib/LuxLib/test/common_ops/conv_tests.jl
  lib/LuxLib/test/common_ops/dense_tests.jl
  lib/LuxLib/test/common_ops/dropout_tests.jl
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  lib/LuxLib/test/normalization/groupnorm_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
  lib/LuxLib/test/normalization/layernorm_tests.jl
  lib/LuxLib/test/others/forwarddiff_tests.jl
  lib/LuxLib/test/shared_testsetup.jl
Due: none

test: skip more enzyme tests on windows
  lib/LuxLib/Project.toml
  lib/LuxLib/test/normalization/batchnorm_tests.jl
Due: none

test: update to 1.1 for softfail feature
  lib/LuxLib/Project.toml
  lib/LuxLib/test/common_ops/conv_tests.jl
  lib/LuxLib/test/common_ops/dense_tests.jl
  lib/LuxLib/test/common_ops/dropout_tests.jl
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  lib/LuxLib/test/normalization/groupnorm_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
Due: none

fix: tracker with component arrays
  lib/LuxTestUtils/CHANGELOG.md
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/autodiff.jl
  lib/LuxTestUtils/test/unit_tests.jl
Due: none

fix: links in CHANGELOG
  lib/LuxTestUtils/CHANGELOG.md
Due: none

fix: Tracker with Array wrappers
  lib/LuxTestUtils/CHANGELOG.md
  lib/LuxTestUtils/src/autodiff.jl
  lib/LuxTestUtils/test/unit_tests.jl
Due: none

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/
  buildkite-agent pipeline upload .buildkite/benchmark.yml: any of: src/, ext/, test/, Project.toml, benchmark/
