Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/benchmark.yml:
  command: buildkite-agent pipeline upload .buildkite/benchmark.yml
  agents:
    queue: juliagpu

chore: bump version
  lib/LuxTestUtils/Project.toml
Due: none

CompatHelper: bump compat for DynamicExpressions in [weakdeps] to 0.19, (keep existing compat)
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

CompatHelper: bump compat for LuxTestUtils to 1 for package docs, (keep existing compat)
  docs/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for DynamicExpressions to 0.19 for package SymbolicOptimalControl, (keep existing compat)
  examples/SymbolicOptimalControl/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: update compat and docs for newer `LuxTestUtils`
  Project.toml
  docs/Project.toml
  docs/src/api/Testing_Functionality/LuxTestUtils.md
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: update testing to the new API
  .buildkite/testing.yml
  Project.toml
  ext/LuxTrackerExt.jl
  test/contrib/debug_tests.jl
  test/contrib/freeze_tests.jl
  test/contrib/map_tests.jl
  test/contrib/share_parameters_tests.jl
  test/enzyme_tests.jl
  test/helpers/compact_tests.jl
  test/helpers/loss_tests.jl
  test/helpers/training_tests.jl
  test/layers/basic_tests.jl
  test/layers/containers_tests.jl
  test/layers/conv_tests.jl
  test/layers/dropout_tests.jl
  test/layers/dynamic_expressions_tests.jl
  test/layers/normalize_tests.jl
  test/layers/recurrent_tests.jl
  test/shared_testsetup.jl
  test/transform/simple_chains_tests.jl
  test/utils_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: skip more enzyme tests and remove finitedifferences
  Project.toml
  docs/src/api/Testing_Functionality/LuxTestUtils.md
  src/layers/extension.jl
  test/helpers/loss_tests.jl
  test/helpers/nestedad_tests.jl
  test/helpers/training_tests.jl
  test/layers/recurrent_tests.jl
  test/shared_testsetup.jl
  test/transform/simple_chains_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

refactor: move TrackerExt in a directory
  ext/LuxReverseDiffExt/apply.jl
  ext/LuxTrackerExt.jl
  ext/LuxTrackerExt/LuxTrackerExt.jl
  ext/LuxTrackerExt/apply.jl
  ext/LuxTrackerExt/rules.jl
  ext/LuxTrackerExt/training.jl
  ext/LuxTrackerExt/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: Bidirectional Enzyme fails only on Mac
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: revert version bump
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: don't deepcopy unless needed
  lib/LuxCore/Project.toml
  lib/LuxCore/src/LuxCore.jl
Due: none

test: bug fixes and use correct threads
  lib/LuxLib/test/normalization/layernorm_tests.jl
  lib/LuxLib/test/runtests.jl
Due: none

Add SAMLoss and rrule
  src/helpers/losses.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

__unsafe_apply_loss and try some tests
  src/helpers/losses.jl
  test/helpers/loss_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

feat: NilArray for check size propagation
  Project.toml
  src/Lux.jl
  src/helpers/size_propagator.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: check in manifest
  .github/workflows/Benchmark.yml
  Manifest.toml
  src/utils.jl
  test/layers/containers_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: wrong function in macro
  lib/LuxLib/src/impl/affine_normalize.jl
Due: none

feat: add EnzymeRules for `_alpha_dropout_kernel!`
  lib/LuxLib/src/impl/dropout.jl
  lib/LuxLib/src/impl/normalization.jl
Due: none

fix: dimension checks for matmul
  lib/LuxLib/src/impl/matmul.jl
Due: none

perf: revert upperbound LV usage
  lib/LuxLib/src/impl/matmul.jl
Due: none

test: bug fixes and use correct threads
  lib/LuxLib/.github/workflows/CI.yml
Due: none

refactor: remove unwanted reshapes in BN impl
  lib/LuxLib/src/impl/affine_normalize.jl
Due: none

feat: add a public version of OOP activation
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/api/activation.jl
  lib/LuxLib/test/common_ops/activation_tests.jl
Due: none

refactor: restructure normalization functions
  lib/LuxLib/src/impl/affine_normalize.jl
Due: none

feat: add EnzymeRules for `matmul!` and `matmuladd!`
  lib/LuxLib/src/impl/matmul.jl
Due: none

feat: use LoopVectorization for faster operations
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/affine_normalize.jl
  lib/LuxLib/src/impl/bias_activation.jl
  lib/LuxLib/src/impl/dropout.jl
  lib/LuxLib/src/impl/fused_dense.jl
  lib/LuxLib/src/impl/matmul.jl
  lib/LuxLib/src/impl/normalization.jl
Due: none

fix: run LV matmul only if check_args is true
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/impl/matmul.jl
Due: none

feat: add rrules for `matmul` and `matmuladd`
  lib/LuxLib/src/impl/matmul.jl
Due: none

fix: instance norm gradients with enzyme
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/api/instancenorm.jl
  lib/LuxLib/src/impl/fast_ops.jl
  lib/LuxLib/src/impl/normalization.jl
Due: none

fix: rework matmul to use operation modes
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/impl/matmul.jl
  lib/LuxLib/src/utils.jl
Due: none

docs: add perf note on LV to dense
  lib/LuxLib/src/api/dense.jl
Due: none

refactor: use macro to bypass loopvectorization
  lib/LuxLib/src/impl/affine_normalize.jl
  lib/LuxLib/src/impl/matmul.jl
  lib/LuxLib/src/utils.jl
Due: none

perf: upperbound LV usage
  lib/LuxLib/src/impl/matmul.jl
Due: none

chore: run formatter
  lib/LuxLib/src/utils.jl
Due: none

fix: support batchnorm and groupnorm for enzyme bypassing turbo
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/impl/affine_normalize.jl
  lib/LuxLib/src/impl/bias_activation.jl
Due: none

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/
  buildkite-agent pipeline upload .buildkite/benchmark.yml: any of: src/, ext/, test/, Project.toml, benchmark/
