Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/benchmarks.yml:
  command: buildkite-agent pipeline upload .buildkite/benchmarks.yml
  agents:
    queue: juliagpu

ci: run on `1.10` and `1` (#57)
  lib/LuxCore/.github/workflows/CI.yml
Due: none

ci: run on `1.10` and `1` (#81)
  lib/MLDataDevices/.buildkite/testing.yml
  lib/MLDataDevices/.github/workflows/CI.yml
Due: none

ci: run on `1.10` and `1` (#43)
  lib/WeightInitializers/.buildkite/testing.yml
  lib/WeightInitializers/.github/workflows/CI.yml
  lib/WeightInitializers/Project.toml
  lib/WeightInitializers/test/initializers_tests.jl
Due: none

ci: run buildkite on `1.10` and `1`
  lib/WeightInitializers/.buildkite/testing.yml
Due: none

ci: run tests only on 1.10 for now
  .buildkite/benchmarks.yml
  .buildkite/testing.yml
  .github/workflows/CI.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

ci: try reducing the number of groups
  .buildkite/testing.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

ci: run tests only on `1.10` for now (#975)
  .buildkite/benchmarks.yml
  .buildkite/testing.yml
  .github/workflows/CI.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

ci: run tests only on `1.10` for now (#172)
  lib/LuxLib/.buildkite/benchmarks.yml
  lib/LuxLib/.buildkite/testing.yml
  lib/LuxLib/.github/workflows/CI.yml
Due: none

refactor: make LossFunctions an optional dep
  Project.toml
  ext/LuxLossFunctionsExt.jl
  src/Lux.jl
  src/helpers/losses.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

feat: add custom derivative fast paths
  ext/LuxLossFunctionsExt.jl
  src/helpers/losses.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

test: more tests got fixed
  test/helpers/loss_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

refactor: make `LossFunctions` an optional dep (#976)
  Project.toml
  ext/LuxLossFunctionsExt.jl
  src/Lux.jl
  src/helpers/losses.jl
  test/helpers/loss_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: xlogx and xlogy now work with Reactant scalars
  test/reactant/loss_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: bump reactant version
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

test: setup specific reactant test group
  .github/workflows/CI.yml
  .github/workflows/CIPreRelease.yml
  test/reactant/training_tests.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

test: don't run reactant tests on windows
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

test: try using MSELoss directly
  src/helpers/losses.jl
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

test: fix installation of Reactant
  Project.toml
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

feat: compile training loop automatically using reactant
  Project.toml
  ext/LuxEnzymeExt/training.jl
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/training.jl
  ext/LuxReverseDiffExt/training.jl
  ext/LuxTrackerExt/training.jl
  ext/LuxZygoteExt/training.jl
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

chore: bump minimum reactant version
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: reactant GPU support
  ext/LuxReactantExt/training.jl
  src/helpers/training.jl
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

ci: temporarily disable other tests (drop me)
  .github/workflows/CI.yml
  .github/workflows/CIPreRelease.yml
Due: none

fix: make note of current issue with inplace update
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: support all loss functions
  ext/LuxReactantExt/overrides.jl
  src/helpers/losses.jl
  src/utils.jl
  test/reactant/loss_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

feat: directly compile step + grad function
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

feat: support regression losses + tests
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/overrides.jl
  test/reactant/loss_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

chore: comments
  ext/LuxReactantExt/overrides.jl
  test/reactant/loss_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

refactor: add a level of indirection for the train_step
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

test: start adding loss function tests
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/overrides.jl
  test/reactant/loss_tests.jl
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: remove old LossFunctions.jl dispatches
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/overrides.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: more specialization
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/overrides.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

test: classification losses
  test/reactant/loss_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

test: temporarily disable more tests
  .github/workflows/CI.yml
Due: none

ci: reactivate all tests
  .github/workflows/CI.yml
Due: none

ci(windows): don't test Reactant on windows
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

feat: compile training loop automatically using reactant (#969)
  .github/workflows/CI.yml
  .github/workflows/CIPreRelease.yml
  Project.toml
  ext/LuxEnzymeExt/training.jl
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/training.jl
  ext/LuxReverseDiffExt/training.jl
  ext/LuxTrackerExt/training.jl
  ext/LuxZygoteExt/training.jl
  src/helpers/losses.jl
  src/helpers/training.jl
  src/utils.jl
  test/reactant/loss_tests.jl
  test/reactant/training_tests.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

docs: add compilation example using Reactant
  docs/Project.toml
  docs/make.jl
  docs/src/.vitepress/config.mts
  docs/src/introduction/overview.md
  docs/src/manual/compiling_lux_models.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/
  buildkite-agent pipeline upload .buildkite/benchmarks.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, benchmarks/
