Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/benchmark.yml:
  command: buildkite-agent pipeline upload .buildkite/benchmark.yml
  agents:
    queue: juliagpu

refactor: move fast_activation
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/api/broadcast.jl
  lib/LuxLib/src/impl/bias_activation.jl
  lib/LuxLib/src/impl/broadcast.jl
Due: none

update RNN docs
  src/layers/recurrent.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

Update docstring dropout2D
  src/layers/dropout.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

typos
  src/layers/recurrent.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

docs: update docstring dropout (#770)
  src/layers/dropout.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: recommend GH Discussions for Q/A
  README.md
  docs/src/introduction/resources.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: move replicate rrule to LuxCore
  Project.toml
  src/chainrules.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: mark replicate as non-differentiable
  lib/LuxCore/.buildkite/testing.yml
  lib/LuxCore/.github/workflows/CI.yml
  lib/LuxCore/Project.toml
  lib/LuxCore/ext/LuxCoreChainRulesCoreExt.jl
  lib/LuxCore/ext/LuxCoreEnzymeCoreExt.jl
Due: none

alone 2d input if RNN order is BatchLastIndex
  src/layers/recurrent.jl
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

remove rnn error test
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

add test
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: missing conditional
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: run formatter
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: format suggestion
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

feat: allow 2d input if RNN order is BatchLastIndex (#778)
  src/layers/recurrent.jl
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: bump project version
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

Format .jl files
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: remove `@test_nowarn` testing
  test/contrib/debug_tests.jl
  test/distributed/data_distributedtest.jl
  test/distributed/optimizer_distributedtest.jl
  test/distributed/synchronize_distributedtest.jl
  test/helpers/batched_ad_tests.jl
  test/helpers/compact_tests.jl
  test/helpers/nestedad_tests.jl
  test/helpers/stateful_tests.jl
  test/layers/conv_tests.jl
  test/layers/normalize_tests.jl
  test/utils_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: don't reuse pullback for safety
  ext/LuxZygoteExt/LuxZygoteExt.jl
  ext/LuxZygoteExt/batched_ad.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

feat: add `@non_trainable` for compact layers
  src/Lux.jl
  src/helpers/compact.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

docs: add docs for new macros
  docs/src/api/Lux/utilities.md
  src/helpers/compact.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

feat: add `@init_fn` for compact layers
  src/Lux.jl
  src/helpers/compact.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: add tests for the new macros
  test/helpers/compact_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

ci: downstream code-coverage fix
  .buildkite/scripts/downstream.jl
  .github/workflows/CI.yml
Due: none

ci: downstream code-coverage fix
  lib/LuxCore/.buildkite/scripts/downstream.jl
  lib/LuxCore/.github/workflows/CI.yml
Due: none

ci: downstream code-coverage fix
  lib/MLDataDevices/.buildkite/scripts/downstream.jl
  lib/MLDataDevices/.github/workflows/CI.yml
Due: none

test: warp `@inferred` with `@test`
  test/contrib/training_tests.jl
  test/helpers/compact_tests.jl
  test/helpers/loss_tests.jl
  test/layers/basic_tests.jl
  test/layers/type_stability_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

perf: improved groupnorm implementation
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/api/groupnorm.jl
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/affine_normalize.jl
  lib/LuxLib/src/impl/bias_activation.jl
  lib/LuxLib/src/impl/dropout.jl
  lib/LuxLib/src/impl/normalization.jl
  lib/LuxLib/src/utils.jl
Due: none

refactor: move things around a bit
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/api/dropout.jl
  lib/LuxLib/src/impl/bias_activation.jl
  lib/LuxLib/src/utils.jl
Due: none

chore: missing depwarn
  lib/LuxLib/src/deprecations.jl
Due: none

refactor: handle conv cases using get_device_type
  lib/LuxLib/ext/LuxLibAMDGPUExt.jl
  lib/LuxLib/ext/LuxLibTrackerAMDGPUExt.jl
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/impl/fused_conv.jl
Due: none

test: more comprehensive norm testing
  lib/LuxLib/src/api/groupnorm.jl
  lib/LuxLib/src/utils.jl
  lib/LuxLib/test/common_ops/conv_tests.jl
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  lib/LuxLib/test/normalization/groupnorm_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
  lib/LuxLib/test/normalization/layernorm_tests.jl
  lib/LuxLib/test/runtests.jl
Due: none

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/
  buildkite-agent pipeline upload .buildkite/benchmark.yml: any of: src/, ext/, test/, Project.toml, benchmark/
