Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/benchmarks.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, benchmarks/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/

test: update and fix reactant tests
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/patches.jl
  test/reactant/layer_tests.jl
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: init hidden state for reactant (#1026)
  Project.toml
  docs/Project.toml
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/patches.jl
  lib/LuxCore/Project.toml
  lib/MLDataDevices/Project.toml
  src/utils.jl
  test/reactant/layer_tests.jl
  test/reactant/loss_tests.jl
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: restructure the docs a bit
  docs/make.jl
  docs/src/.vitepress/config.mts
  docs/src/api/NN_Primitives/ActivationFunctions.md
  docs/src/api/NN_Primitives/LuxLib.md
  docs/src/api/NN_Primitives/NNlib.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: relax BayesianNN deps
  docs/Project.toml
  docs/make.jl
  docs/src/api/NN_Primitives/ActivationFunctions.md
  docs/src/api/NN_Primitives/LuxLib.md
  docs/src/api/NN_Primitives/NNlib.md
  docs/src/manual/compiling_lux_models.md
  examples/BayesianNN/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: dataloaders use adapt_structure
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesMLUtilsExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: `dataloaders` use adapt_structure (#1084)
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesMLUtilsExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: fix test script on buildkite
  .buildkite/testing_luxtestutils.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: restructure the docs a bit (#1083)
  docs/Project.toml
  docs/make.jl
  docs/src/.vitepress/config.mts
  docs/src/api/NN_Primitives/ActivationFunctions.md
  docs/src/api/NN_Primitives/LuxLib.md
  docs/src/api/NN_Primitives/NNlib.md
  docs/src/manual/compiling_lux_models.md
  examples/BayesianNN/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: hotfix for functors breakage
  examples/OptimizationIntegration/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: mark kwargs in functor as leaf
  Project.toml
  docs/src/index.md
  src/helpers/compact.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: mark kwargs in functor as leaf (#1085)
  Project.toml
  docs/src/index.md
  src/helpers/compact.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: remove link
  examples/Basics/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: trigger build for docs
  docs/make.jl
  docs/run_single_tutorial.jl
  docs/src/.vitepress/config.mts
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: trigger build for docs (#1087)
  docs/make.jl
  docs/run_single_tutorial.jl
  docs/src/.vitepress/config.mts
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: initial prototype of exporting Lux models to Jax
  .gitignore
  docs/src/.vitepress/config.mts
  docs/src/manual/exporting_to_jax.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: update title
  docs/src/manual/exporting_to_jax.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: multiple fixes
  docs/src/manual/exporting_to_jax.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: add note on col-major
  docs/src/manual/exporting_to_jax.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: bump version to unbreak stable docs
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: initial prototype of exporting Lux models to Jax (#1088)
  .gitignore
  docs/src/.vitepress/config.mts
  docs/src/manual/exporting_to_jax.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: use sources in Projects
  .buildkite/testing.yml
  .buildkite/testing_luxlib.yml
  .buildkite/testing_luxtestutils.yml
  .github/workflows/CI.yml
  .github/workflows/CIPreRelease.yml
  .github/workflows/CI_LuxCUDA.yml
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_LuxLib.yml
  .github/workflows/CI_LuxTestUtils.yml
  .github/workflows/CI_MLDataDevices.yml
  .github/workflows/CI_WeightInitializers.yml
  .github/workflows/Downstream.yml
  Project.toml
  lib/LuxLib/Project.toml
  lib/LuxTestUtils/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: use [sources] in Project.toml (#1090)
  .buildkite/testing.yml
  .buildkite/testing_luxlib.yml
  .buildkite/testing_luxtestutils.yml
  .github/workflows/CI.yml
  .github/workflows/CIPreRelease.yml
  .github/workflows/CI_LuxCUDA.yml
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_LuxLib.yml
  .github/workflows/CI_LuxTestUtils.yml
  .github/workflows/CI_MLDataDevices.yml
  .github/workflows/CI_WeightInitializers.yml
  .github/workflows/Downstream.yml
  Project.toml
  lib/LuxLib/Project.toml
  lib/LuxTestUtils/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: add lineinfo to compact
  Project.toml
  src/helpers/compact.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: missing imports
  lib/MLDataDevices/ext/MLDataDevicesChainRulesCoreExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Update lib/MLDataDevices/ext/MLDataDevicesChainRulesCoreExt.jl
  lib/MLDataDevices/ext/MLDataDevicesChainRulesCoreExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

non_differentiable gpu_device and cpu_device
  lib/MLDataDevices/ext/MLDataDevicesChainRulesCoreExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: add lineinfo to compact (#1091)
  Project.toml
  src/helpers/compact.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: bump version for release
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesChainRulesCoreExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: highlight Reactant in landing page
  docs/make.jl
  docs/src/ecosystem.md
  docs/src/index.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: highlight Reactant in landing page (#1092)
  docs/make.jl
  docs/src/ecosystem.md
  docs/src/index.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

non_differentiable gpu_device and cpu_device (#1089)
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesChainRulesCoreExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: fix github link
  docs/src/.vitepress/config.mts
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

ci: install specific AMDGPU version
  lib/LuxLib/test/runtests.jl
  lib/MLDataDevices/test/runtests.jl
  lib/WeightInitializers/test/runtests.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: apply formatting suggestion
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

ci: dont pkg update
  lib/LuxLib/test/runtests.jl
  lib/MLDataDevices/test/runtests.jl
  lib/WeightInitializers/test/runtests.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: fix install syntax
  lib/WeightInitializers/test/runtests.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: install specific AMDGPU version (#1096)
  lib/LuxLib/test/runtests.jl
  lib/MLDataDevices/test/runtests.jl
  lib/WeightInitializers/test/runtests.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: cleanup conv tests
  lib/LuxLib/test/common_ops/activation_tests.jl
  lib/LuxLib/test/common_ops/bias_act_tests.jl
  lib/LuxLib/test/common_ops/conv_tests.jl
  test/enzyme_tests.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: temporarily disable other tests (drop me)
  .github/workflows/CI.yml
  .github/workflows/CI_LuxTestUtils.yml
Due: none

fix: avoid LV or Octavian with Enzyme
  lib/LuxLib/Project.toml
  lib/LuxLib/src/traits.jl
  lib/LuxLib/src/utils.jl
  lib/LuxTestUtils/src/utils.jl
  test/contrib/freeze_tests.jl
  test/helpers/size_propagator_test.jl
  test/helpers/training_tests.jl
  test/layers/basic_tests.jl
  test/layers/containers_tests.jl
  test/layers/conv_tests.jl
  test/layers/normalize_tests.jl
  test/layers/pooling_tests.jl
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml
