Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/benchmarks.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, benchmarks/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/

cleanup
  lib/MLDataDevices/ext/MLDataDevicesChainRulesExt.jl
  lib/MLDataDevices/test/misc_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Apply suggestions from code review
  lib/MLDataDevices/ext/MLDataDevicesChainRulesExt.jl
  lib/MLDataDevices/ext/MLDataDevicesZygoteExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix ambiguity + oneAPI
  lib/MLDataDevices/ext/MLDataDevicesCUDAExt.jl
  lib/MLDataDevices/ext/MLDataDevicesChainRulesExt.jl
  lib/MLDataDevices/ext/MLDataDevicesZygoteExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: run the formatter
  lib/MLDataDevices/ext/MLDataDevicesChainRulesExt.jl
  lib/MLDataDevices/ext/MLDataDevicesZygoteExt.jl
  lib/MLDataDevices/test/misc_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: scalar indexing issue
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesChainRulesExt.jl
  lib/MLDataDevices/ext/MLDataDevicesZygoteExt.jl
  lib/MLDataDevices/test/misc_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: bump version
  lib/MLDataDevices/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: Zygote and ChainRules OneElement support in MLDataDevices (#1038)
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesCUDAExt.jl
  lib/MLDataDevices/ext/MLDataDevicesChainRulesExt.jl
  lib/MLDataDevices/test/misc_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: unsafe free for OneHotArrays
  examples/HyperNet/main.jl
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesAMDGPUExt.jl
  lib/MLDataDevices/ext/MLDataDevicesCUDAExt.jl
  lib/MLDataDevices/ext/MLDataDevicesMetalExt.jl
  lib/MLDataDevices/ext/MLDataDevicesOneHotArraysExt.jl
  lib/MLDataDevices/ext/MLDataDevicesoneAPIExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

refactor: warn on un-implemented operations
  lib/MLDataDevices/ext/MLDataDevicesAMDGPUExt.jl
  lib/MLDataDevices/ext/MLDataDevicesCUDAExt.jl
  lib/MLDataDevices/ext/MLDataDevicesMetalExt.jl
  lib/MLDataDevices/ext/MLDataDevicesoneAPIExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: unsafe free for OneHotArrays (#1067)
  examples/HyperNet/main.jl
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesAMDGPUExt.jl
  lib/MLDataDevices/ext/MLDataDevicesCUDAExt.jl
  lib/MLDataDevices/ext/MLDataDevicesMetalExt.jl
  lib/MLDataDevices/ext/MLDataDevicesOneHotArraysExt.jl
  lib/MLDataDevices/ext/MLDataDevicesoneAPIExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: generate tags for subdir projects
  .github/workflows/TagBot.yml
Due: none

ci: generate tags for subdir projects (#1071)
  .github/workflows/TagBot.yml
Due: none

feat: update MLDataDevices to support latest Functors
  Project.toml
  docs/Project.toml
  examples/ImageNet/Project.toml
  lib/LuxCore/Project.toml
  lib/LuxCore/test/Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxTestUtils/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesRecursiveArrayToolsExt.jl
  lib/MLDataDevices/src/internal.jl
  lib/MLDataDevices/src/public.jl
  lib/MLDataDevices/test/misc_tests.jl
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

refactor: use fmap to implement recursive ops
  Project.toml
  docs/Project.toml
  docs/src/manual/nn_inside_gpu_kernels.md
  examples/Basics/Project.toml
  examples/HyperNet/Project.toml
  examples/ImageNet/Project.toml
  examples/NeuralODE/Project.toml
  examples/PINN2DPDE/Project.toml
  examples/PolynomialFitting/Project.toml
  examples/SimpleChains/Project.toml
  examples/SimpleRNN/Project.toml
  ext/LuxEnzymeExt/LuxEnzymeExt.jl
  ext/LuxEnzymeExt/training.jl
  ext/LuxReverseDiffExt/LuxReverseDiffExt.jl
  ext/LuxReverseDiffExt/training.jl
  ext/LuxTrackerExt/LuxTrackerExt.jl
  ext/LuxTrackerExt/training.jl
  ext/LuxTrackerExt/utils.jl
  lib/LuxCore/test/Project.toml
  src/Lux.jl
  src/deprecations.jl
  src/helpers/match_eltype.jl
  src/helpers/recursive_ops.jl
  src/helpers/size_propagator.jl
  src/helpers/training.jl
  test/Project.toml
  test/utils_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: use MLDataDevices in LuxTestUtils
  .buildkite/testing_luxtestutils.yml
  .github/workflows/CI_LuxTestUtils.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: disable Flux tests for now
  test/runtests.jl
  test/transform/flux_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

chore: bump ADTypes to 1.10
  Project.toml
  docs/Project.toml
  examples/HyperNet/Project.toml
  examples/PINN2DPDE/Project.toml
  examples/PolynomialFitting/Project.toml
  examples/SimpleChains/Project.toml
  examples/SimpleRNN/Project.toml
  lib/LuxTestUtils/Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: lock in LuxCore versions
  Project.toml
  docs/Project.toml
  lib/LuxLib/Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: update LuxCore to latest Functors
  Project.toml
  docs/Project.toml
  examples/Basics/Project.toml
  examples/BayesianNN/Project.toml
  examples/GravitationalWaveForm/Project.toml
  examples/HyperNet/Project.toml
  examples/NeuralODE/Project.toml
  examples/OptimizationIntegration/Project.toml
  lib/LuxCore/Project.toml
  lib/LuxCore/ext/LuxCoreFunctorsExt.jl
  lib/LuxCore/test/Project.toml
  lib/LuxCore/test/runtests.jl
  lib/LuxLib/test/Project.toml
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/test/Project.toml
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/test/Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: don't preserve structure in checks
  src/contrib/contrib.jl
  src/contrib/debug.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: bump minimum versions
  Project.toml
  examples/BayesianNN/Project.toml
  lib/LuxCore/Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxTestUtils/Project.toml
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/test/Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: init hidden state for reactant
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: bump minimum reactant version
  Project.toml
  docs/Project.toml
  lib/LuxCore/Project.toml
  lib/MLDataDevices/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: Reactant with recurrent layers
  test/reactant/layer_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

fix: handle cases where similar returns a AoS
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: use @jit for simplified testing code
  test/reactant/loss_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

test: compile functions in tests correctly
  test/reactant/loss_tests.jl
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for LuxCore to 1, (keep existing compat)
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

CompatHelper: bump compat for MLDataDevices to 1, (keep existing compat)
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

CompatHelper: bump compat for LuxCore to 1 for package docs, (keep existing compat)
  docs/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for MLDataDevices to 1 for package docs, (keep existing compat)
  docs/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for LuxCore to 1 for package test, (keep existing compat)
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for MLDataDevices to 1 for package test, (keep existing compat)
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for MLDataDevices to 1 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for MLDataDevices in [weakdeps] to 1 for package LuxCore, (keep existing compat)
  lib/LuxCore/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

CompatHelper: bump compat for LuxCore to 1 for package LuxLib, (keep existing compat)
  lib/LuxLib/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

CompatHelper: bump compat for MLDataDevices to 1 for package LuxLib, (keep existing compat)
  lib/LuxLib/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

CompatHelper: bump compat for MLDataDevices to 1 for package LuxTestUtils, (keep existing compat)
  lib/LuxTestUtils/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml
