Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/

fix: GPUArrays compat
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: other device types
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

`fmap` -> `fmapstructure`
  lib/MLDataDevices/src/internal.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: use a caching allocator for GPUArrays workflows (#1549)
  Project.toml
  ext/LuxGPUArraysExt.jl
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Use `foreach` and `fleaves`
  lib/MLDataDevices/src/internal.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Bump patch
  lib/MLDataDevices/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: avoid reconstruction in `Internal.unsafe_free!` (#1550)
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/src/internal.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: update tests for enzyme
  src/helpers/training.jl
  test/helpers/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Update src/helpers/training.jl
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: update how the error message looks
  ext/LuxReactantExt/training.jl
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: update tests for enzyme (#1552)
  src/helpers/training.jl
  test/helpers/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: update how the error message looks (#1553)
  ext/LuxReactantExt/training.jl
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Use `|>` for moving data to devices
  examples/ConvolutionalVAE/main.jl
  examples/GCN_Cora/main.jl
  examples/HyperNet/main.jl
  examples/ImageNet/main.jl
  examples/NeuralODE/main.jl
  examples/OptimizationIntegration/main.jl
  examples/PolynomialFitting/main.jl
  examples/RealNVP/main.jl
  examples/SimpleChains/main.jl
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Run JuliaFormatter over examples/
  examples/DDIM/main.jl
  examples/PolynomialFitting/main.jl
  examples/RealNVP/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Use `|>` for moving data to devices (#1559)
  examples/ConvolutionalVAE/main.jl
  examples/DDIM/main.jl
  examples/GCN_Cora/main.jl
  examples/HyperNet/main.jl
  examples/ImageNet/main.jl
  examples/NeuralODE/main.jl
  examples/OptimizationIntegration/main.jl
  examples/PolynomialFitting/main.jl
  examples/RealNVP/main.jl
  examples/SimpleChains/main.jl
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix(LuxLib): avoid extra copy if input and output are aliased
  lib/LuxLib/src/impl/activation.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: return sequence properly + checkpointing + mincut
  ext/LuxReactantExt/layers.jl
  src/layers/recurrent.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: iterate over the full sequence
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/layers.jl
  src/layers/recurrent.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: mincut
  src/layers/recurrent.jl
  test/reactant/layer_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: return sequence properly + checkpointing + mincut (#1561)
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/layers.jl
  src/layers/recurrent.jl
  test/reactant/layer_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix(LuxLib): avoid extra copy if input and output are aliased (#1562)
  lib/LuxLib/src/impl/activation.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: use dependabot for updating compat entries
  .github/dependabot.yml
  .github/workflows/CompatHelper.yml
Due: none

ci: use dependabot for updating compat entries (#1563)
  .github/dependabot.yml
  .github/workflows/CompatHelper.yml
Due: none

Remove unnecessary `begin...end` markers
  examples/PINN2DPDE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

ci: use dependabot (take 2)
  .github/dependabot.yml
Due: none

Put plot labels within plotting directives
  examples/PolynomialFitting/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: put plot labels within plotting directives (#1566)
  examples/PolynomialFitting/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: remove unnecessary `begin...end` markers (#1567)
  examples/PINN2DPDE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

test: higher tolerances
  lib/LuxLib/test/common_ops/attention_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: update to new api
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/common_ops/attention_tests.jl
  lib/LuxLib/test/others/bmm_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: use finite differencing for gradient testing for Reactant
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/common_ops/activation_tests.jl
  lib/LuxLib/test/common_ops/attention_tests.jl
  lib/LuxLib/test/others/bmm_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: precompile common workloads
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/precompile_workloads.jl
  src/Lux.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: disable some testing (drop me)
  test/reactant/loss_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

fix: add behind a check
  ext/LuxReactantExt/precompile_workloads.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: bad rebase
  test/reactant/loss_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

fix: only pre-compile forward pass for now
  ext/LuxReactantExt/precompile_workloads.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: try reactivating precompile
  ext/LuxReactantExt/precompile_workloads.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: add all deps
  Project.toml
  ext/LuxReactantExt/precompile_workloads.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: try moving to module
  ext/LuxReactantExt/precompile_workloads.jl
  test/reactant/loss_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

perf: run compilation time experiments on each commit
  ext/LuxReactantExt/precompile_workloads.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml
