Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxlib.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxlib.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/benchmarks.yml:
  command: buildkite-agent pipeline upload .buildkite/benchmarks.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/downstream.yml:
  command: buildkite-agent pipeline upload .buildkite/downstream.yml
  agents:
    queue: juliagpu

feat: emit batch norm training op
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: compile hypernet with reactant
  examples/HyperNet/Project.toml
  examples/HyperNet/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: compile hypernet with reactant (#1227)
  examples/HyperNet/Project.toml
  examples/HyperNet/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Update LUX.jl/examples/SimpleRNN/main.jl
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

distinct recurrent init
  src/layers/recurrent.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

defulted init recurrent to init weight
  src/layers/recurrent.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: fix
  src/layers/recurrent.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: distinct recurrent initializer option for recurrent layers (#1242)
  src/layers/recurrent.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: bump version for release
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Update main.jl
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Update examples/SimpleRNN/main.jl
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: add note about Zygote (#1240)
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: adapt to upcoming reactant changes
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
  lib/MLDataDevices/src/public.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: adapt to upcoming reactant changes (#1246)
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
  lib/MLDataDevices/src/public.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: update to new DocumenterVitepress Improvements
  docs/package.json
  docs/src/.vitepress/theme/index.ts
  docs/src/.vitepress/theme/style.css
  docs/src/components/AuthorBadge.vue
  docs/src/components/Authors.vue
  docs/src/components/StarUs.vue
  docs/src/components/VersionPicker.vue
  docs/src/components/stargazers.data.ts
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: upperbound reactant for now
  .github/workflows/CI.yml
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: remove Optimisers.jl patch
  Project.toml
  src/helpers/optimizers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Revert "chore: upperbound reactant for now"
  .github/workflows/CI.yml
  Project.toml
  docs/src/.vitepress/config.mts
  docs/src/api/NN_Primitives/NNlib.md
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: update to new DocumenterVitepress Improvements (#1250)
  docs/package.json
  docs/src/.vitepress/config.mts
  docs/src/.vitepress/theme/index.ts
  docs/src/.vitepress/theme/style.css
  docs/src/api/NN_Primitives/NNlib.md
  docs/src/components/AuthorBadge.vue
  docs/src/components/Authors.vue
  docs/src/components/StarUs.vue
  docs/src/components/VersionPicker.vue
  docs/src/components/stargazers.data.ts
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: add RoPE
  docs/src/api/Lux/layers.md
  src/Lux.jl
  src/layers/embedding.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: use argcheck
  src/layers/embedding.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

refactor: move embedding to separate file
  docs/src/api/Lux/layers.md
  src/Lux.jl
  src/layers/basic.jl
  src/layers/embedding.jl
  test/layers/basic_tests.jl
  test/layers/embedding_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Update src/layers/embedding.jl
  src/layers/embedding.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: better caching
  src/layers/embedding.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: add SinusoidalPositionalEncoding
  docs/src/api/Lux/layers.md
  src/Lux.jl
  src/layers/embedding.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: relax conditions
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/src/internal.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: test
  '
  lib/MLDataDevices/test/iterator_tests.jl
  lib/MLDataDevices/test/xla_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: more fixes
  lib/MLDataDevices/src/internal.jl
  lib/MLDataDevices/test/xla_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: relax conditions (#1252)
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/src/internal.jl
  lib/MLDataDevices/test/iterator_tests.jl
  lib/MLDataDevices/test/xla_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: add activation function
  docs/src/api/NN_Primitives/ActivationFunctions.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: allow specifying sharding in ReactantDevice
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
  lib/MLDataDevices/src/internal.jl
  lib/MLDataDevices/src/public.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: unwrap shardinfo
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: allow new GPUArraysCore
  lib/WeightInitializers/test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: unthunk
  lib/MLDataDevices/ext/MLDataDevicesChainRulesCoreExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: simplify the logic
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: allow specifying sharding in ReactantDevice (#1254)
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesChainRulesCoreExt.jl
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
  lib/MLDataDevices/src/internal.jl
  lib/MLDataDevices/src/public.jl
  lib/WeightInitializers/test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: add git hash to ignore revs
  .git-blame-ignore-revs
Due: none

ci: add runic CI
  .github/workflows/FormatPR.yml
  .github/workflows/QualityCheck.yml
  docs/make.jl
  docs/run_single_tutorial.jl
  docs/tutorials.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/benchmarks.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, benchmarks/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/
