Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxlib.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxlib.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/downstream.yml:
  command: buildkite-agent pipeline upload .buildkite/downstream.yml
  agents:
    queue: juliagpu

docs: lstm encoder decoder using Reactant (#1331)
  docs/make.jl
  docs/src/.vitepress/config.mts
  docs/src/public/lstm_encoder_decoder.png
  docs/src/tutorials/index.md
  docs/tutorials.jl
  examples/LSTMEncoderDecoder/Project.toml
  examples/LSTMEncoderDecoder/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: use correct deploydocs
  docs/Project.toml
  docs/make.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for DocumenterVitepress to 0.2 for package docs, (keep existing compat)
  docs/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: finish
  examples/ConvolutionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: handle numerical stability issues
  examples/ConvolutionalVAE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: run formatter
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: migrate DDIM to Reactant
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: more fixes
  examples/DDIM/main.jl
  ext/LuxReactantExt/LuxReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: compile loop [skip ci]
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
  lib/LuxCore/ext/LuxCoreReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: update DDIM
  examples/DDIM/Project.toml
  examples/DDIM/README.md
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: more progress
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
  lib/LuxCore/ext/LuxCoreReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: options
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: some more progress
  examples/DDIM/Project.toml
  examples/DDIM/main.jl
  ext/LuxReactantExt/LuxReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: check against NaNs in images
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: remove CUDA.jl loading requirement
  docs/Project.toml
  docs/src/index.md
  docs/src/manual/gpu_management.md
  docs/src/manual/weight_initializers.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: lower embedding to direct indexing
  Project.toml
  ext/LuxReactantExt/layers.jl
  src/layers/embedding.jl
  test/layers/embedding_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: incorrect kwarg
  test/layers/embedding_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

test: Tracker is incorrect
  src/layers/embedding.jl
  test/layers/embedding_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: lower embedding to direct indexing (#1332)
  Project.toml
  ext/LuxReactantExt/layers.jl
  src/layers/embedding.jl
  test/layers/embedding_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: forward pass is now working
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: finish the implementation
  examples/NanoGPT/Project.toml
  examples/NanoGPT/README.md
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: nanoGPT implementation using Reactant
  .gitignore
  examples/NanoGPT/Project.toml
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

[examples] refactor: cleanup
  examples/NanoGPT/Project.toml
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: make the dimensions correct
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

refactor: use Lux primitives
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: more cleanup
  examples/NanoGPT/Project.toml
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: indexing
  src/layers/embedding.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: more progress
  examples/NanoGPT/Project.toml
  examples/NanoGPT/main.jl
  src/layers/embedding.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: indexing (#1333)
  src/layers/embedding.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: remove symlinks
  stable
  v0.5
  v1
  v1.0
  v1.1
  v1.11
  v1.2
  v1.3
  v1.4
  v1.5
  v1.6
  v1.9
Due: none

fix: remove workflow
  .github/workflows/DeployDocs.yml
Due: none

feat: weighted sample
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: reactant gradients + precision config
  Project.toml
  examples/CIFAR10/common.jl
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: bump reactant version
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: bump reactant version
  Project.toml
  docs/Project.toml
  examples/CIFAR10/Project.toml
  examples/ConvolutionalVAE/Project.toml
  examples/GCN_Cora/Project.toml
  examples/HyperNet/Project.toml
  examples/LSTMEncoderDecoder/Project.toml
  examples/PINN2DPDE/Project.toml
  examples/PolynomialFitting/Project.toml
  examples/RealNVP/Project.toml
  examples/SimpleChains/Project.toml
  examples/SimpleRNN/Project.toml
  lib/LuxCore/Project.toml
  lib/MLDataDevices/Project.toml
  lib/WeightInitializers/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: reactant gradients + precision config (#1334)
  Project.toml
  docs/Project.toml
  examples/CIFAR10/Project.toml
  examples/CIFAR10/common.jl
  examples/ConvolutionalVAE/Project.toml
  examples/GCN_Cora/Project.toml
  examples/HyperNet/Project.toml
  examples/LSTMEncoderDecoder/Project.toml
  examples/PINN2DPDE/Project.toml
  examples/PolynomialFitting/Project.toml
  examples/RealNVP/Project.toml
  examples/SimpleChains/Project.toml
  examples/SimpleRNN/Project.toml
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/training.jl
  lib/LuxCore/Project.toml
  lib/MLDataDevices/Project.toml
  lib/WeightInitializers/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/
