Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxlib.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxlib.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/downstream.yml:
  command: buildkite-agent pipeline upload .buildkite/downstream.yml
  agents:
    queue: juliagpu

fix: more fixes
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: options
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: use BN
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: migrate DDIM to Reactant
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: from gemini
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

test: investigate NaNs [drop me]
  examples/DDIM/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

ci(github-actions): prevent re-resolve for downgrade testing
  .github/workflows/CI.yml
  .github/workflows/CI_LuxCUDA.yml
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_LuxLib.yml
  .github/workflows/CI_LuxTestUtils.yml
  .github/workflows/CI_MLDataDevices.yml
  .github/workflows/CI_WeightInitializers.yml
  .github/workflows/CommonCI.yml
Due: none

ci: dont downgrade stdlibs
  .github/workflows/CommonCI.yml
Due: none

ci: properly qualify versions
  .github/workflows/CI.yml
  .github/workflows/CI_LuxCUDA.yml
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_LuxLib.yml
  .github/workflows/CI_LuxTestUtils.yml
  .github/workflows/CI_MLDataDevices.yml
  .github/workflows/CI_WeightInitializers.yml
  .github/workflows/CommonCI.yml
Due: none

fix: bump min versions
  lib/LuxLib/Project.toml
  lib/LuxTestUtils/test/Project.toml
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: bump min versions
  .github/workflows/CI_LuxTestUtils.yml
  .github/workflows/CommonCI.yml
  lib/LuxLib/Project.toml
  lib/LuxLib/test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: bump min versions
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: bump min cuda to 5.4
  Project.toml
  lib/LuxCUDA/Project.toml
  lib/LuxLib/Project.toml
  lib/LuxTestUtils/test/Project.toml
  lib/MLDataDevices/Project.toml
  lib/WeightInitializers/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: check for lts as well
  .github/workflows/CommonCI.yml
  Project.toml
  lib/LuxCUDA/Project.toml
  lib/LuxLib/Project.toml
  lib/LuxTestUtils/test/Project.toml
  lib/MLDataDevices/Project.toml
  lib/WeightInitializers/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: skip persistent tasks testing
  test/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

ci: disable caching for downgrade testing
  .github/workflows/CommonCI.yml
Due: none

ci: use specific branch for downgrade-testing
  .github/workflows/CommonCI.yml
Due: none

ci: re-enable caching
  .github/workflows/CommonCI.yml
Due: none

ci(github-actions): prevent re-resolve for downgrade testing (#1466)
  .github/workflows/CI.yml
  .github/workflows/CI_LuxCUDA.yml
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_LuxLib.yml
  .github/workflows/CI_LuxTestUtils.yml
  .github/workflows/CI_MLDataDevices.yml
  .github/workflows/CI_WeightInitializers.yml
  .github/workflows/CommonCI.yml
  Project.toml
  lib/LuxCUDA/Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxTestUtils/test/Project.toml
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/test/Project.toml
  lib/WeightInitializers/Project.toml
  test/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: setup initial version
  examples/MinimalMamba/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: implement architecture
  examples/MinimalMamba/Project.toml
  examples/MinimalMamba/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

perf: use reduction
  examples/MinimalMamba/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: setup minimal mamba implementation
  examples/MinimalMamba/Project.toml
  examples/MinimalMamba/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: mamba forward pass now works
  examples/MinimalMamba/CondaPkg.toml
  examples/MinimalMamba/Project.toml
  examples/MinimalMamba/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: mark EnzymeCore.augmented_primal as codecov excluded
  ext/LuxLossFunctionsExt.jl
  lib/LuxLib/src/impl/batched_mul.jl
  lib/LuxLib/src/impl/dense.jl
  lib/LuxLib/src/impl/matmul.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: codecov status reporting
  .codecov.yml
Due: none

chore: mark EnzymeCore.augmented_primal as codecov excluded (#1467)
  .codecov.yml
  ext/LuxLossFunctionsExt.jl
  lib/LuxLib/src/impl/batched_mul.jl
  lib/LuxLib/src/impl/dense.jl
  lib/LuxLib/src/impl/matmul.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: clipnorm support for reactant
  Project.toml
  src/helpers/optimizers.jl
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: clipnorm support for reactant (#1469)
  Project.toml
  src/helpers/optimizers.jl
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: don't collect FillArrays for reactant
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesFillArraysExt.jl
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
  lib/MLDataDevices/src/internal.jl
  lib/MLDataDevices/test/reactant_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Update lib/MLDataDevices/src/internal.jl
  lib/MLDataDevices/src/internal.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: missing input
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: reactant device merging
  lib/MLDataDevices/src/internal.jl
  lib/MLDataDevices/src/public.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: don't collect FillArrays for reactant (#1471)
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesFillArraysExt.jl
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
  lib/MLDataDevices/src/internal.jl
  lib/MLDataDevices/src/public.jl
  lib/MLDataDevices/test/reactant_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: statefulluxlayer now returns st_any/st adaptively
  ext/LuxReactantExt/tracing.jl
  lib/LuxCore/Project.toml
  lib/LuxCore/ext/LuxCoreFunctorsExt.jl
  lib/LuxCore/src/LuxCore.jl
  lib/LuxCore/src/apply.jl
  lib/LuxCore/src/stateful.jl
  test/helpers/stateful_tests.jl
  test/reactant/tracing_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: support container layers
  lib/LuxCore/src/apply.jl
  lib/LuxCore/src/stateful.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: support wrapper layers
  Project.toml
  lib/LuxCore/src/LuxCore.jl
  lib/LuxCore/src/apply.jl
  lib/LuxCore/src/stateful.jl
  src/layers/basic.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/
