Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

.buildkite/pipeline.yml:

steps:
  - label: "Triggering Pipelines (Pull Request)"
    if: "build.pull_request.base_branch == 'main'"
    agents:
      queue: "juliagpu"
    plugins:
      - monebag/monorepo-diff#v2.5.9:
          diff: ".buildkite/scripts/diff.sh $BUILDKITE_COMMIT"
          interpolation: false
          watch:
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
              config:
                command: "buildkite-agent pipeline upload .buildkite/testing.yml"
                agents:
                  queue: "juliagpu"
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - "docs/"
                - "examples/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/documentation.yml"
                agents:
                  queue: "juliagpu"
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - "benchmark/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/benchmark.yml"
                agents:
                  queue: "juliagpu"

  - label: "Triggering Pipelines (Main Branch / Tag)"
    if: build.branch == "main" || build.tag != null
    agents:
      queue: "juliagpu"
    command: |
      buildkite-agent pipeline upload .buildkite/testing.yml
      buildkite-agent pipeline upload .buildkite/documentation.yml
      buildkite-agent pipeline upload .buildkite/benchmark.yml

perf: static ndrange kernel launches
  lib/LuxLib/src/impl/batchnorm.jl
  lib/LuxLib/src/impl/groupnorm.jl
  lib/LuxLib/src/impl/normalization.jl
  lib/LuxLib/src/utils.jl
Due: none

perf: let it autotune
  lib/LuxLib/.JuliaFormatter.toml
  lib/LuxLib/src/impl/batchnorm.jl
  lib/LuxLib/src/impl/groupnorm.jl
  lib/LuxLib/src/impl/normalization.jl
  lib/LuxLib/src/utils.jl
Due: none

fix: nicer information for fallback mixed-precision matmul
  lib/LuxLib/src/impl/matmul.jl
Due: none

perf: don't rely on compile time branch removal for KA
  lib/LuxLib/src/impl/batchnorm.jl
  lib/LuxLib/src/impl/groupnorm.jl
  lib/LuxLib/src/impl/normalization.jl
Due: none

refactor: disable cpu codegen for kernels
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/batchnorm.jl
  lib/LuxLib/src/impl/bias_activation.jl
  lib/LuxLib/src/impl/groupnorm.jl
  lib/LuxLib/src/impl/normalization.jl
Due: none

fix: allow zero-sized arrays in bias_activation
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/bias_activation.jl
  lib/LuxLib/test/common_ops/bias_act_tests.jl
Due: none

fix: more aggressive type specialization
  lib/LuxLib/src/api/bias_activation.jl
  lib/LuxLib/src/api/conv.jl
  lib/LuxLib/src/api/layernorm.jl
  lib/LuxLib/src/impl/batchnorm.jl
  lib/LuxLib/src/impl/common_ops.jl
  lib/LuxLib/src/impl/conv.jl
  lib/LuxLib/src/impl/groupnorm.jl
  lib/LuxLib/src/impl/normalization.jl
Due: none

fix: don't restrict bias_act to number
  lib/LuxLib/src/impl/batched_mul.jl
  lib/LuxLib/src/impl/bias_activation.jl
Due: none

chore: update version
  lib/LuxLib/Project.toml
Due: none

fix: broken qa tests
  lib/LuxLib/src/api/layernorm.jl
  lib/LuxLib/src/deprecations.jl
  lib/LuxLib/src/impl/batchnorm.jl
  lib/LuxLib/src/impl/groupnorm.jl
  lib/LuxLib/src/impl/normalization.jl
Due: none

fix: don't restrict traits/ext/utils to number
  lib/LuxLib/ext/LuxLibReverseDiffExt.jl
  lib/LuxLib/ext/LuxLibTrackerExt.jl
  lib/LuxLib/src/api/batched_mul.jl
  lib/LuxLib/src/impl/batched_mul.jl
  lib/LuxLib/src/traits.jl
  lib/LuxLib/src/utils.jl
Due: none

chore: apply formatting suggestion
  lib/LuxCore/test/runtests.jl
Due: none

fix: use `fmap_with_path` to correctly identify all internal states
  lib/LuxCore/Project.toml
  lib/LuxCore/src/LuxCore.jl
  lib/LuxCore/test/runtests.jl
Due: none

fix: don't error on detecting arrays with undefined entries
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/src/internal.jl
  lib/MLDataDevices/test/misc_tests.jl
Due: none

refactor: move ChainRulesCore into an extension
  lib/WeightInitializers/Project.toml
  lib/WeightInitializers/ext/WeightInitializersChainRulesCoreExt.jl
  lib/WeightInitializers/src/WeightInitializers.jl
  lib/WeightInitializers/src/utils.jl
Due: none

fix: skip enzyme tests if it is a pre-release
  lib/LuxTestUtils/CHANGELOG.md
  lib/LuxTestUtils/src/LuxTestUtils.jl
Due: none

chore: bump version for release
  lib/LuxTestUtils/Project.toml
Due: none

chore: bump minimum LuxTestUtils version
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: decide internal operation based on unwrapped arrays
  lib/LuxLib/Project.toml
  lib/LuxLib/src/traits.jl
  lib/LuxLib/test/others/misc_tests.jl
Due: none

fix: avoid wrappers for SVector using `insert_batch_dim`
  lib/LuxLib/src/impl/bias_activation.jl
  lib/LuxLib/src/impl/matmul.jl
  lib/LuxLib/src/utils.jl
  lib/LuxLib/test/others/misc_tests.jl
Due: none

feat: swap Enzyme forward rules along with reverse
  lib/LuxLib/src/impl/matmul.jl
  lib/LuxLib/src/utils.jl
Due: none

test: simple enzyme forward test to check no crash
  lib/LuxLib/test/common_ops/dense_tests.jl
Due: none

fix: enzyme forward mode with octavian
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/batchnorm.jl
  lib/LuxLib/src/impl/bias_activation.jl
  lib/LuxLib/src/impl/dropout.jl
  lib/LuxLib/src/impl/matmul.jl
  lib/LuxLib/src/utils.jl
Due: none

docs: remove Boltz.jl docs
  docs/Project.toml
  docs/make.jl
  docs/src/.vitepress/config.mts
  docs/src/api/Domain_Specific_Modeling/Boltz.md
  docs/src/api/Domain_Specific_Modeling/Boltz_Layers.md
  docs/src/api/Domain_Specific_Modeling/Boltz_Private.md
  docs/src/api/Domain_Specific_Modeling/Boltz_Vision.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: add installation details
  docs/src/index.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: mark DELayer and PeriodicEmbedding as dep
  src/layers/basic.jl
  src/layers/extension.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

docs: remove doctests
  docs/tutorials.jl
  ext/LuxDynamicExpressionsExt.jl
  src/layers/extension.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

docs: remove PeriodicEmbedding doctest
  src/layers/basic.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

docs: link to boltz tutorials
  docs/make.jl
  docs/src/tutorials/index.md
  examples/SymbolicOptimalControl/Project.toml
  examples/SymbolicOptimalControl/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: remove compression
  docs/src/tutorials/index.md
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: bump version for release
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

CompatHelper: bump compat for Boltz to 0.4 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml
