Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/

feat: extend support + type stability
  lib/LuxCore/src/apply.jl
  lib/LuxCore/src/stateful.jl
  src/Lux.jl
  src/layers/basic.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: don't break existing layers
  lib/LuxCore/src/apply.jl
  src/layers/basic.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: update more layers
  lib/LuxCore/src/apply.jl
  src/layers/attention.jl
  src/layers/containers.jl
  src/layers/conv.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: run fmt
  src/layers/attention.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: test SimpleChains and Flux as separate projects
  test/Project.toml
  test/downstream/Flux/Project.toml
  test/downstream/Flux/flux_integrationtest.jl
  test/downstream/SimpleChains/Project.toml
  test/downstream/SimpleChains/simplechains_integrationtest.jl
  test/runtests.jl
  test/transform/flux_tests.jl
  test/transform/simple_chains_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

test: fixes
  test/downstream/Flux/flux_integrationtest.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

test: move distributed testing deps into a project
  src/transform/simplechains.jl
  test/Project.toml
  test/distributed/Project.toml
  test/distributed/common_distributedtest.jl
  test/distributed/data_distributedtest.jl
  test/distributed/distributed_test_runner.jl
  test/distributed/optimizer_distributedtest.jl
  test/distributed/synchronize_distributedtest.jl
  test/qa_tests.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: run fmt
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

test: missing test
  test/downstream/Flux/flux_integrationtest.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

ci: separate out Flux/SimpleChains and Distributed test group
  .buildkite/testing.yml
  .github/workflows/CI.yml
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: mamba forward pass now works
  examples/MinimalMamba/CondaPkg.toml
  examples/MinimalMamba/Project.toml
  examples/MinimalMamba/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: setup minimal mamba implementation
  examples/MinimalMamba/Project.toml
  examples/MinimalMamba/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: implement architecture
  examples/MinimalMamba/Project.toml
  examples/MinimalMamba/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: setup initial version
  examples/MinimalMamba/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: add a version that uses reduce_window
  examples/MinimalMamba/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

test: fix tests
  test/layers/normalize_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

test: test SimpleChains and Flux as separate projects (#1474)
  .buildkite/testing.yml
  .github/workflows/CI.yml
  src/transform/simplechains.jl
  test/Project.toml
  test/distributed/Project.toml
  test/distributed/common_distributedtest.jl
  test/distributed/data_distributedtest.jl
  test/distributed/distributed_test_runner.jl
  test/distributed/optimizer_distributedtest.jl
  test/distributed/synchronize_distributedtest.jl
  test/downstream/Flux/Project.toml
  test/downstream/Flux/flux_integrationtest.jl
  test/downstream/SimpleChains/Project.toml
  test/downstream/SimpleChains/simplechains_integrationtest.jl
  test/layers/normalize_tests.jl
  test/qa_tests.jl
  test/runtests.jl
  test/transform/flux_tests.jl
  test/transform/simple_chains_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: improve performance a bit
  examples/MinimalMamba/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

test: enzyme tests are now passing
  lib/LuxLib/test/common_ops/dropout_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: try switching off runtime activity
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
  test/contrib/freeze_tests.jl
  test/helpers/loss_tests.jl
  test/layers/normalize_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: bump min enzyme version
  Project.toml
  docs/Project.toml
  examples/CIFAR10/Project.toml
  examples/ConvolutionalVAE/Project.toml
  examples/LSTMEncoderDecoder/Project.toml
  examples/PINN2DPDE/Project.toml
  examples/RealNVP/Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/common_ops/dropout_tests.jl
  lib/LuxTestUtils/Project.toml
  perf/resnet/Project.toml
  test/Project.toml
  test/contrib/freeze_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: add an enzyme rule to help out
  Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/batchnorm.jl
  lib/LuxLib/src/impl/groupnorm.jl
  lib/LuxLib/src/impl/normalization.jl
  test/layers/normalize_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: remove dep
  lib/LuxLib/test/common_ops/dropout_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: cleanup
  test/layers/normalize_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

fix: dispatch
  lib/LuxLib/src/impl/normalization.jl
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  test/helpers/training_tests.jl
  test/layers/attention_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: unwanted packages
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

test: enzyme tests are now passing (#1475)
  Project.toml
  docs/Project.toml
  examples/CIFAR10/Project.toml
  examples/ConvolutionalVAE/Project.toml
  examples/LSTMEncoderDecoder/Project.toml
  examples/PINN2DPDE/Project.toml
  examples/RealNVP/Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/batchnorm.jl
  lib/LuxLib/src/impl/groupnorm.jl
  lib/LuxLib/src/impl/normalization.jl
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/common_ops/dropout_tests.jl
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
  lib/LuxTestUtils/Project.toml
  perf/resnet/Project.toml
  test/Project.toml
  test/contrib/freeze_tests.jl
  test/helpers/loss_tests.jl
  test/helpers/training_tests.jl
  test/layers/attention_tests.jl
  test/layers/normalize_tests.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: double bump
  Project.toml
  lib/LuxLib/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: triple bump
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: accidental apply dispatch removal
  lib/LuxCore/Project.toml
  lib/LuxCore/src/stateful.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: accidental apply dispatch removal (#1476)
  lib/LuxCore/Project.toml
  lib/LuxCore/src/stateful.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: towards completion
  examples/MinimalMamba/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml
