Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

.buildkite/pipeline.yml:

steps:
  - label: "Triggering Pipelines (Pull Request)"
    if: "build.pull_request.base_branch == 'main'"
    agents:
      queue: "juliagpu"
    plugins:
      - monebag/monorepo-diff#v2.5.9:
          diff: ".buildkite/scripts/diff.sh $BUILDKITE_COMMIT"
          interpolation: false
          watch:
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
              config:
                command: "buildkite-agent pipeline upload .buildkite/testing.yml"
                agents:
                  queue: "juliagpu"
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - "docs/"
                - "examples/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/documentation.yml"
                agents:
                  queue: "juliagpu"
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - "benchmark/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/benchmark.yml"
                agents:
                  queue: "juliagpu"

  - label: "Triggering Pipelines (Main Branch / Tag)"
    if: build.branch == "main" || build.tag != null
    agents:
      queue: "juliagpu"
    command: |
      buildkite-agent pipeline upload .buildkite/testing.yml
      buildkite-agent pipeline upload .buildkite/documentation.yml
      buildkite-agent pipeline upload .buildkite/benchmark.yml

refactor: clean up Bilinear
  Project.toml
  src/layers/basic.jl
  test/contrib/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

perf: fix enzyme benchmarks
  bench/helpers.jl
  docs/src/manual/autodiff.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: apply formatting
  lib/MLDataDevices/test/amdgpu_tests.jl
  lib/MLDataDevices/test/cuda_tests.jl
  lib/MLDataDevices/test/metal_tests.jl
  lib/MLDataDevices/test/oneapi_tests.jl
Due: none

fix: change names
  lib/MLDataDevices/ext/MLDataDevicesAMDGPUExt.jl
  lib/MLDataDevices/ext/MLDataDevicesCUDAExt.jl
  lib/MLDataDevices/ext/MLDataDevicesFillArraysExt.jl
  lib/MLDataDevices/ext/MLDataDevicesGPUArraysExt.jl
  lib/MLDataDevices/ext/MLDataDevicesMetalExt.jl
  lib/MLDataDevices/ext/MLDataDevicesRecursiveArrayToolsExt.jl
  lib/MLDataDevices/ext/MLDataDevicesReverseDiffExt.jl
  lib/MLDataDevices/ext/MLDataDevicesSparseArraysExt.jl
  lib/MLDataDevices/ext/MLDataDevicesTrackerExt.jl
  lib/MLDataDevices/ext/MLDataDevicesZygoteExt.jl
  lib/MLDataDevices/ext/MLDataDevicescuDNNExt.jl
  lib/MLDataDevices/ext/MLDataDevicesoneAPIExt.jl
Due: none

refactor!: rename round 2 to `MLDataDevices`
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/README.md
  lib/MLDataDevices/ext/DeviceUtilsMetalExt.jl
  lib/MLDataDevices/ext/DeviceUtilsReverseDiffExt.jl
  lib/MLDataDevices/ext/MLDataDevicesAMDGPUExt.jl
  lib/MLDataDevices/ext/MLDataDevicesCUDAExt.jl
  lib/MLDataDevices/ext/MLDataDevicesFillArraysExt.jl
  lib/MLDataDevices/ext/MLDataDevicesGPUArraysExt.jl
  lib/MLDataDevices/ext/MLDataDevicesMetalExt.jl
  lib/MLDataDevices/ext/MLDataDevicesRecursiveArrayToolsExt.jl
  lib/MLDataDevices/ext/MLDataDevicesReverseDiffExt.jl
  lib/MLDataDevices/ext/MLDataDevicesSparseArraysExt.jl
  lib/MLDataDevices/ext/MLDataDevicesTrackerExt.jl
  lib/MLDataDevices/ext/MLDataDevicesZygoteExt.jl
  lib/MLDataDevices/ext/MLDataDevicescuDNNExt.jl
  lib/MLDataDevices/ext/MLDataDevicesoneAPIExt.jl
  lib/MLDataDevices/src/MLDataDevices.jl
  lib/MLDataDevices/test/amdgpu_tests.jl
  lib/MLDataDevices/test/cuda_tests.jl
  lib/MLDataDevices/test/metal_tests.jl
  lib/MLDataDevices/test/misc_tests.jl
  lib/MLDataDevices/test/oneapi_tests.jl
  lib/MLDataDevices/test/qa_tests.jl
  lib/MLDataDevices/test/runtests.jl
Due: none

test: trigger enzyme tests
  src/layers/conv.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

feat: add scalar rule for gelu sleefpirates in enzyme
  lib/LuxLib/src/impl/activation.jl
Due: none

fix: only switch for FP32
  lib/LuxLib/src/api/activation.jl
  lib/LuxLib/src/impl/activation.jl
Due: none

refactor: standardize activation switching naming
  lib/LuxLib/src/api/activation.jl
  lib/LuxLib/src/api/batchnorm.jl
  lib/LuxLib/src/api/bias_activation.jl
  lib/LuxLib/src/api/conv.jl
  lib/LuxLib/src/api/dense.jl
  lib/LuxLib/src/api/groupnorm.jl
  lib/LuxLib/src/api/instancenorm.jl
  lib/LuxLib/src/api/layernorm.jl
  lib/LuxLib/src/impl/activation.jl
Due: none

test: add tests for activation functions
  lib/LuxLib/src/api/layernorm.jl
  lib/LuxLib/test/common_ops/activation_tests.jl
  lib/LuxLib/test/others/qa_tests.jl
Due: none

feat: add sleefpirates for CPU activation
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/api/activation.jl
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/bias_activation.jl
Due: none

fix: add enzyme rule for batched mul (piracy)
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/patches.jl
  lib/LuxLib/test/others/qa_tests.jl
Due: none

feat: use sleefpirates at a higher level
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/api/activation.jl
  lib/LuxLib/src/api/batchnorm.jl
  lib/LuxLib/src/api/bias_activation.jl
  lib/LuxLib/src/api/conv.jl
  lib/LuxLib/src/api/dense.jl
  lib/LuxLib/src/api/groupnorm.jl
  lib/LuxLib/src/api/instancenorm.jl
  lib/LuxLib/src/api/layernorm.jl
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/bias_activation.jl
  lib/LuxLib/src/utils.jl
Due: none

test: make the test bounds stricter
  lib/LuxLib/test/common_ops/activation_tests.jl
Due: none

fix: custom Enzyme gelu rrule
  lib/LuxLib/src/impl/activation.jl
Due: none

docs: fix typo in "JVP & VJP Wrappers"
  docs/src/api/Lux/autodiff.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: fix typo in "JVP & VJP Wrappers" (#789)
  docs/src/api/Lux/autodiff.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: error on common mistakes
  lib/LuxCore/Project.toml
  lib/LuxCore/ext/LuxCoreEnzymeCoreExt.jl
Due: none

test: add failure mode tests
  lib/LuxCore/Project.toml
  lib/LuxCore/test/runtests.jl
Due: none

chore: bump to 1.0
  lib/WeightInitializers/Project.toml
Due: none

CompatHelper: bump compat for WeightInitializers to 1, (keep existing compat)
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

CompatHelper: bump compat for WeightInitializers to 1 for package docs, (keep existing compat)
  docs/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: make the interface specification sound mandatory
  docs/src/manual/interface.md
  src/layers/conv.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

docs: add list of supported rngs for init
  docs/src/api/Building_Blocks/WeightInitializers.md
  docs/src/manual/weight_initializers.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: remove packages no longer explicitly needed
  docs/src/manual/interface.md
  src/helpers/autodiff.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

docs: update docs from downstream changes (#790)
  docs/src/api/Building_Blocks/WeightInitializers.md
  docs/src/manual/interface.md
  docs/src/manual/weight_initializers.md
  src/helpers/autodiff.jl
  src/layers/conv.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: more parallel testing based on the machine
  .buildkite/testing.yml
  .github/workflows/CI.yml
  .github/workflows/CIPreRelease.yml
  Project.toml
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: separate dense testing into 5 subgroups
  lib/LuxLib/test/common_ops/dense_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
  lib/LuxLib/test/normalization/layernorm_tests.jl
Due: none

test: separate instance norm testing into 5 subgroups
  lib/LuxLib/test/common_ops/conv_tests.jl
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  lib/LuxLib/test/normalization/groupnorm_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
Due: none

test: separate group norm testing into 5 subgroups
  lib/LuxLib/test/normalization/groupnorm_tests.jl
Due: none

test: move mixed precision BN to separate group
  lib/LuxLib/test/normalization/batchnorm_tests.jl
Due: none

test: separate conv testing into 5 subgroups
  lib/LuxLib/test/common_ops/conv_tests.jl
  lib/LuxLib/test/normalization/batchnorm_tests.jl
Due: none

test: separate batch norm testing into 5 subgroups
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
  lib/LuxLib/test/shared_testsetup.jl
Due: none

ci: autodetermine the number of core for testing
  lib/LuxLib/.buildkite/testing.yml
  lib/LuxLib/.github/workflows/CI.yml
  lib/LuxLib/Project.toml
  lib/LuxLib/test/normalization/groupnorm_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
  lib/LuxLib/test/runtests.jl
Due: none

test: try running gpu tests in parallel
  lib/LuxLib/test/runtests.jl
Due: none

test: separate testing into more groups
  lib/LuxLib/.github/workflows/CI.yml
  lib/LuxLib/Project.toml
  lib/LuxLib/test/common_ops/activation_tests.jl
  lib/LuxLib/test/common_ops/conv_tests.jl
  lib/LuxLib/test/common_ops/dense_tests.jl
  lib/LuxLib/test/common_ops/dropout_tests.jl
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  lib/LuxLib/test/normalization/groupnorm_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
  lib/LuxLib/test/normalization/layernorm_tests.jl
  lib/LuxLib/test/others/forwarddiff_tests.jl
  lib/LuxLib/test/runtests.jl
Due: none

refactor: move training functions into `Training` module
  Project.toml
  src/Lux.jl
  src/contrib/contrib.jl
  src/contrib/deprecated.jl
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

refactor: remove Experimental usage in extensions
  ext/LuxEnzymeExt/LuxEnzymeExt.jl
  ext/LuxEnzymeExt/training.jl
  ext/LuxReverseDiffExt/LuxReverseDiffExt.jl
  ext/LuxReverseDiffExt/training.jl
  ext/LuxTrackerExt.jl
  ext/LuxZygoteExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml
