Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

.buildkite/pipeline.yml:

steps:
  - label: "Triggering Pipelines (Pull Request)"
    if: "build.pull_request.base_branch == 'main'"
    agents:
      queue: "juliagpu"
    plugins:
      - monebag/monorepo-diff#v2.5.9:
          diff: ".buildkite/scripts/diff.sh $BUILDKITE_COMMIT"
          interpolation: false
          watch:
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
              config:
                command: "buildkite-agent pipeline upload .buildkite/testing.yml"
                agents:
                  queue: "juliagpu"
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - "docs/"
                - "examples/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/documentation.yml"
                agents:
                  queue: "juliagpu"
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - "benchmark/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/benchmark.yml"
                agents:
                  queue: "juliagpu"

  - label: "Triggering Pipelines (Main Branch / Tag)"
    if: build.branch == "main" || build.tag != null
    agents:
      queue: "juliagpu"
    command: |
      buildkite-agent pipeline upload .buildkite/testing.yml
      buildkite-agent pipeline upload .buildkite/documentation.yml
      buildkite-agent pipeline upload .buildkite/benchmark.yml

refactor: bring Optimisers.jl into main deps
  Project.toml
  ext/LuxOptimisersExt.jl
  src/Lux.jl
  src/contrib/contrib.jl
  src/contrib/training.jl
  src/distributed/public_api.jl
  src/layers/extension.jl
  src/transform/flux.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

refactor(enzyme): move things into files
  ext/LuxEnzymeExt/LuxEnzymeExt.jl
  ext/LuxEnzymeExt/training.jl
  ext/LuxReverseDiffExt/apply.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

refactor(reversediff): move things into files
  ext/LuxReverseDiffExt/LuxReverseDiffExt.jl
  ext/LuxReverseDiffExt/apply.jl
  ext/LuxReverseDiffExt/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

refactor(amdgpu): drop the AMDGPU extension
  Project.toml
  ext/LuxAMDGPUExt.jl
  src/Lux.jl
  src/transform/flux.jl
  test/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: use proper qualified accesses for modules
  Project.toml
  ext/LuxEnzymeExt/LuxEnzymeExt.jl
  ext/LuxEnzymeExt/training.jl
  ext/LuxFluxExt.jl
  ext/LuxMLUtilsExt.jl
  ext/LuxReverseDiffExt/LuxReverseDiffExt.jl
  ext/LuxReverseDiffExt/apply.jl
  ext/LuxReverseDiffExt/training.jl
  ext/LuxSimpleChainsExt.jl
  ext/LuxTrackerExt.jl
  src/contrib/contrib.jl
  src/contrib/freeze.jl
  src/distributed/public_api.jl
  src/enzymerules.jl
  src/helpers/compact.jl
  src/helpers/nested_ad.jl
  src/layers/basic.jl
  src/layers/containers.jl
  src/layers/extension.jl
  src/layers/normalize.jl
  src/layers/recurrent.jl
  test/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

docs: remove redundant old preferences
  docs/src/manual/distributed_utils.md
  docs/src/manual/preferences.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

test: cover missing lines
  lib/LuxCore/.buildkite/testing.yml
  lib/LuxCore/src/LuxCore.jl
  lib/LuxCore/test/runtests.jl
Due: none

ci(buildkite): only test Lux
  lib/LuxCore/.buildkite/testing.yml
Due: none

ci(github-actions): standardize
  lib/LuxCore/.github/workflows/CI.yml
  lib/LuxCore/.github/workflows/Downgrade.yml
  lib/LuxCore/.github/workflows/Downstream.yml
  lib/LuxCore/.github/workflows/FormatCheck.yml
  lib/LuxCore/.github/workflows/Invalidations.yml
  lib/LuxCore/.github/workflows/QualityCheck.yml
Due: none

refactor: clean up initial(states/parameters)
  lib/LuxCore/src/LuxCore.jl
Due: none

test: more extensive testing
  lib/LuxCore/Project.toml
  lib/LuxCore/test/runtests.jl
Due: none

test: test for fallback displayname
  lib/LuxCore/test/runtests.jl
Due: none

refactor: clean up functor usage
  lib/LuxCore/src/LuxCore.jl
Due: none

ci(buildkite): update to common workflows
  lib/LuxCore/.buildkite/pipeline.yml
  lib/LuxCore/.buildkite/scripts/diff.sh
  lib/LuxCore/.buildkite/scripts/downstream.jl
  lib/LuxCore/.buildkite/scripts/find_branch_point.sh
  lib/LuxCore/.buildkite/testing.yml
Due: none

fix: fix the spelling errors
  lib/LuxCore/src/LuxCore.jl
  lib/LuxCore/test/runtests.jl
Due: none

feat: mark public api with public
  lib/LuxCore/Project.toml
  lib/LuxCore/src/LuxCore.jl
Due: none

fix: add missing dispatch
  lib/WeightInitializers/Project.toml
  lib/WeightInitializers/src/WeightInitializers.jl
  lib/WeightInitializers/src/initializers.jl
  lib/WeightInitializers/src/partial.jl
  lib/WeightInitializers/test/initializers_tests.jl
Due: none

feat: custom partial application implementation
  lib/WeightInitializers/.JuliaFormatter.toml
  lib/WeightInitializers/Project.toml
  lib/WeightInitializers/src/WeightInitializers.jl
  lib/WeightInitializers/src/initializers.jl
  lib/WeightInitializers/src/partial.jl
  lib/WeightInitializers/src/utils.jl
Due: none

fix: partial application
  lib/WeightInitializers/src/partial.jl
  lib/WeightInitializers/test/runtests.jl
Due: none

Making all eltypes Float32 in Fitting a Polynomial using MLP
  examples/PolynomialFitting/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: make all eltypes Float32 in Fitting a Polynomial using MLP (#761)
  examples/PolynomialFitting/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: allow multiple `@return`
  src/helpers/compact.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

refactor: simplify codegen
  src/helpers/compact.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: multiple `@return` tests
  test/helpers/compact_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: use `@return` in tutorials
  examples/SymbolicOptimalControl/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: fix inline math rendering
  docs/src/.vitepress/theme/style.css
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: allow setting target_modules at runtime
  lib/LuxTestUtils/.gitignore
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/LuxTestUtils.jl
Due: none

fix: missing []
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/LuxTestUtils.jl
Due: none

fix: reset inside module
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/LuxTestUtils.jl
Due: none

fix: set all test prefs in runtests
  lib/LuxLib/.buildkite/testing.yml
  lib/LuxLib/.github/workflows/CI.yml
  lib/LuxLib/Project.toml
  lib/LuxLib/test/runtests.jl
  lib/LuxLib/test/shared_testsetup.jl
Due: none

docs: reuse docs in the docstrings
  lib/MLDataDevices/src/LuxDeviceUtils.jl
Due: none
