Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/testing.yml, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/testing_luxcuda.yml
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/testing_weightinitializers.yml
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/testing_mldatadevices.yml
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/testing_luxlib.yml, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/testing_luxtestutils.yml
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/downstream.yml

chore: rename extensions
  .git-blame-ignore-revs
Due: none

feat: make forwarddiff a weak dependency for luxlib
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/CUDAExt/CUDAExt.jl
  lib/LuxLib/ext/CUDAForwardDiffExt.jl
  lib/LuxLib/ext/ForwardDiffExt.jl
  lib/LuxLib/src/impl/Impl.jl
  lib/LuxLib/src/traits.jl
  lib/LuxLib/src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: rename extensions
  .git-blame-ignore-revs
  src/distributed/backend.jl
  src/distributed/public_api.jl
  src/transform/flux.jl
  src/transform/simplechains.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: reactant don't preallocate on CI
  .buildkite/testing.yml
  .buildkite/testing_luxcuda.yml
  .buildkite/testing_luxlib.yml
  .buildkite/testing_luxtestutils.yml
  .buildkite/testing_mldatadevices.yml
  .buildkite/testing_weightinitializers.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml

ci: use latest downgrade
  .github/workflows/CommonCI.yml
Due: none

ci: reactant don't preallocate on CI (#1611)
  .buildkite/testing.yml
  .buildkite/testing_luxcuda.yml
  .buildkite/testing_luxlib.yml
  .buildkite/testing_luxtestutils.yml
  .buildkite/testing_mldatadevices.yml
  .buildkite/testing_weightinitializers.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml

ci: fix how downgrade ci works
  .github/workflows/CommonCI.yml
  lib/LuxCUDA/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: fix how downgrade ci works (#1612)
  .github/workflows/CommonCI.yml
  lib/LuxCUDA/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: make forwarddiff a weak dependency for luxlib
  Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/CUDAForwardDiffExt.jl
  lib/LuxLib/ext/ForwardDiffExt.jl
  lib/LuxLib/ext/LuxLibCUDAExt/LuxLibCUDAExt.jl
  lib/LuxLib/src/impl/Impl.jl
  lib/LuxLib/src/traits.jl
  lib/LuxLib/src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: make forwarddiff a weak dependency for luxlib (#1613)
  Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/CUDAForwardDiffExt.jl
  lib/LuxLib/ext/ForwardDiffExt.jl
  lib/LuxLib/ext/LuxLibCUDAExt/LuxLibCUDAExt.jl
  lib/LuxLib/src/impl/Impl.jl
  lib/LuxLib/src/traits.jl
  lib/LuxLib/src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: update to new api
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/common_ops/attention_tests.jl
  lib/LuxLib/test/others/bmm_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: use finite differencing for gradient testing for Reactant
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/common_ops/activation_tests.jl
  lib/LuxLib/test/common_ops/attention_tests.jl
  lib/LuxLib/test/others/bmm_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: higher tolerances
  lib/LuxLib/Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/common_ops/attention_tests.jl
  lib/LuxLib/test/others/bmm_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Update lib/LuxLib/test/Project.toml
  lib/LuxLib/test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: use finite differencing for gradient testing for Reactant (#1545)
  lib/LuxLib/Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/common_ops/activation_tests.jl
  lib/LuxLib/test/common_ops/attention_tests.jl
  lib/LuxLib/test/others/bmm_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: update LuxTestUtils to support 1.12
  .buildkite/testing_luxtestutils.yml
  .github/workflows/CI_LuxTestUtils.yml
  lib/LuxLib/test/common_ops/dense_tests.jl
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/autodiff.jl
  lib/LuxTestUtils/src/jet.jl
  test/enzyme_tests.jl
  test/helpers/loss_tests.jl
  test/helpers/training_tests.jl
  test/layers/basic_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: add 3rd order AD example using Reactant
  docs/src/.vitepress/config.mts
  docs/src/manual/nested_autodiff_reactant.md
Due: none

perf: update resnet benchmarks
  perf/README.md
  perf/resnet/Project.toml
  perf/resnet/cuda.jl
  perf/resnet/main.py
  perf/resnet/reactant.jl
  perf/results/resnet/cudajl.json
  perf/results/resnet/jax.json
  perf/results/resnet/plot.jl
  perf/results/resnet/reactant.json
  perf/results/resnet/resnet_runtimes.pdf
  perf/results/resnet/resnet_runtimes.svg
  perf/results/resnet/resnet_runtimes_dark.pdf
  perf/results/resnet/resnet_runtimes_dark.svg
  perf/results/resnet/resnet_speedups.pdf
  perf/results/resnet/resnet_speedups.svg
  perf/results/resnet/resnet_speedups_dark.pdf
  perf/results/resnet/resnet_speedups_dark.svg
Due: none

perf: add KAN perf numbers
  README.md
  perf/README.md
  perf/kan/Project.toml
  perf/kan/main.jl
  perf/resnet/cuda.jl
  perf/resnet/main.py
  perf/resnet/reactant.jl
  perf/results/kan/cudajl.json
  perf/results/kan/kan_runtimes.pdf
  perf/results/kan/kan_runtimes.svg
  perf/results/kan/kan_runtimes_dark.pdf
  perf/results/kan/kan_runtimes_dark.svg
  perf/results/kan/kan_speedups.pdf
  perf/results/kan/kan_speedups.svg
  perf/results/kan/kan_speedups_dark.pdf
  perf/results/kan/kan_speedups_dark.svg
  perf/results/kan/plot.jl
  perf/results/kan/reactant.json
  perf/results/kan/xla.json
Due: none

perf: more benchmarking results (#1614)
  README.md
  perf/README.md
  perf/kan/Project.toml
  perf/kan/main.jl
  perf/resnet/cuda.jl
  perf/resnet/main.py
  perf/resnet/reactant.jl
  perf/results/kan/cudajl.json
  perf/results/kan/kan_runtimes.pdf
  perf/results/kan/kan_runtimes.svg
  perf/results/kan/kan_runtimes_dark.pdf
  perf/results/kan/kan_runtimes_dark.svg
  perf/results/kan/kan_speedups.pdf
  perf/results/kan/kan_speedups.svg
  perf/results/kan/kan_speedups_dark.pdf
  perf/results/kan/kan_speedups_dark.svg
  perf/results/kan/plot.jl
  perf/results/kan/reactant.json
  perf/results/kan/xla.json
  perf/results/resnet/cudajl.json
  perf/results/resnet/jax.json
  perf/results/resnet/plot.jl
  perf/results/resnet/reactant.json
  perf/results/resnet/resnet_runtimes.pdf
  perf/results/resnet/resnet_runtimes.svg
  perf/results/resnet/resnet_runtimes_dark.pdf
  perf/results/resnet/resnet_runtimes_dark.svg
  perf/results/resnet/resnet_speedups.pdf
  perf/results/resnet/resnet_speedups.svg
  perf/results/resnet/resnet_speedups_dark.pdf
  perf/results/resnet/resnet_speedups_dark.svg
Due: none

fix: sparse arrays support (#1617)
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/MLDataDevicesCUDAExt.jl
  lib/MLDataDevices/ext/MLDataDevicesGPUArraysSparseArraysExt.jl
  lib/MLDataDevices/ext/MLDataDevicesSparseArraysExt.jl
  lib/MLDataDevices/test/cuda_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: rename extensions in LuxCore
  docs/Project.toml
  lib/LuxCore/Project.toml
  lib/LuxCore/ext/ArrayInterfaceReverseDiffExt.jl
  lib/LuxCore/ext/ArrayInterfaceTrackerExt.jl
  lib/LuxCore/ext/ChainRulesCoreExt.jl
  lib/LuxCore/ext/EnzymeCoreExt.jl
  lib/LuxCore/ext/FluxExt.jl
  lib/LuxCore/ext/FunctorsExt.jl
  lib/LuxCore/ext/MLDataDevicesExt.jl
  lib/LuxCore/ext/ReactantExt.jl
  lib/LuxCore/ext/SetfieldExt.jl
  lib/LuxLib/Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: rename extensions in LuxCore (#1618)
  docs/Project.toml
  lib/LuxCore/Project.toml
  lib/LuxCore/ext/ArrayInterfaceReverseDiffExt.jl
  lib/LuxCore/ext/ArrayInterfaceTrackerExt.jl
  lib/LuxCore/ext/ChainRulesCoreExt.jl
  lib/LuxCore/ext/EnzymeCoreExt.jl
  lib/LuxCore/ext/FluxExt.jl
  lib/LuxCore/ext/FunctorsExt.jl
  lib/LuxCore/ext/MLDataDevicesExt.jl
  lib/LuxCore/ext/ReactantExt.jl
  lib/LuxCore/ext/SetfieldExt.jl
  lib/LuxLib/Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: rename extensions in LuxLib
  Project.toml
  docs/Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/AppleAccelerateExt.jl
  lib/LuxLib/ext/BLISBLASExt.jl
  lib/LuxLib/ext/CUDAExt/CUDAExt.jl
  lib/LuxLib/ext/CUDAExt/cublaslt.jl
  lib/LuxLib/ext/EnzymeExt.jl
  lib/LuxLib/ext/LoopVectorizationExt.jl
  lib/LuxLib/ext/MKLExt.jl
  lib/LuxLib/ext/OctavianExt.jl
  lib/LuxLib/ext/ReactantExt/ReactantExt.jl
  lib/LuxLib/ext/ReactantExt/attention.jl
  lib/LuxLib/ext/ReactantExt/batched_mul.jl
  lib/LuxLib/ext/ReactantExt/batchnorm.jl
  lib/LuxLib/ext/ReverseDiffExt.jl
  lib/LuxLib/ext/SLEEFPiratesExt.jl
  lib/LuxLib/ext/TrackerAMDGPUExt.jl
  lib/LuxLib/ext/TrackerExt.jl
  lib/LuxLib/ext/cuDNNExt/batchnorm.jl
  lib/LuxLib/ext/cuDNNExt/cuDNNExt.jl
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: rename extensions in LuxLib (#1619)
  Project.toml
  docs/Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/AppleAccelerateExt.jl
  lib/LuxLib/ext/BLISBLASExt.jl
  lib/LuxLib/ext/CUDAExt/CUDAExt.jl
  lib/LuxLib/ext/CUDAExt/cublaslt.jl
  lib/LuxLib/ext/EnzymeExt.jl
  lib/LuxLib/ext/LoopVectorizationExt.jl
  lib/LuxLib/ext/MKLExt.jl
  lib/LuxLib/ext/OctavianExt.jl
  lib/LuxLib/ext/ReactantExt/ReactantExt.jl
  lib/LuxLib/ext/ReactantExt/attention.jl
  lib/LuxLib/ext/ReactantExt/batched_mul.jl
  lib/LuxLib/ext/ReactantExt/batchnorm.jl
  lib/LuxLib/ext/ReverseDiffExt.jl
  lib/LuxLib/ext/SLEEFPiratesExt.jl
  lib/LuxLib/ext/TrackerAMDGPUExt.jl
  lib/LuxLib/ext/TrackerExt.jl
  lib/LuxLib/ext/cuDNNExt/batchnorm.jl
  lib/LuxLib/ext/cuDNNExt/cuDNNExt.jl
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: rename extensions in MLDataDevices
  Project.toml
  docs/Project.toml
  examples/ImageNet/Project.toml
  lib/LuxCore/Project.toml
  lib/LuxCore/test/Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxTestUtils/Project.toml
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/AMDGPUExt.jl
  lib/MLDataDevices/ext/CUDAExt.jl
  lib/MLDataDevices/ext/ChainRulesCoreExt.jl
  lib/MLDataDevices/ext/ChainRulesExt.jl
  lib/MLDataDevices/ext/ComponentArraysExt.jl
  lib/MLDataDevices/ext/FillArraysExt.jl
  lib/MLDataDevices/ext/GPUArraysExt.jl
  lib/MLDataDevices/ext/GPUArraysSparseArraysExt.jl
  lib/MLDataDevices/ext/MLUtilsExt.jl
  lib/MLDataDevices/ext/MetalExt.jl
  lib/MLDataDevices/ext/OneHotArraysExt.jl
  lib/MLDataDevices/ext/OpenCLExt.jl
  lib/MLDataDevices/ext/ReactantExt.jl
  lib/MLDataDevices/ext/RecursiveArrayToolsExt.jl
  lib/MLDataDevices/ext/ReverseDiffExt.jl
  lib/MLDataDevices/ext/SparseArraysExt.jl
  lib/MLDataDevices/ext/TrackerExt.jl
  lib/MLDataDevices/ext/ZygoteExt.jl
  lib/MLDataDevices/ext/cuDNNExt.jl
  lib/MLDataDevices/ext/oneAPIExt.jl
  test/Project.toml
  test/distributed/Project.toml
  test/downstream/Flux/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: rename extensions in WeightInitializers
  Project.toml
  docs/Project.toml
  lib/WeightInitializers/Project.toml
  lib/WeightInitializers/ext/AMDGPUExt.jl
  lib/WeightInitializers/ext/CUDAExt.jl
  lib/WeightInitializers/ext/ChainRulesCoreExt.jl
  lib/WeightInitializers/ext/GPUArraysExt.jl
  lib/WeightInitializers/ext/ReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: rename extensions in MLDataDevices & WI (#1620)
  Project.toml
  docs/Project.toml
  examples/ImageNet/Project.toml
  lib/LuxCore/Project.toml
  lib/LuxCore/test/Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxTestUtils/Project.toml
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/AMDGPUExt.jl
  lib/MLDataDevices/ext/CUDAExt.jl
  lib/MLDataDevices/ext/ChainRulesCoreExt.jl
  lib/MLDataDevices/ext/ChainRulesExt.jl
  lib/MLDataDevices/ext/ComponentArraysExt.jl
  lib/MLDataDevices/ext/FillArraysExt.jl
  lib/MLDataDevices/ext/GPUArraysExt.jl
  lib/MLDataDevices/ext/GPUArraysSparseArraysExt.jl
  lib/MLDataDevices/ext/MLUtilsExt.jl
  lib/MLDataDevices/ext/MetalExt.jl
  lib/MLDataDevices/ext/OneHotArraysExt.jl
  lib/MLDataDevices/ext/OpenCLExt.jl
  lib/MLDataDevices/ext/ReactantExt.jl
  lib/MLDataDevices/ext/RecursiveArrayToolsExt.jl
  lib/MLDataDevices/ext/ReverseDiffExt.jl
  lib/MLDataDevices/ext/SparseArraysExt.jl
  lib/MLDataDevices/ext/TrackerExt.jl
  lib/MLDataDevices/ext/ZygoteExt.jl
  lib/MLDataDevices/ext/cuDNNExt.jl
  lib/MLDataDevices/ext/oneAPIExt.jl
  lib/WeightInitializers/Project.toml
  lib/WeightInitializers/ext/AMDGPUExt.jl
  lib/WeightInitializers/ext/CUDAExt.jl
  lib/WeightInitializers/ext/ChainRulesCoreExt.jl
  lib/WeightInitializers/ext/GPUArraysExt.jl
  lib/WeightInitializers/ext/ReactantExt.jl
  test/Project.toml
  test/distributed/Project.toml
  test/downstream/Flux/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: rename extensions in Lux
  Project.toml
  ext/ComponentArraysExt.jl
  ext/EnzymeExt/EnzymeExt.jl
  ext/EnzymeExt/autodiff.jl
  ext/EnzymeExt/training.jl
  ext/FluxExt.jl
  ext/GPUArraysExt.jl
  ext/LossFunctionsExt.jl
  ext/MLUtilsExt.jl
  ext/MPIExt.jl
  ext/MPINCCLExt.jl
  ext/MooncakeExt/MooncakeExt.jl
  ext/MooncakeExt/training.jl
  ext/ReactantExt/ReactantExt.jl
  ext/ReactantExt/batched_jacobian.jl
  ext/ReactantExt/layers.jl
  ext/ReactantExt/patches.jl
  ext/ReactantExt/precompile_workloads.jl
  ext/ReactantExt/saved_model.jl
  ext/ReactantExt/tracing.jl
  ext/ReactantExt/training.jl
  ext/ReverseDiffExt/ReverseDiffExt.jl
  ext/ReverseDiffExt/rules.jl
  ext/ReverseDiffExt/training.jl
  ext/ReverseDiffExt/utils.jl
  ext/SimpleChainsExt.jl
  ext/TrackerExt/TrackerExt.jl
  ext/TrackerExt/rules.jl
  ext/TrackerExt/training.jl
  ext/TrackerExt/utils.jl
  ext/ZygoteExt/ZygoteExt.jl
  ext/ZygoteExt/batched_autodiff.jl
  ext/ZygoteExt/nested_autodiff.jl
  ext/ZygoteExt/training.jl
  src/distributed/backend.jl
  src/distributed/public_api.jl
  src/transform/flux.jl
  src/transform/simplechains.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: luxcore flux ext
  lib/LuxCore/Project.toml
  lib/LuxCore/ext/FluxExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: fmt
  lib/LuxCore/ext/FluxExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml
