Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

.buildkite/pipeline.yml:

steps:
  - label: "Triggering Pipelines (Pull Request)"
    if: "build.pull_request.base_branch == 'main'"
    agents:
      queue: "juliagpu"
    plugins:
      - monebag/monorepo-diff#v2.5.9:
          diff: ".buildkite/scripts/diff.sh $BUILDKITE_COMMIT"
          interpolation: false
          watch:
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
              config:
                command: "buildkite-agent pipeline upload .buildkite/testing.yml"
                agents:
                  queue: "juliagpu"
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - "docs/"
                - "examples/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/documentation.yml"
                agents:
                  queue: "juliagpu"
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - "benchmark/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/benchmark.yml"
                agents:
                  queue: "juliagpu"

  - label: "Triggering Pipelines (Main Branch / Tag)"
    if: build.branch == "main" || build.tag != null
    agents:
      queue: "juliagpu"
    command: |
      buildkite-agent pipeline upload .buildkite/testing.yml
      buildkite-agent pipeline upload .buildkite/documentation.yml
      buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: update to using LuxCore@1.0
  Project.toml
  docs/Project.toml
  docs/src/api/Building_Blocks/LuxCore.md
  docs/src/api/Lux/interop.md
  docs/src/manual/dispatch_custom_input.md
  docs/src/manual/interface.md
  docs/src/manual/migrate_from_flux.md
  examples/HyperNet/main.jl
  examples/NeuralODE/main.jl
  examples/SimpleRNN/main.jl
  src/Lux.jl
  src/contrib/contrib.jl
  src/contrib/debug.jl
  src/contrib/freeze.jl
  src/contrib/map.jl
  src/custom_errors.jl
  src/helpers/compact.jl
  src/helpers/losses.jl
  src/helpers/stateful.jl
  src/helpers/training.jl
  src/layers/basic.jl
  src/layers/containers.jl
  src/layers/conv.jl
  src/layers/display.jl
  src/layers/dropout.jl
  src/layers/extension.jl
  src/layers/normalize.jl
  src/layers/recurrent.jl
  src/transform/simplechains.jl
  src/utils.jl
  test/Project.toml
  test/contrib/map_tests.jl
  test/helpers/stateful_tests.jl
  test/helpers/training_tests.jl
  test/layers/containers_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore!: remove `st_fixed_type`
  src/contrib/contrib.jl
  src/contrib/debug.jl
  src/helpers/stateful.jl
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: broken tests
  src/layers/containers.jl
  test/contrib/debug_tests.jl
  test/helpers/training_tests.jl
  test/layers/basic_tests.jl
  test/transform/simple_chains_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: remove all references to LuxDeviceUtils
  docs/src/manual/migrate_from_flux.md
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: errors in testing
  Project.toml
  docs/src/api/Building_Blocks/LuxLib.md
  test/helpers/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix!: remove uses of DynamicExpressions
  Project.toml
  test/Project.toml
  test/qa_tests.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: update compat entries for examples
  Project.toml
  examples/Basics/Project.toml
  examples/BayesianNN/Project.toml
  examples/ConvMixer/Project.toml
  examples/DDIM/Project.toml
  examples/GravitationalWaveForm/Project.toml
  examples/GravitationalWaveForm/main.jl
  examples/HyperNet/Project.toml
  examples/HyperNet/main.jl
  examples/ImageNet/Project.toml
  examples/ImageNet/main.jl
  examples/NeuralODE/Project.toml
  examples/NeuralODE/main.jl
  examples/PolynomialFitting/Project.toml
  examples/PolynomialFitting/main.jl
  examples/SimpleChains/Project.toml
  examples/SimpleRNN/Project.toml
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

test: try fixing the tests
  examples/GravitationalWaveForm/Project.toml
  test/helpers/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: incorrect size propagator test rebase
  test/helpers/size_propagator_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: bad rebase
  src/contrib/debug.jl
  src/extended_ops.jl
  src/helpers/stateful.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: remove symbolic tutorial references
  docs/make.jl
  docs/src/.vitepress/config.mts
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: run formatter
  examples/HyperNet/main.jl
  examples/NeuralODE/main.jl
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: remove old code from benchmarks
  benchmarks/setups/models.jl
Due: none

fix: mark `Utils.eltype` as non-differentiable
  docs/src/introduction/updating_to_v1.md
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

feat: controlled reexport of NNlib
  src/Lux.jl
  test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: misc docs issues
  docs/src/api/Lux/utilities.md
  docs/src/introduction/updating_to_v1.md
  docs/src/manual/distributed_utils.md
  docs/src/manual/freezing_model_parameters.md
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

feat: correctly type-cast momentum and epsilon
  src/contrib/share_parameters.jl
  src/layers/normalize.jl
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: missing state type in StatefulLuxLayer
  examples/BayesianNN/main.jl
  examples/GravitationalWaveForm/main.jl
  examples/NeuralODE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: qa testing
  ext/LuxTrackerExt/LuxTrackerExt.jl
  test/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: update freezing docs
  docs/src/manual/freezing_model_parameters.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: remove unnecessary `.0`
  docs/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: add a migration to v1 docs
  README.md
  docs/make.jl
  docs/src/.vitepress/config.mts
  docs/src/api/Building_Blocks/LuxLib.md
  docs/src/introduction/index.md
  docs/src/introduction/updating_to_v1.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix!: remove allow_fast_activation
  docs/src/introduction/updating_to_v1.md
  src/layers/basic.jl
  src/layers/conv.jl
  src/layers/normalize.jl
  test/layers/basic_tests.jl
  test/layers/conv_tests.jl
  test/layers/normalize_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

feat: use the device iterators in the examples
  examples/ConvMixer/main.jl
  examples/DDIM/main.jl
  examples/HyperNet/main.jl
  examples/NeuralODE/main.jl
  examples/SimpleChains/main.jl
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix!: cleanup the implementation of `layer_map`
  docs/src/api/Lux/contrib.md
  docs/src/introduction/updating_to_v1.md
  docs/src/manual/freezing_model_parameters.md
  src/contrib/contrib.jl
  src/contrib/map.jl
  test/contrib/map_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: tests
  examples/BayesianNN/main.jl
  examples/GravitationalWaveForm/main.jl
  src/contrib/map.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: remove old compat
  examples/ConvMixer/Project.toml
  examples/DDIM/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: fixes for testing
  lib/LuxLib/src/api/instancenorm.jl
  lib/LuxLib/src/impl/normalization.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
Due: none

feat: instancenorm with running statistics
  lib/LuxLib/Project.toml
  lib/LuxLib/src/api/instancenorm.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
Due: none

feat: track running statistics in InstanceNorm
  Project.toml
  src/layers/normalize.jl
  test/layers/normalize_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: modify the dropout testing
  lib/LuxLib/src/impl/dense.jl
  lib/LuxLib/src/impl/dropout.jl
  lib/LuxLib/test/common_ops/dropout_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
Due: none

fix: windows testing for dropout
  lib/LuxLib/test/common_ops/dropout_tests.jl
Due: none

feat!: match initialization of convolution layers with Pytorch
  benchmarks/setup.jl
  docs/src/api/Lux/layers.md
  docs/src/introduction/updating_to_v1.md
  ext/LuxFluxExt.jl
  src/Lux.jl
  src/layers/conv.jl
  src/utils.jl
  test/layers/conv_tests.jl
  test/shared_testsetup.jl
  test/zygote_type_stability.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: docstrings in InstanceNorm
  src/layers/normalize.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: run formatter
  ext/LuxFluxExt.jl
  test/layers/conv_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

feat!: upsampling now defaults to no align corners
  docs/src/introduction/updating_to_v1.md
  ext/LuxFluxExt.jl
  src/layers/conv.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: tests and update init assumptions in tests
  src/layers/conv.jl
  test/contrib/map_tests.jl
  test/layers/normalize_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: update initialization of linear layers
  src/layers/basic.jl
  src/layers/conv.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: update normalization defaults to match Pytorch
  docs/src/introduction/updating_to_v1.md
  src/layers/normalize.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: update Embedding defaults to match Pytorch
  docs/src/introduction/updating_to_v1.md
  src/layers/basic.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml
