Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

.buildkite/pipeline.yml:

steps:
  - label: "Triggering Pipelines (Pull Request)"
    if: build.branch != "main" || build.tag == null
    agents:
      queue: "juliagpu"
    plugins:
      - monebag/monorepo-diff#v2.5.9:
          diff: ".buildkite/scripts/diff.sh $BUILDKITE_COMMIT"
          interpolation: false
          watch:
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - ".buildkite/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/testing.yml"
                agents:
                  queue: "juliagpu"
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - "docs/"
                - "examples/"
                - ".buildkite/"
              config:
                command: "buildkite-agent pipeline upload .buildkite/documentation.yml"
                agents:
                  queue: "juliagpu"
            - path:
                - "src/"
                - "ext/"
                - "test/"
                - "Project.toml"
                - ".buildkite/"
                - "benchmarks/"
              if: build.pull_request.labels includes "run benchmarks"
              config:
                command: "buildkite-agent pipeline upload .buildkite/benchmarks.yml"
                agents:
                  queue: "juliagpu"

  - label: "Triggering Pipelines (Main Branch / Tag)"
    if: build.branch == "main" || build.tag != null
    agents:
      queue: "juliagpu"
    command: |
      buildkite-agent pipeline upload .buildkite/testing.yml
      buildkite-agent pipeline upload .buildkite/documentation.yml
      buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: update Optimization tutorial
  examples/OptimizationIntegration/Project.toml
  examples/OptimizationIntegration/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: remove old mention of LuxDeviceUtils
  docs/src/api/Accelerator_Support/MLDataDevices.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: rollback custom gelu implementation
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/activation.jl
Due: none

fix: patch optimization tutorial
  examples/OptimizationIntegration/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Added to Nested AD example how to use `batched_jacobian`
  docs/src/manual/nested_autodiff.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Complete example with loss function and tests
  docs/src/manual/nested_autodiff.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Update docs/src/manual/nested_autodiff.md
  docs/src/manual/nested_autodiff.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: added to Nested AD example how to use `batched_jacobian` (#964)
  docs/src/manual/nested_autodiff.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: typo
  docs/src/manual/nested_autodiff.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Update examples/SimpleRNN/main.jl
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Remove line about "not saving the model"
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: clarify line about "not saving the model" (#965)
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: optimization integration for gravitational waveform
  examples/GravitationalWaveForm/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: optimization integration for gravitational waveform (#966)
  examples/GravitationalWaveForm/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

test: incorrect env var
  lib/MLDataDevices/.github/workflows/CI.yml
  lib/MLDataDevices/test/runtests.jl
Due: none

fix: incorrect function call
  lib/MLDataDevices/src/public.jl
Due: none

chore: apply suggestions from code review
  lib/MLDataDevices/src/public.jl
Due: none

fix: copy to XLA in main thread
  lib/MLDataDevices/ext/MLDataDevicesMLUtilsExt.jl
  lib/MLDataDevices/src/iterator.jl
  lib/MLDataDevices/test/iterator_tests.jl
Due: none

feat: more extensive testing of XLA backend
  lib/MLDataDevices/.buildkite/testing.yml
  lib/MLDataDevices/.github/workflows/CI.yml
  lib/MLDataDevices/ext/MLDataDevicesMLUtilsExt.jl
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
  lib/MLDataDevices/src/internal.jl
  lib/MLDataDevices/src/public.jl
  lib/MLDataDevices/test/amdgpu_tests.jl
  lib/MLDataDevices/test/cuda_tests.jl
  lib/MLDataDevices/test/iterator_tests.jl
  lib/MLDataDevices/test/metal_tests.jl
  lib/MLDataDevices/test/runtests.jl
  lib/MLDataDevices/test/xla_tests.jl
Due: none

chore: bump version
  lib/MLDataDevices/Project.toml
Due: none

test: rename
  lib/MLDataDevices/test/misc_tests.jl
Due: none

fix: don't support pre-moving the data
  lib/MLDataDevices/ext/MLDataDevicesMLUtilsExt.jl
  lib/MLDataDevices/test/iterator_tests.jl
Due: none

feat: XLADevice via Reactant
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/README.md
  lib/MLDataDevices/ext/MLDataDevicesReactantExt.jl
  lib/MLDataDevices/src/MLDataDevices.jl
  lib/MLDataDevices/src/internal.jl
  lib/MLDataDevices/src/public.jl
Due: none

docs: add the new `xla_device`
  docs/Project.toml
  docs/src/api/Accelerator_Support/MLDataDevices.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: add the new `xla_device` (#968)
  docs/Project.toml
  docs/src/api/Accelerator_Support/MLDataDevices.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: urgent patch for reactant breakage
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/Impl.jl
  lib/LuxLib/src/impl/conv.jl
Due: none

ci: run on 1.10 and 1
  .buildkite/testing.yml
  .github/workflows/CI.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml
