Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxlib.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxlib.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/downstream.yml:
  command: buildkite-agent pipeline upload .buildkite/downstream.yml
  agents:
    queue: juliagpu

Fixed legend labels for the curves in the PolynomialFitting library
  examples/PolynomialFitting/main.jl
Due: none

Update examples/PolynomialFitting/main.jl
  examples/PolynomialFitting/main.jl
Due: none

docs: fixed legend labels for the curves in the PolynomialFitting documentation page (#1645)
  examples/PolynomialFitting/main.jl
Due: none

ci: run docs on 1.12
  .github/workflows/Documentation.yml
Due: none

ci: run docs on 1.12 (#1646)
  .github/workflows/Documentation.yml
Due: none

feat: support AutoReactant
  Project.toml
  docs/src/manual/compiling_lux_models.md
  examples/SimpleRNN/main.jl
  ext/ReactantExt/ReactantExt.jl
  ext/ReactantExt/training.jl
  src/Lux.jl
  src/helpers/training.jl
  test/Project.toml
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Apply suggestion from @avik-pal
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Update src/helpers/training.jl
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: support AutoReactant (#1647)
  Project.toml
  docs/src/manual/compiling_lux_models.md
  examples/SimpleRNN/main.jl
  ext/ReactantExt/ReactantExt.jl
  ext/ReactantExt/training.jl
  src/Lux.jl
  src/helpers/training.jl
  test/Project.toml
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: dont rely on auto inference in reactant
  Project.toml
  ext/ReactantExt/training.jl
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: reproducible
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

fix: dont rely on auto inference in reactant (#1648)
  Project.toml
  ext/ReactantExt/training.jl
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: add 3rd order AD example using Reactant
  docs/src/.vitepress/config.mts
  docs/src/manual/nested_autodiff.md
  docs/src/manual/nested_autodiff_reactant.md
Due: none

fix: bypass reactant in get_device
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/src/internal.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: bypass reactant in get_device (#1649)
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/src/internal.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test(WeightInitializers): migrate to ParallelTestRunners
  .buildkite/pipeline.yml
  .buildkite/testing_weightinitializers.yml
  .github/workflows/CI.yml
  .github/workflows/CIPreRelease.yml
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_LuxLib.yml
  .github/workflows/CI_WeightInitializers.yml
  lib/WeightInitializers/test/Project.toml
  lib/WeightInitializers/test/basic.jl
  lib/WeightInitializers/test/common.jl
  lib/WeightInitializers/test/complex.jl
  lib/WeightInitializers/test/identity.jl
  lib/WeightInitializers/test/orthogonal.jl
  lib/WeightInitializers/test/qa.jl
  lib/WeightInitializers/test/reactant.jl
  lib/WeightInitializers/test/runtests.jl
  lib/WeightInitializers/test/sparse.jl
  lib/WeightInitializers/test/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test(MLDataDevices): migrate to ParallelTestRunners
  .buildkite/testing_mldatadevices.yml
  .github/workflows/CI_MLDataDevices.yml
  lib/MLDataDevices/ext/GPUArraysSparseArraysExt.jl
  lib/MLDataDevices/test/Project.toml
  lib/MLDataDevices/test/amdgpu_tests.jl
  lib/MLDataDevices/test/common.jl
  lib/MLDataDevices/test/cuda_tests.jl
  lib/MLDataDevices/test/eltype_tests.jl
  lib/MLDataDevices/test/iterator_tests.jl
  lib/MLDataDevices/test/metal_tests.jl
  lib/MLDataDevices/test/misc_tests.jl
  lib/MLDataDevices/test/oneapi_tests.jl
  lib/MLDataDevices/test/opencl_tests.jl
  lib/MLDataDevices/test/openclcpu_tests.jl
  lib/MLDataDevices/test/reactant_tests.jl
  lib/MLDataDevices/test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test(LuxCore): use ParallelTestRunner
  lib/LuxCore/test/Project.toml
  lib/LuxCore/test/abstractluxcontainerlayer.jl
  lib/LuxCore/test/abstractluxlayer.jl
  lib/LuxCore/test/abstractluxwrapperlayer.jl
  lib/LuxCore/test/common.jl
  lib/LuxCore/test/misc.jl
  lib/LuxCore/test/qa.jl
  lib/LuxCore/test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci(MLDataDevices): skip opencl + windows
  .github/workflows/CI_MLDataDevices.yml
Due: none

fix: dispatches
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/AMDGPUExt.jl
  lib/MLDataDevices/ext/CUDAExt.jl
  lib/MLDataDevices/ext/GPUArraysSparseArraysExt.jl
  lib/MLDataDevices/ext/MetalExt.jl
  lib/MLDataDevices/ext/OpenCLExt.jl
  lib/MLDataDevices/ext/ReactantExt.jl
  lib/MLDataDevices/ext/SparseArraysExt.jl
  lib/MLDataDevices/ext/oneAPIExt.jl
  lib/MLDataDevices/src/internal.jl
  lib/MLDataDevices/src/public.jl
  lib/MLDataDevices/test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: add deps
  lib/MLDataDevices/test/Project.toml
  lib/MLDataDevices/test/iterator_tests.jl
  lib/MLDataDevices/test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: add deps
  lib/MLDataDevices/test/runtests.jl
  lib/WeightInitializers/test/Project.toml
  lib/WeightInitializers/test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test(MLDataDevices): migrate to ParallelTestRunners
  lib/MLDataDevices/test/iterator_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test(LuxLib): migrate to paralleltestrunners
  .buildkite/testing_luxlib.yml
  .github/workflows/CI_LuxLib.yml
  lib/LuxLib/Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/common_ops/activation_tests.jl
  lib/LuxLib/test/common_ops/attention_tests.jl
  lib/LuxLib/test/common_ops/bias_act_tests.jl
  lib/LuxLib/test/common_ops/conv_tests.jl
  lib/LuxLib/test/common_ops/dense_tests.jl
  lib/LuxLib/test/common_ops/dropout_tests.jl
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  lib/LuxLib/test/normalization/groupnorm_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
  lib/LuxLib/test/normalization/layernorm_tests.jl
  lib/LuxLib/test/others/bmm/autodiff_tests.jl
  lib/LuxLib/test/others/bmm/batched_adj_trans_interface_tests.jl
  lib/LuxLib/test/others/bmm/batched_mul_tests.jl
  lib/LuxLib/test/others/bmm/bmm_testsetup.jl
  lib/LuxLib/test/others/bmm/generalized_bmm_tests.jl
  lib/LuxLib/test/others/bmm/low_dims_tests.jl
  lib/LuxLib/test/others/bmm/tracker_tests.jl
  lib/LuxLib/test/others/bmm/trivial_dims_tests.jl
  lib/LuxLib/test/others/bmm_tests.jl
  lib/LuxLib/test/others/forwarddiff_dropout_tests.jl
  lib/LuxLib/test/others/forwarddiff_gather_scatter_tests.jl
  lib/LuxLib/test/others/forwarddiff_tests.jl
  lib/LuxLib/test/others/misc_tests.jl
  lib/LuxLib/test/others/qa_tests.jl
  lib/LuxLib/test/runtests.jl
  lib/LuxLib/test/shared_testsetup.jl
  lib/MLDataDevices/test/iterator_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test(LuxLib): migrate to ParallelTestRunners (#1654)
  .buildkite/testing_luxlib.yml
  .github/workflows/CI_LuxLib.yml
  lib/LuxLib/Project.toml
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/common_ops/activation_tests.jl
  lib/LuxLib/test/common_ops/attention_tests.jl
  lib/LuxLib/test/common_ops/bias_act_tests.jl
  lib/LuxLib/test/common_ops/conv_tests.jl
  lib/LuxLib/test/common_ops/dense_tests.jl
  lib/LuxLib/test/common_ops/dropout_tests.jl
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  lib/LuxLib/test/normalization/groupnorm_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
  lib/LuxLib/test/normalization/layernorm_tests.jl
  lib/LuxLib/test/others/bmm/autodiff_tests.jl
  lib/LuxLib/test/others/bmm/batched_adj_trans_interface_tests.jl
  lib/LuxLib/test/others/bmm/batched_mul_tests.jl
  lib/LuxLib/test/others/bmm/bmm_testsetup.jl
  lib/LuxLib/test/others/bmm/generalized_bmm_tests.jl
  lib/LuxLib/test/others/bmm/low_dims_tests.jl
  lib/LuxLib/test/others/bmm/tracker_tests.jl
  lib/LuxLib/test/others/bmm/trivial_dims_tests.jl
  lib/LuxLib/test/others/bmm_tests.jl
  lib/LuxLib/test/others/forwarddiff_dropout_tests.jl
  lib/LuxLib/test/others/forwarddiff_gather_scatter_tests.jl
  lib/LuxLib/test/others/forwarddiff_tests.jl
  lib/LuxLib/test/others/misc_tests.jl
  lib/LuxLib/test/others/qa_tests.jl
  lib/LuxLib/test/runtests.jl
  lib/LuxLib/test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: missing onehotarrays dispatch for cpu matmul
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/OneHotArraysExt.jl
  lib/LuxLib/src/impl/matmul.jl
  lib/LuxLib/src/utils.jl
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/others/onehotarray_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: mooncake lux
  Project.toml
  ext/MooncakeExt/training.jl
  lib/LuxLib/test/others/onehotarray_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: missing onehotarrays dispatch for cpu matmul (#1655)
  Project.toml
  ext/MooncakeExt/training.jl
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/OneHotArraysExt.jl
  lib/LuxLib/src/impl/matmul.jl
  lib/LuxLib/src/utils.jl
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/others/onehotarray_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: update test doc
  Project.toml
  README.md
  lib/LuxLib/Project.toml
  lib/MLDataDevices/Project.toml
  lib/WeightInitializers/Project.toml
  test/Project.toml
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: LuxLib min compats
  lib/LuxLib/Project.toml
  lib/LuxLib/test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: split up a bit
  test/misc/doctests.jl
  test/misc/helpers/adtypes_tests.jl
  test/misc/helpers/training_api_tests.jl
  test/misc/helpers/training_enzyme_tests.jl
  test/misc/helpers/training_forwarddiff_tests.jl
  test/misc/helpers/training_reversediff_tests.jl
  test/misc/helpers/training_tests.jl
  test/misc/helpers/trainstate_tests.jl
  test/misc/qa_tests.jl
  test/recurrent_layers/recurrence_grucell_tests.jl
  test/recurrent_layers/recurrence_lstmcell_tests.jl
  test/recurrent_layers/recurrence_ordering_tests.jl
  test/recurrent_layers/recurrence_rnncell_tests.jl
  test/recurrent_layers/recurrence_testsetup.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

basic structure
  Project.toml
  ext/NPZExt/NPZExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Lux.load structure + types
  ext/NPZExt/NPZExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/testing.yml, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/testing_luxcuda.yml
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/testing_weightinitializers.yml
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/testing_mldatadevices.yml
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/testing_luxlib.yml, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/testing_luxtestutils.yml
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/downstream.yml
