Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxlib.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxlib.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/downstream.yml:
  command: buildkite-agent pipeline upload .buildkite/downstream.yml
  agents:
    queue: juliagpu

test(LuxLib): migrate testing to v1.12 (#1633)
  .buildkite/testing_luxlib.yml
  .github/workflows/CI_LuxLib.yml
  lib/LuxLib/Project.toml
  lib/LuxLib/src/api/groupnorm.jl
  lib/LuxLib/test/common_ops/activation_tests.jl
  lib/LuxLib/test/common_ops/attention_tests.jl
  lib/LuxLib/test/common_ops/bias_act_tests.jl
  lib/LuxLib/test/common_ops/conv_tests.jl
  lib/LuxLib/test/common_ops/dense_tests.jl
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  lib/LuxLib/test/normalization/groupnorm_tests.jl
  lib/LuxLib/test/normalization/instancenorm_tests.jl
  lib/LuxLib/test/normalization/layernorm_tests.jl
  lib/LuxLib/test/others/bmm_tests.jl
  lib/LuxLib/test/others/forwarddiff_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test(Lux): migrate testing to v1.12
  .buildkite/benchmarks.yml
  .buildkite/cuda_tutorials.yml
  .buildkite/testing.yml
  .buildkite/testing_luxcuda.yml
  .buildkite/testing_luxlib.yml
  .github/workflows/Benchmark.yml
  .github/workflows/CI.yml
  .github/workflows/Documentation.yml
  test/eltype_matching.jl
  test/layers/attention_tests.jl
  test/layers/basic_tests.jl
  test/layers/conv_tests.jl
  test/layers/embedding_tests.jl
  test/layers/recurrent_tests.jl
  test/reactant/layer_tests.jl
  test/runtests.jl
  test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml

fix: update tracing to new Reactant API
  Project.toml
  docs/Project.toml
  ext/ReactantExt/tracing.jl
  lib/LuxCore/Project.toml
  lib/LuxCore/ext/ReactantExt.jl
  lib/LuxTestUtils/Project.toml
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/ReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: update tracing to new Reactant API (#1636)
  Project.toml
  docs/Project.toml
  ext/ReactantExt/tracing.jl
  lib/LuxCore/Project.toml
  lib/LuxCore/ext/ReactantExt.jl
  lib/LuxTestUtils/Project.toml
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/ReactantExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: drop GPUCompiler
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml

chore: specific versions
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml

test: use specific reactant branch (drop me)
  test/Project.toml
  test/layers/attention_tests.jl
  test/layers/embedding_tests.jl
  test/reactant/layer_tests.jl
  test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

test: disable enzyme testing on 1.12
  test/Project.toml
  test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

fix: reactant precompilation + throw error
  Project.toml
  docs/Project.toml
  ext/ReactantExt/ReactantExt.jl
  ext/ReactantExt/precompile_workloads.jl
  lib/LuxCore/Project.toml
  lib/MLDataDevices/Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: rmsnorm
  Project.toml
  src/layers/normalize.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: reactant precompilation + throw error (#1631)
  Project.toml
  docs/Project.toml
  ext/ReactantExt/ReactantExt.jl
  ext/ReactantExt/precompile_workloads.jl
  lib/LuxCore/Project.toml
  lib/MLDataDevices/Project.toml
  src/layers/normalize.jl
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: parallel precompile for reactant workloads
  Project.toml
  ext/ReactantAttentionPrecompileExt.jl
  ext/ReactantBasicLayersPrecompileExt.jl
  ext/ReactantExt/ReactantExt.jl
  test/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: disable precompile
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: parallel precompile for reactant workloads (#1638)
  Project.toml
  ext/ReactantAttentionPrecompileExt.jl
  ext/ReactantBasicLayersPrecompileExt.jl
  ext/ReactantExt/ReactantExt.jl
  test/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: fix out of bounds size access
  examples/LSTMEncoderDecoder/main.jl
Due: none

docs: fix out of bounds size access (#1639)
  examples/LSTMEncoderDecoder/main.jl
Due: none

fix: typo
  src/layers/normalize.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: use 1.11 for now
  .github/workflows/Documentation.yml
Due: none

test: skip simplechains in v1.12
  test/LocalPreferences.toml
  test/enzyme_tests.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

feat: add sources to each of the project
  docs/Project.toml
  docs/run_single_tutorial.jl
  examples/Basics/Project.toml
  examples/CIFAR10/Project.toml
  examples/ConvolutionalVAE/Project.toml
  examples/DDIM/Project.toml
  examples/GCN_Cora/Project.toml
  examples/GravitationalWaveForm/Project.toml
  examples/HyperNet/Project.toml
  examples/ImageNet/Project.toml
  examples/LSTMEncoderDecoder/Project.toml
  examples/NeuralODE/Project.toml
  examples/OptimizationIntegration/Project.toml
  examples/PINN2DPDE/Project.toml
  examples/PolynomialFitting/Project.toml
  examples/Qwen3/Project.toml
  examples/RealNVP/Project.toml
  examples/SimpleChains/Project.toml
  examples/SimpleRNN/Project.toml
  examples/SimpleRNN/main.jl
Due: none

feat: fallback to decomposed impl
  Project.toml
  src/layers/normalize.jl
  test/reactant/layer_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: fd return values
  test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

test: more fixes
  test/enzyme_tests.jl
  test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

fix: minor fixes for tests
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/batched_mul.jl
  test/autodiff/batched_autodiff_tests.jl
  test/reactant/tf_saved_model_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: skip zygote on 1.12
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/autodiff.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: update to error on ForwardDiff
  lib/LuxTestUtils/test/unit_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: skip zygote on 1.12 (#1641)
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/autodiff.jl
  lib/LuxTestUtils/test/unit_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: add 3rd order AD example using Reactant
  docs/src/.vitepress/config.mts
  docs/src/manual/nested_autodiff.md
  docs/src/manual/nested_autodiff_reactant.md
Due: none

test: Enzyme.jl on 1.12
  Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/test/Project.toml
  test/Project.toml
  test/enzyme_tests.jl
  test/helpers/training_tests.jl
  test/layers/basic_tests.jl
  test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: Enzyme.jl on 1.12 (#1644)
  Project.toml
  lib/LuxLib/Project.toml
  lib/LuxLib/test/Project.toml
  test/Project.toml
  test/enzyme_tests.jl
  test/helpers/training_tests.jl
  test/layers/basic_tests.jl
  test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/testing.yml, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/testing_luxcuda.yml
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/testing_weightinitializers.yml
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/testing_mldatadevices.yml
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/testing_luxlib.yml, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/testing_luxtestutils.yml
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/downstream.yml
