Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/benchmarks.yml:
  command: buildkite-agent pipeline upload .buildkite/benchmarks.yml
  agents:
    queue: juliagpu

CompatHelper: add new compat entry for LuxCUDA at version 0.3 for package PINN2DPDE, (keep existing compat)
  examples/PINN2DPDE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for CairoMakie at version 0.12 for package PINN2DPDE, (keep existing compat)
  examples/PINN2DPDE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for Zygote at version 0.6 for package PINN2DPDE, (keep existing compat)
  examples/PINN2DPDE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for Statistics at version 1 for package PINN2DPDE, (keep existing compat)
  examples/PINN2DPDE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for Optimisers at version 0.3 for package PINN2DPDE, (keep existing compat)
  examples/PINN2DPDE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for ADTypes at version 1 for package PINN2DPDE, (keep existing compat)
  examples/PINN2DPDE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for Lux at version 1 for package PINN2DPDE, (keep existing compat)
  examples/PINN2DPDE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for OnlineStats at version 1 for package PINN2DPDE, (keep existing compat)
  examples/PINN2DPDE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat(reactant): compile `single_train_step!` using `Reactant`
  Project.toml
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/optimizers.jl
  ext/LuxReactantExt/train.jl
  ext/LuxReactantExt/utils.jl
  src/Lux.jl
  src/helpers/training.jl
  src/transform/reactant.jl
  test/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

refactor(reactant): avoid potential name conflict with ADTypes
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/train.jl
  ext/LuxReactantExt/utils.jl
  src/Lux.jl
  src/compilers.jl
  src/helpers/training.jl
  src/transform/reactant.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

refactor(reactant): uniform naming across extensions
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/training.jl
  ext/LuxReactantExt/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

feat(training): add inference mode for `TrainState`
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

feat(reactant): auto compile inference mode if possible
  ext/LuxReactantExt/training.jl
  src/compilers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

refactor(reactant): move optimisers into main pkg
  Project.toml
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/optimizers.jl
  ext/LuxReactantExt/training.jl
  src/Lux.jl
  src/helpers/simple_optimizers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: tstate inference should return the state
  ext/LuxReactantExt/training.jl
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

chore: format suggestion
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: update to new API
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/training.jl
  ext/LuxReactantExt/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

CompatHelper: add new compat entry for Literate at version 2 for package PINN2DPDE, (keep existing compat)
  examples/PINN2DPDE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: compat entries for PINN2DPDE
  examples/PINN2DPDE/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: missing enzyme rules for matmuladd! (CUDA support)
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/matmul.jl
  lib/LuxLib/test/common_ops/dense_tests.jl
Due: none

test: incorrect function name
  lib/LuxLib/test/common_ops/dense_tests.jl
Due: none

test: incorrect condition
  lib/LuxLib/test/common_ops/dense_tests.jl
Due: none

fix: zero out shadows
  lib/LuxLib/src/impl/matmul.jl
  lib/LuxLib/test/common_ops/dense_tests.jl
Due: none

feat: update imagenet training script
  docs/src/ecosystem.md
  examples/ImageNet/Project copy.toml
  examples/ImageNet/Project.toml
  examples/ImageNet/README.md
  examples/ImageNet/config.jl
  examples/ImageNet/data.jl
  examples/ImageNet/main.jl
  examples/ImageNet/synsets.txt
  examples/ImageNet/utils.jl
  examples/ImageNet/val_list.txt
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Adapt to pending Enzyme breaking change
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

CompatHelper: add new compat entry for LuxCUDA at version 0.3 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for ImageIO at version 0.6 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for OneHotArrays at version 0.2 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for ImageMagick at version 1 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for Comonicon at version 1 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for FileIO at version 1 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for MLDataDevices at version 1 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for Lux at version 1 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for ParameterSchedulers at version 0.4 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for Zygote at version 0.6 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for Boltz at version 1 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for DataAugmentation at version 0.3 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for JLD2 at version 0.5 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for Format at version 1 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/
  buildkite-agent pipeline upload .buildkite/benchmarks.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, benchmarks/
