Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxlib.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxlib.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/downstream.yml:
  command: buildkite-agent pipeline upload .buildkite/downstream.yml
  agents:
    queue: juliagpu

feat: more progress
  examples/NanoGPT/Project.toml
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

[examples] refactor: cleanup
  examples/NanoGPT/Project.toml
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: weighted sample
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: finish the implementation
  examples/NanoGPT/Project.toml
  examples/NanoGPT/README.md
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: nanoGPT implementation using Reactant
  .gitignore
  examples/NanoGPT/Project.toml
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: more cleanup
  examples/NanoGPT/Project.toml
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: forward pass is now working
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: make the dimensions correct
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

refactor: use Lux primitives
  examples/NanoGPT/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: add 3rd order AD example using Reactant
  docs/src/.vitepress/config.mts
  docs/src/manual/nested_autodiff.md
  docs/src/manual/nested_autodiff_reactant.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: add stub code
  docs/src/manual/nested_autodiff.md
  docs/src/manual/nested_autodiff_reactant.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: batched_jacobian for Reactant [skip ci]
  ext/LuxEnzymeExt/LuxEnzymeExt.jl
  ext/LuxEnzymeExt/autodiff.jl
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/batched_jacobian.jl
  src/autodiff/api.jl
  src/autodiff/batched_autodiff.jl
  src/helpers/training.jl
  src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: setup
  ext/LuxReactantExt/batched_jacobian.jl
  test/reactant/autodiff_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: lower to a looped batched jacobian
  ext/LuxReactantExt/batched_jacobian.jl
  test/reactant/autodiff_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: batched jacobian now exists
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

feat: forward mode will work once https://github.com/EnzymeAD/Reactant.jl/pull/1822 lands
  ext/LuxReactantExt/batched_jacobian.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Fix identity_init filling entire submatrix instead of diagonal (#1544)
  lib/WeightInitializers/src/WeightInitializers.jl
  lib/WeightInitializers/src/initializers.jl
  lib/WeightInitializers/test/initializers_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: bump version from 1.2.1 to 1.2.2
  lib/WeightInitializers/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

refactor: use `EnzymeRules.@easy_rule` in Lux.jl
  Project.toml
  ext/LuxLossFunctionsExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

refactor: more migration
  ext/LuxLossFunctionsExt.jl
  lib/LuxLib/src/impl/batched_mul.jl
  lib/LuxLib/src/impl/normalization.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: update LuxTestUtils to support 1.12
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/autodiff.jl
  lib/LuxTestUtils/src/jet.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: test on 1.12
  .buildkite/testing_luxtestutils.yml
  .github/workflows/CI_LuxTestUtils.yml
  test/enzyme_tests.jl
  test/helpers/loss_tests.jl
  test/helpers/training_tests.jl
  test/layers/basic_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: ref negate
  lib/LuxLib/test/common_ops/dense_tests.jl
  test/helpers/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: use finite differences to test ground truth
  lib/LuxTestUtils/src/autodiff.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: import Annotation
  lib/LuxLib/src/impl/Impl.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: bump min Enzyme version
  lib/LuxLib/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: try some fixes
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/normalization.jl
  lib/LuxLib/test/others/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: use enzyme rules for safe_reshape_internal
  lib/LuxLib/src/impl/batchnorm.jl
  lib/LuxLib/src/impl/groupnorm.jl
  lib/LuxLib/src/impl/layernorm.jl
  lib/LuxLib/src/impl/normalization.jl
  lib/LuxLib/src/utils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

refactor: use `EnzymeRules.@easy_rule` in Lux.jl (#1542)
  Project.toml
  ext/LuxLossFunctionsExt.jl
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/Impl.jl
  lib/LuxLib/src/impl/batched_mul.jl
  lib/LuxLib/src/impl/batchnorm.jl
  lib/LuxLib/src/impl/groupnorm.jl
  lib/LuxLib/src/impl/layernorm.jl
  lib/LuxLib/src/impl/normalization.jl
  lib/LuxLib/src/utils.jl
  lib/LuxLib/test/others/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: more informative error on constructing trainstate with compiled function
  ext/LuxReactantExt/training.jl
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: grammatical error
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: more informative error on constructing trainstate with compiled function (#1547)
  ext/LuxReactantExt/training.jl
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: use finite differencing for gradient testing for Reactant
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/common_ops/activation_tests.jl
  lib/LuxLib/test/common_ops/attention_tests.jl
  lib/LuxLib/test/others/bmm_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: caching in Reactant backend
  .codecov.yml
  docs/Project.toml
  docs/src/introduction/index.md
  ext/LuxReactantExt/training.jl
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: use the updated ps and st
  docs/src/introduction/index.md
  ext/LuxReactantExt/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: minor reactant stuff + docs build (#1548)
  .codecov.yml
  docs/Project.toml
  docs/src/introduction/index.md
  ext/LuxReactantExt/training.jl
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: use a caching allocator for GPUArrays workflows
  Project.toml
  ext/LuxGPUArraysExt.jl
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: switch arg position
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/
