Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/

fix: remove unused file
  lib/LuxCore/src/LuxCore.jl
  lib/LuxCore/src/custom_layer_interface.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: fix docs
  lib/LuxCore/src/stateful.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: don't add links for now
  docs/run_single_tutorial.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

refactor: move stateful layer into LuxCore (#1402)
  Project.toml
  docs/Project.toml
  docs/run_single_tutorial.jl
  docs/src/api/Building_Blocks/LuxCore.md
  docs/src/api/Lux/utilities.md
  docs/src/manual/flux_lux_interop.md
  lib/LuxCore/Project.toml
  lib/LuxCore/ext/LuxCoreChainRulesCoreExt.jl
  lib/LuxCore/ext/LuxCoreFluxExt.jl
  lib/LuxCore/ext/LuxCoreFunctorsExt.jl
  lib/LuxCore/src/LuxCore.jl
  lib/LuxCore/src/stateful.jl
  src/helpers/compact.jl
  src/helpers/stateful.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: fix tutorial links
  docs/src/.vitepress/config.mts
  docs/src/tutorials/index.md
  docs/tutorials.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: fix tutorial links (#1436)
  docs/src/.vitepress/config.mts
  docs/src/tutorials/index.md
  docs/tutorials.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: compact printing
  Project.toml
  src/layers/display.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: doctests
  src/contrib/share_parameters.jl
  src/helpers/compact.jl
  src/layers/containers.jl
  src/layers/display.jl
  src/layers/normalize.jl
  test/helpers/compact_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: compact printing (#1437)
  Project.toml
  src/contrib/share_parameters.jl
  src/helpers/compact.jl
  src/layers/containers.jl
  src/layers/display.jl
  src/layers/normalize.jl
  test/helpers/compact_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

CompatHelper: bump compat for JLD2 to 0.6 for package DDIM, (keep existing compat)
  examples/DDIM/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for JLD2 to 0.6 for package ImageNet, (keep existing compat)
  examples/ImageNet/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: bump compat for JLD2 to 0.6 for package SimpleRNN, (keep existing compat)
  examples/SimpleRNN/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: fix links
  docs/src/.vitepress/config.mts
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: add rmsnorm layer
  Project.toml
  src/Lux.jl
  src/layers/normalize.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: alternate precision layer
  docs/src/api/Lux/layers.md
  src/Lux.jl
  src/layers/basic.jl
  src/layers/normalize.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: updates from code review
  src/layers/basic.jl
  src/layers/normalize.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: add test for RMSNorm
  test/layers/normalize_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

test: add reactant tests
  test/reactant/layer_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

fix: updates from code review
  src/layers/normalize.jl
  test/layers/normalize_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: tests
  test/layers/normalize_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

feat: add RMSNorm Layer (#1443)
  Project.toml
  docs/src/api/Lux/layers.md
  src/Lux.jl
  src/layers/basic.jl
  src/layers/normalize.jl
  test/layers/normalize_tests.jl
  test/reactant/layer_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: expose direct functions for computing RoPE
  docs/src/api/Lux/layers.md
  src/Lux.jl
  src/layers/embedding.jl
  test/layers/embedding_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: fuse the rmsnorm kernel
  src/layers/normalize.jl
  test/layers/normalize_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: force using rsqrt
  docs/src/api/Lux/utilities.md
  ext/LuxReactantExt/patches.jl
  src/extended_ops.jl
  src/layers/normalize.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: add an option for the original low-memory impl
  src/layers/embedding.jl
  test/layers/embedding_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: make code type stable
  src/layers/embedding.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: tracker is broken
  test/layers/embedding_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

feat: expose direct functions for computing RoPE (#1444)
  docs/src/api/Lux/layers.md
  docs/src/api/Lux/utilities.md
  ext/LuxReactantExt/patches.jl
  src/Lux.jl
  src/extended_ops.jl
  src/layers/embedding.jl
  src/layers/normalize.jl
  test/layers/embedding_tests.jl
  test/layers/normalize_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: fix syntax
  test/layers/embedding_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

refactor: cleanup WeightInitializers to reduce extensions
  lib/WeightInitializers/Project.toml
  lib/WeightInitializers/ext/WeightInitializersAMDGPUExt.jl
  lib/WeightInitializers/ext/WeightInitializersCUDAExt.jl
  lib/WeightInitializers/ext/WeightInitializersGPUArraysExt.jl
  lib/WeightInitializers/ext/WeightInitializersMetalExt.jl
  lib/WeightInitializers/ext/WeightInitializersoneAPIExt.jl
  lib/WeightInitializers/src/utils.jl
  lib/WeightInitializers/test/qa_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: reinterpret for performance
  lib/WeightInitializers/src/utils.jl
  lib/WeightInitializers/test/initializers_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: try??
  lib/WeightInitializers/test/initializers_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: try fixing tests
  lib/WeightInitializers/src/initializers.jl
  lib/WeightInitializers/test/initializers_tests.jl
  lib/WeightInitializers/test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: revert version bump
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: #1445
  lib/WeightInitializers/src/initializers.jl
  lib/WeightInitializers/src/utils.jl
  lib/WeightInitializers/test/initializers_tests.jl
  lib/WeightInitializers/test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

refactor: cleanup WeightInitializers to reduce extensions (#1447)
  lib/WeightInitializers/Project.toml
  lib/WeightInitializers/ext/WeightInitializersAMDGPUExt.jl
  lib/WeightInitializers/ext/WeightInitializersCUDAExt.jl
  lib/WeightInitializers/ext/WeightInitializersGPUArraysExt.jl
  lib/WeightInitializers/ext/WeightInitializersMetalExt.jl
  lib/WeightInitializers/ext/WeightInitializersoneAPIExt.jl
  lib/WeightInitializers/src/initializers.jl
  lib/WeightInitializers/src/utils.jl
  lib/WeightInitializers/test/initializers_tests.jl
  lib/WeightInitializers/test/qa_tests.jl
  lib/WeightInitializers/test/shared_testsetup.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: propagate runtime activity from AutoEnzyme
  Project.toml
  ext/LuxEnzymeExt/training.jl
  test/helpers/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: propagate runtime activity from AutoEnzyme (#1448)
  Project.toml
  ext/LuxEnzymeExt/training.jl
  test/helpers/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: log the tok/s
  examples/Qwen3/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: Qwen3 model
  examples/Qwen3/CondaPkg.toml
  examples/Qwen3/Project.toml
  examples/Qwen3/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml
