Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/testing.yml, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/testing_luxcuda.yml
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/testing_weightinitializers.yml
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/testing_mldatadevices.yml
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/testing_luxlib.yml, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/testing_luxtestutils.yml
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/downstream.yml

test: don't test Mooncake for now
  lib/LuxTestUtils/src/LuxTestUtils.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

MLDataDevices: allow RecursiveArrayTools v4
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

MLDataDevices: allow RecursiveArrayTools v4 (#1707)
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: RNG not present in new cuRAND
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/CUDAExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: RNG not present in new cuRAND (#1708)
  lib/MLDataDevices/Project.toml
  lib/MLDataDevices/ext/CUDAExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: CUDAExt for WeightInitializers
  lib/WeightInitializers/Project.toml
  lib/WeightInitializers/ext/CUDAExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: CUDAExt for WeightInitializers (#1711)
  lib/WeightInitializers/Project.toml
  lib/WeightInitializers/ext/CUDAExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: `adjust`/`adjust!` broken for `ReactantOptimiser(OptimiserChain(...))` (#1713)
  src/helpers/optimizers.jl
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: homepage Tutorials CTA to use canonical `/tutorials/` route (#1719)
  docs/src/index.md
Due: none

Apply suggestion from @avik-pal
  .github/workflows/CommonCI.yml
Due: none

ci: downgrade
  .github/workflows/CommonCI.yml
Due: none

chore: bump
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Update Buildkite pipeline for the new JuliaGPU cluster.
  .buildkite/benchmarks.yml
  .buildkite/cuda_tutorials.yml
  .buildkite/downstream.yml
  .buildkite/pipeline-julia.yml
  .buildkite/pipeline.yml
  .buildkite/testing.yml
  .buildkite/testing_luxcuda.yml
  .buildkite/testing_luxlib.yml
  .buildkite/testing_luxtestutils.yml
  .buildkite/testing_mldatadevices.yml
  .buildkite/testing_weightinitializers.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Move the Metal job(s) to the new metal queue.
  .buildkite/pipeline-julia.yml
  .buildkite/testing_mldatadevices.yml
  .buildkite/testing_weightinitializers.yml
Due: buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml

LuxLib: use public cuDNN batchnorm ops
  lib/LuxLib/ext/cuDNNExt/batchnorm.jl
  lib/LuxLib/ext/cuDNNExt/cuDNNExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

LuxLib: fall back when cuDNN graphs are unsupported
  lib/LuxLib/ext/cuDNNExt/cuDNNExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Try to re-enable enzyme tests on 1.11+
  test/misc/helpers/loss_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

Remove root "Getting started" page from nav menu
  docs/src/.vitepress/config.mts
Due: none

Update list of docstrings from NNlib
  docs/src/api/NN_Primitives/NNlib.md
Due: none

[LuxTestUtils] Move mooncake to an extension
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/ext/MooncakeExt.jl
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/autodiff.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Update Project.toml
  lib/LuxTestUtils/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

[LuxTestUtils] Move mooncake to an extension (#1743)
  lib/LuxTestUtils/Project.toml
  lib/LuxTestUtils/ext/MooncakeExt.jl
  lib/LuxTestUtils/src/LuxTestUtils.jl
  lib/LuxTestUtils/src/autodiff.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Remove root "Getting started" page from nav menu (#1740)
  docs/src/.vitepress/config.mts
Due: none

Update list of docstrings from NNlib (#1741)
  docs/src/api/NN_Primitives/NNlib.md
Due: none

skip Mooncake for some tests
  lib/LuxLib/test/others/bmm/autodiff_tests.jl
  test/misc/helpers/loss_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

format, address reviews
  lib/LuxLib/test/normalization/batchnorm_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Add Mooncake rrule for batchnorm_cudnn; fix Mooncake gradient unwrap for wrapped arrays
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibMooncakecuDNNExt.jl
  lib/LuxLib/test/normalization/batchnorm_tests.jl
  lib/LuxTestUtils/ext/MooncakeExt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: allow SimpleChains 0.5
  Project.toml
  examples/SimpleChains/Project.toml
  test/downstream/SimpleChains/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix(ci): raise Reactant and CUDA floors so downgrade tests resolve
  Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix(ci): repair the remaining stale compat floors
  Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix(ci): raise Reactant and CUDA floors so downgrade tests resolve (#1749)
  Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: GPU-friendly conv gradients for generic devices
  lib/LuxLib/Project.toml
  lib/LuxLib/src/impl/conv.jl
  lib/LuxLib/test/common_ops/conv_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: document SamePad padding
  docs/src/api/Lux/layers.md
  src/layers/conv.jl
  test/core_layers/conv_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: support SamePad docs check on Julia 1.10
  test/core_layers/conv_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml

ci: update Buildkite pipeline for the new JuliaGPU cluster (#1730)
  .buildkite/benchmarks.yml
  .buildkite/cuda_tutorials.yml
  .buildkite/downstream.yml
  .buildkite/pipeline-julia.yml
  .buildkite/pipeline.yml
  .buildkite/testing.yml
  .buildkite/testing_luxcuda.yml
  .buildkite/testing_luxlib.yml
  .buildkite/testing_luxtestutils.yml
  .buildkite/testing_mldatadevices.yml
  .buildkite/testing_weightinitializers.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: aqua tests
  src/helpers/size_propagator.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/downstream.yml
