Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/benchmarks.yml:
  command: buildkite-agent pipeline upload .buildkite/benchmarks.yml
  agents:
    queue: juliagpu

ci: temporarily disable non-recurrent tests
  .github/workflows/CI.yml
  .github/workflows/CIPreRelease.yml
Due: none

fix: bump minimum versions
  Project.toml
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

feat: update minimum version of Enzyme
  Project.toml
  src/helpers/losses.jl
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

chore: run formatter
  test/layers/normalize_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

test: minor test fixes
  test/Project.toml
  test/contrib/freeze_tests.jl
  test/helpers/compact_tests.jl
  test/layers/basic_tests.jl
  test/layers/normalize_tests.jl
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

docs: remove the InteractiveUtils and Literate deps
  docs/run_single_tutorial.jl
  docs/tutorials.jl
  examples/Basics/Project.toml
  examples/BayesianNN/Project.toml
  examples/GravitationalWaveForm/Project.toml
  examples/HyperNet/Project.toml
  examples/NeuralODE/Project.toml
  examples/OptimizationIntegration/Project.toml
  examples/PINN2DPDE/Project.toml
  examples/PolynomialFitting/Project.toml
  examples/SimpleChains/Project.toml
  examples/SimpleRNN/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix: minor test cleanups
  test/runtests.jl
  test/shared_testsetup.jl
  test/zygote_type_stability.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

revert: "test: enable enzyme testing for recurrent models"
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

test: enable enzyme testing for recurrent models
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

docs: try using older versions
  docs/run_single_tutorial.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

test: more recurrent testing fixes
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

test: reactivate all tests
  .github/workflows/CI.yml
  .github/workflows/CIPreRelease.yml
Due: none

ci: separate out recurrent layers testing
  .buildkite/testing.yml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

fix: update minimum version
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

test: recurrent NN for enzyme
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

chore: update version for release
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

test: skip enzyme recurrent tests for now
  test/layers/recurrent_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmarks.yml

docs: update README example
  README.md
Due: none

docs: update Tapir to Mooncake
  docs/src/manual/autodiff.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/
  buildkite-agent pipeline upload .buildkite/benchmarks.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, benchmarks/
