Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/

test: mark weight initializers tests as broken
  lib/WeightInitializers/Project.toml
  lib/WeightInitializers/test/initializers_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: try fixing broken tests (#1279)
  Project.toml
  docs/src/api/NN_Primitives/NNlib.md
  ext/LuxReactantExt/patches.jl
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibcuDNNExt/LuxLibcuDNNExt.jl
  lib/LuxLib/ext/LuxLibcuDNNExt/batchnorm.jl
  lib/LuxLib/src/impl/batched_mul.jl
  lib/LuxLib/src/traits.jl
  lib/LuxLib/test/others/forwarddiff_tests.jl
  lib/WeightInitializers/src/initializers.jl
  lib/WeightInitializers/test/initializers_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: remove Optimisers.jl patch
  .github/workflows/CI.yml
  .github/workflows/CIPreRelease.yml
  .github/workflows/CI_LuxCUDA.yml
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_LuxLib.yml
  .github/workflows/CI_LuxTestUtils.yml
  .github/workflows/CI_MLDataDevices.yml
  .github/workflows/CI_WeightInitializers.yml
  Project.toml
  docs/Project.toml
  examples/Basics/Project.toml
  examples/CIFAR10/Project.toml
  examples/ConvolutionalVAE/Project.toml
  examples/DDIM/Project.toml
  examples/GCN_Cora/Project.toml
  examples/HyperNet/Project.toml
  examples/ImageNet/Project.toml
  examples/NeuralODE/Project.toml
  examples/PINN2DPDE/Project.toml
  examples/PolynomialFitting/Project.toml
  examples/RealNVP/Project.toml
  examples/SimpleChains/Project.toml
  examples/SimpleRNN/Project.toml
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/patches.jl
  src/helpers/optimizers.jl
  src/helpers/training.jl
  test/Project.toml
  test/layers/embedding_tests.jl
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: skip test
  lib/WeightInitializers/test/initializers_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

show debug instead of warning if cant cuBLAS mult
  lib/LuxLib/ext/LuxLibCUDAExt/cublaslt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: debug instead of warning if cant cuBLAS mult (#1280)
  lib/LuxLib/ext/LuxLibCUDAExt/cublaslt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: force using IFRT backend for reactant
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: run all tests
  .github/workflows/CI.yml
  .github/workflows/CIPreRelease.yml
  .github/workflows/CI_LuxCUDA.yml
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_LuxLib.yml
  .github/workflows/CI_LuxTestUtils.yml
  .github/workflows/CI_MLDataDevices.yml
  .github/workflows/CI_WeightInitializers.yml
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: remove branch
  test/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml

fix: qa tests
  src/helpers/optimizers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: update comment
  src/helpers/optimizers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: module
  ext/LuxReactantExt/patches.jl
  src/helpers/optimizers.jl
  src/helpers/training.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: remove Optimisers.jl patch (#1247)
  Project.toml
  docs/Project.toml
  examples/Basics/Project.toml
  examples/CIFAR10/Project.toml
  examples/ConvolutionalVAE/Project.toml
  examples/DDIM/Project.toml
  examples/GCN_Cora/Project.toml
  examples/HyperNet/Project.toml
  examples/ImageNet/Project.toml
  examples/NeuralODE/Project.toml
  examples/PINN2DPDE/Project.toml
  examples/PolynomialFitting/Project.toml
  examples/RealNVP/Project.toml
  examples/SimpleChains/Project.toml
  examples/SimpleRNN/Project.toml
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/patches.jl
  src/helpers/optimizers.jl
  src/helpers/training.jl
  test/Project.toml
  test/layers/embedding_tests.jl
  test/reactant/training_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: remove debug functionalities of reactant
  docs/src/manual/compiling_lux_models.md
  ext/LuxReactantExt/training.jl
  src/Lux.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: remove debug functionalities of reactant (#1285)
  docs/src/manual/compiling_lux_models.md
  ext/LuxReactantExt/training.jl
  src/Lux.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: bump version for release
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: add a ReactantOptimisers wrapper
  Project.toml
  examples/PINN2DPDE/main.jl
  src/helpers/optimizers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

chore: run formatter
  src/helpers/optimizers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

test: Reactant v0.2.60
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Fix Reactant version specification in Project.toml
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: bound Reactant for now
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: try realiasing
  ext/LuxReactantExt/LuxReactantExt.jl
  ext/LuxReactantExt/patches.jl
  src/helpers/optimizers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: add a ReactantOptimisers wrapper (#1288)
  Project.toml
  examples/PINN2DPDE/main.jl
  src/helpers/optimizers.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

CompatHelper: bump compat for Reactant in [weakdeps] to 0.2, (keep existing compat)
  Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: disable pre-release checks for now
  .github/workflows/CIPreRelease.yml
Due: none

Format .jl files
  benchmarks/setups/layers.jl
  benchmarks/setups/luxlib.jl
  docs/tutorials.jl
  examples/ConvolutionalVAE/main.jl
  ext/LuxFluxExt.jl
  lib/LuxLib/src/traits.jl
  lib/LuxLib/src/utils.jl
  lib/LuxLib/test/others/forwarddiff_tests.jl
  lib/LuxLib/test/others/qa_tests.jl
  lib/LuxTestUtils/test/unit_tests.jl
  lib/MLDataDevices/ext/MLDataDevicesReverseDiffExt.jl
  lib/MLDataDevices/ext/MLDataDevicesTrackerExt.jl
  lib/WeightInitializers/src/initializers.jl
  lib/WeightInitializers/test/initializers_tests.jl
  src/autodiff/batched_autodiff.jl
  src/contrib/debug.jl
  src/layers/containers.jl
  src/layers/embedding.jl
  src/preferences.jl
  test/utils_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix `cublaslt_matmul_fused!` for (untransposed) StridedCuArrays
  lib/LuxLib/ext/LuxLibCUDAExt/cublaslt.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: use JuliaFormatter v1
  .JuliaFormatter.toml
  .github/workflows/FormatPR.yml
  .github/workflows/QualityCheck.yml
  README.md
Due: none

ci: use JuliaFormatter v1 (#1299)
  .JuliaFormatter.toml
  .github/workflows/FormatPR.yml
  .github/workflows/QualityCheck.yml
  README.md
Due: none

Format .jl files
  benchmarks/aggregate.jl
  benchmarks/asv.jl
  benchmarks/setup.jl
  benchmarks/setups/layers.jl
  benchmarks/setups/luxlib.jl
  benchmarks/setups/models.jl
  lib/LuxCore/test/runtests.jl
  lib/MLDataDevices/ext/MLDataDevicesReverseDiffExt.jl
  lib/MLDataDevices/ext/MLDataDevicesTrackerExt.jl
  lib/MLDataDevices/test/misc_tests.jl
  src/helpers/compact.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: multiple ci fixes
  .github/workflows/CompatHelper.yml
  .github/workflows/FormatPR.yml
Due: none
