Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/benchmark.yml:
  command: buildkite-agent pipeline upload .buildkite/benchmark.yml
  agents:
    queue: juliagpu

feat: replace mean and var with VectorizedStatistics
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/impl/fast_ops.jl
Due: none

fix: error in enzyme gradient for matmul
  lib/LuxLib/src/impl/matmul.jl
Due: none

feat: add EnzymeRules for `_fast_activation!`
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/test/common_ops/activation_tests.jl
Due: none

perf: tune the impls a bit
  lib/LuxLib/src/impl/matmul.jl
Due: none

fix: dispatch to loopvec for groupnorm
  lib/LuxLib/src/impl/affine_normalize.jl
Due: none

feat: bias activation enzyme rules
  lib/LuxLib/.github/workflows/CI.yml
  lib/LuxLib/src/api/dense.jl
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/bias_activation.jl
  lib/LuxLib/src/impl/matmul.jl
  lib/LuxLib/test/common_ops/activation_tests.jl
Due: none

perf: try experimental preallocation
  Project.toml
  src/contrib/cassette.jl
  src/contrib/contrib.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

chore: bump LuxLib version
  .github/workflows/Benchmark.yml
  Project.toml
  bench/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

docs: add new function to docs
  .github/workflows/Benchmark.yml
  Project.toml
  docs/src/api/Building_Blocks/LuxLib.md
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

feat: support nested AD for Traced Backends
  Project.toml
  ext/LuxReverseDiffExt/LuxReverseDiffExt.jl
  ext/LuxReverseDiffExt/rules.jl
  ext/LuxTrackerExt/rules.jl
  ext/LuxZygoteExt/LuxZygoteExt.jl
  src/forwarddiff/nested_ad.jl
  src/helpers/nested_ad.jl
  test/helpers/nestedad_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

fix: update `DynamicExpressionsLayer` to support new versions
  Project.toml
  examples/SymbolicOptimalControl/Project.toml
  ext/LuxDynamicExpressionsExt.jl
  src/layers/extension.jl
  test/layers/dynamic_expressions_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

feat: offload matrix multiply routines to Octavian.jl
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/impl/matmul.jl
Due: none

docs: add documentation for MLDataDevices
  docs/Project.toml
  docs/make.jl
  docs/src/.vitepress/config.mts
  docs/src/api/Accelerator_Support/LuxDeviceUtils.md
  docs/src/api/Accelerator_Support/MLDataDevices.md
  docs/src/manual/distributed_utils.md
  docs/src/manual/gpu_management.md
  docs/src/manual/migrate_from_flux.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

CompatHelper: add new compat entry for MLDataDevices at version 1 for package docs, (keep existing compat)
  docs/Project.toml
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

avoid Zygote use CRC.rrule_via_ad
  src/helpers/losses.jl
  test/helpers/loss_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/benchmark.yml

docs: update links
  lib/MLDataDevices/README.md
Due: none

fix: correct usage of traits
  lib/LuxLib/Project.toml
  lib/LuxLib/ext/LuxLibReverseDiffExt.jl
  lib/LuxLib/ext/LuxLibTrackerExt.jl
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/impl/bias_activation.jl
  lib/LuxLib/src/impl/normalization.jl
  lib/LuxLib/src/traits.jl
  lib/LuxLib/src/utils.jl
Due: none

refactor: more sensible traits for faster version
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/api/activation.jl
  lib/LuxLib/src/api/conv.jl
  lib/LuxLib/src/api/dense.jl
  lib/LuxLib/src/traits.jl
  lib/LuxLib/src/utils.jl
Due: none

test: add groupnorm non-affine tests
  lib/LuxLib/test/normalization/groupnorm_tests.jl
Due: none

refactor: remove unnecessary uses of Enzyme inactive
  lib/LuxLib/src/api/bias_activation.jl
  lib/LuxLib/src/api/groupnorm.jl
  lib/LuxLib/src/api/instancenorm.jl
  lib/LuxLib/src/impl/activation.jl
  lib/LuxLib/src/impl/dropout.jl
  lib/LuxLib/src/impl/normalization.jl
  lib/LuxLib/src/traits.jl
  lib/LuxLib/src/utils.jl
Due: none

test: add bias activation tests
  lib/LuxLib/test/common_ops/bias_act_tests.jl
Due: none

refactor: replace internal uses of Val with Static
  lib/LuxLib/ext/LuxLibCUDAExt/LuxLibCUDAExt.jl
  lib/LuxLib/ext/LuxLibCUDAExt/cublaslt.jl
  lib/LuxLib/ext/LuxLibTrackerExt.jl
  lib/LuxLib/ext/LuxLibcuDNNExt/LuxLibcuDNNExt.jl
  lib/LuxLib/ext/LuxLibcuDNNExt/batchnorm.jl
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/api/batchnorm.jl
  lib/LuxLib/src/api/groupnorm.jl
  lib/LuxLib/src/api/instancenorm.jl
  lib/LuxLib/src/impl/fused_dense.jl
  lib/LuxLib/src/impl/normalization.jl
  lib/LuxLib/test/normalization/batchnorm_tests.jl
Due: none

fix: type stability in norm
  lib/LuxLib/src/api/dropout.jl
  lib/LuxLib/src/impl/normalization.jl
  lib/LuxLib/src/utils.jl
Due: none

refactor: move the deprecated calls
  lib/LuxLib/src/api/conv.jl
  lib/LuxLib/src/deprecations.jl
Due: none

ci: split up the lux downstream tests
  lib/LuxLib/.github/workflows/CI.yml
Due: none

perf: reorder matmuladd operations
  lib/LuxLib/src/impl/matmul.jl
Due: none

perf: optimize bias activation oop version
  lib/LuxLib/src/impl/bias_activation.jl
  lib/LuxLib/test/normalization/groupnorm_tests.jl
Due: none

refactor: rename `__value` to `remove_tracking`
  lib/LuxLib/ext/LuxLibReverseDiffExt.jl
  lib/LuxLib/ext/LuxLibTrackerExt.jl
  lib/LuxLib/src/api/batchnorm.jl
  lib/LuxLib/src/impl/dropout.jl
  lib/LuxLib/src/impl/normalization.jl
  lib/LuxLib/src/traits.jl
  lib/LuxLib/src/utils.jl
  lib/LuxLib/test/normalization/batchnorm_tests.jl
Due: none

refactor: replace internal uses of Val with Static in dropout
  lib/LuxLib/ext/LuxLibcuDNNExt/LuxLibcuDNNExt.jl
  lib/LuxLib/src/api/dropout.jl
Due: none

feat: expose internal operation mode
  lib/LuxLib/Project.toml
  lib/LuxLib/src/LuxLib.jl
  lib/LuxLib/src/traits.jl
  lib/LuxLib/test/common_ops/bias_act_tests.jl
  lib/LuxLib/test/common_ops/dropout_tests.jl
Due: none

test: add dropout tests with dims
  lib/LuxLib/test/common_ops/dropout_tests.jl
  lib/LuxLib/test/normalization/groupnorm_tests.jl
Due: none

feat: patch traced AD support for bias_activation
  lib/LuxLib/src/api/bias_activation.jl
  lib/LuxLib/test/common_ops/bias_act_tests.jl
Due: none

chore: format suggestion
  lib/LuxLib/src/api/batchnorm.jl
  lib/LuxLib/test/common_ops/activation_tests.jl
Due: none

feat: fast_activation custom rrule
  lib/LuxLib/src/api/activation.jl
  lib/LuxLib/src/impl/activation.jl
Due: none

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/
  buildkite-agent pipeline upload .buildkite/benchmark.yml: any of: src/, ext/, test/, Project.toml, benchmark/
