Repository LuxDL/Lux.jl: changes, and which Buildkite steps are due for each by the changed paths.
All: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

buildkite-agent pipeline upload .buildkite/testing.yml:
  command: buildkite-agent pipeline upload .buildkite/testing.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxlib.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxlib.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml:
  command: buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/documentation.yml:
  command: buildkite-agent pipeline upload .buildkite/documentation.yml
  agents:
    queue: juliagpu

buildkite-agent pipeline upload .buildkite/downstream.yml:
  command: buildkite-agent pipeline upload .buildkite/downstream.yml
  agents:
    queue: juliagpu

fix: use the new dispatch
  docs/src/manual/nested_autodiff.md
  examples/DDIM/main.jl
  examples/GravitationalWaveForm/main.jl
  examples/LSTMEncoderDecoder/main.jl
  examples/NeuralODE/main.jl
  examples/OptimizationIntegration/main.jl
  examples/PINN2DPDE/main.jl
  examples/RealNVP/main.jl
  lib/LuxCore/src/LuxCore.jl
  src/helpers/compact.jl
  src/helpers/stateful.jl
  src/layers/attention.jl
  test/autodiff/batched_autodiff_tests.jl
  test/autodiff/nested_autodiff_tests.jl
  test/helpers/stateful_tests.jl
  test/reactant/tracing_tests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Add links to external packages in docs/examples
  examples/NeuralODE/main.jl
  examples/PolynomialFitting/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Use simpler Markdown URL link syntax
  examples/Basics/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Change doc title in docs/src/introduction/index.md
  docs/src/introduction/index.md
  docs/src/introduction/resources.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: change doc title in docs/src/introduction/index.md (#1404)
  docs/src/introduction/index.md
  docs/src/introduction/resources.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: add and update links to external packages/resources in docs (#1403)
  examples/Basics/main.jl
  examples/NeuralODE/main.jl
  examples/PolynomialFitting/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

fix typos in index.md
  docs/src/index.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: fix typos in index.md (#1407)
  docs/src/index.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Suppress output in docs and examples
  docs/src/manual/compiling_lux_models.md
  docs/src/manual/exporting_to_jax.md
  docs/src/manual/visualize_lux_models.md
  examples/Basics/main.jl
  examples/ConvolutionalVAE/main.jl
  examples/GCN_Cora/main.jl
  examples/GravitationalWaveForm/main.jl
  examples/HyperNet/main.jl
  examples/LSTMEncoderDecoder/main.jl
  examples/OptimizationIntegration/main.jl
  examples/PINN2DPDE/main.jl
  examples/PolynomialFitting/main.jl
  examples/SimpleChains/main.jl
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Add more explanatory text in tutorials' data generation
  examples/Basics/main.jl
  examples/PolynomialFitting/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: add more explanatory text in tutorials' data generation (#1409)
  examples/Basics/main.jl
  examples/PolynomialFitting/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: suppress output in docs and examples (#1408)
  docs/src/manual/compiling_lux_models.md
  docs/src/manual/exporting_to_jax.md
  docs/src/manual/visualize_lux_models.md
  examples/Basics/main.jl
  examples/ConvolutionalVAE/main.jl
  examples/GCN_Cora/main.jl
  examples/GravitationalWaveForm/main.jl
  examples/HyperNet/main.jl
  examples/LSTMEncoderDecoder/main.jl
  examples/OptimizationIntegration/main.jl
  examples/PINN2DPDE/main.jl
  examples/PolynomialFitting/main.jl
  examples/SimpleChains/main.jl
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Fix typos
  docs/src/manual/debugging.md
  examples/Basics/main.jl
  examples/ConvolutionalVAE/main.jl
  examples/GravitationalWaveForm/main.jl
  examples/HyperNet/main.jl
  examples/PINN2DPDE/main.jl
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Add backticks
  examples/NeuralODE/main.jl
  examples/SimpleRNN/main.jl
  src/layers/embedding.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Expand acronyms in text
  examples/Basics/main.jl
  examples/GravitationalWaveForm/main.jl
  examples/PINN2DPDE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Fix TeX formatting
  src/helpers/losses.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Emphasize phrasing in documentation
  examples/Basics/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Reflow lines
  examples/GCN_Cora/main.jl
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Use `write(filename, obj)` for file I/O in docs
  docs/src/manual/exporting_to_jax.md
  docs/src/manual/visualize_lux_models.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Split up steps in PINN tutorial
  examples/PINN2DPDE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: fix typos and fix up minor docs formatting (#1410)
  docs/src/manual/debugging.md
  examples/Basics/main.jl
  examples/ConvolutionalVAE/main.jl
  examples/GCN_Cora/main.jl
  examples/GravitationalWaveForm/main.jl
  examples/HyperNet/main.jl
  examples/NeuralODE/main.jl
  examples/PINN2DPDE/main.jl
  examples/SimpleRNN/main.jl
  src/helpers/losses.jl
  src/layers/embedding.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

docs: use `write(filename, obj)` for file I/O in docs (#1411)
  docs/src/manual/exporting_to_jax.md
  docs/src/manual/visualize_lux_models.md
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: split up steps in PINN tutorial (#1412)
  examples/PINN2DPDE/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

Use parenthesized version of `@printf` for better code formatting
  examples/PINN2DPDE/main.jl
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

chore: run formatter
  examples/PINN2DPDE/main.jl
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

docs: use parenthesized version of `@printf` for better code formatting (#1413)
  examples/PINN2DPDE/main.jl
  examples/SimpleRNN/main.jl
Due: buildkite-agent pipeline upload .buildkite/documentation.yml

feat: add `preserves_state_type` to the interface
  lib/LuxCore/Project.toml
  lib/LuxCore/src/LuxCore.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: overload
  src/Lux.jl
  src/helpers/stateful.jl
  src/layers/dropout.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

feat: use preserves_state_type in Lux
  Project.toml
  docs/src/api/Building_Blocks/LuxCore.md
  lib/LuxCore/src/LuxCore.jl
  src/helpers/stateful.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

refactor: move stateful layer into luxcore
  lib/LuxCore/ext/LuxCoreChainRulesCoreExt.jl
  lib/LuxCore/ext/LuxCoreFunctorsExt.jl
  lib/LuxCore/src/LuxCore.jl
  lib/LuxCore/src/custom_layer_interface.jl
  lib/LuxCore/src/stateful.jl
  src/helpers/compact.jl
  src/helpers/stateful.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: streamline ci testing
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CommonCI.yml
  lib/LuxCore/test/Project.toml
  lib/LuxLib/Project.toml
  lib/LuxTestUtils/Project.toml
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: update LuxCUDA
  .github/workflows/CI_LuxCUDA.yml
  .github/workflows/CommonCI.yml
Due: none

ci: update LuxLib
  .github/workflows/CI_LuxLib.yml
  .github/workflows/CommonCI.yml
  lib/LuxLib/test/Project.toml
  lib/LuxLib/test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: update LuxTestUtils
  .github/workflows/CI_LuxCUDA.yml
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_LuxLib.yml
  .github/workflows/CI_LuxTestUtils.yml
  .github/workflows/CommonCI.yml
Due: none

ci: update MLDataDevices
  .github/workflows/CI_LuxLib.yml
  .github/workflows/CI_MLDataDevices.yml
  .github/workflows/CommonCI.yml
  lib/LuxLib/test/runtests.jl
  lib/MLDataDevices/test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: update Lux
  .github/workflows/CI.yml
  .github/workflows/CIPreRelease.yml
  .github/workflows/CI_LuxCUDA.yml
  .github/workflows/CI_LuxCore.yml
  .github/workflows/CI_LuxLib.yml
  .github/workflows/CI_LuxTestUtils.yml
  .github/workflows/CI_MLDataDevices.yml
  .github/workflows/CI_WeightInitializers.yml
  .github/workflows/CommonCI.yml
  lib/WeightInitializers/test/runtests.jl
  test/Project.toml
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

fix: env vars
  lib/LuxLib/test/runtests.jl
  lib/MLDataDevices/test/Project.toml
  lib/MLDataDevices/test/iterator_tests.jl
  lib/MLDataDevices/test/misc_tests.jl
  lib/MLDataDevices/test/runtests.jl
  lib/WeightInitializers/test/runtests.jl
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

ci: update buildkite
  .buildkite/testing.yml
  .buildkite/testing_luxcuda.yml
  .buildkite/testing_luxlib.yml
  .buildkite/testing_luxtestutils.yml
  .buildkite/testing_mldatadevices.yml
  .buildkite/testing_weightinitializers.yml
  .github/workflows/CIPreRelease.yml
  .github/workflows/Downstream.yml
  test/runtests.jl
Due: buildkite-agent pipeline upload .buildkite/testing.yml, buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml, buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml, buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml, buildkite-agent pipeline upload .buildkite/testing_luxlib.yml, buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml, buildkite-agent pipeline upload .buildkite/documentation.yml, buildkite-agent pipeline upload .buildkite/downstream.yml

Path conditions:
  buildkite-agent pipeline upload .buildkite/testing.yml: any of: src/, ext/, test/, Project.toml, .buildkite/, lib/
  buildkite-agent pipeline upload .buildkite/testing_luxcuda.yml: any of: lib/LuxCUDA/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_weightinitializers.yml: any of: lib/WeightInitializers/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_mldatadevices.yml: any of: lib/MLDataDevices/, .buildkite/
  buildkite-agent pipeline upload .buildkite/testing_luxlib.yml: any of: lib/LuxLib/, .buildkite/, lib/LuxTestUtils/, lib/LuxCore/, lib/MLDataDevices/
  buildkite-agent pipeline upload .buildkite/testing_luxtestutils.yml: any of: lib/LuxTestUtils/, .buildkite/
  buildkite-agent pipeline upload .buildkite/documentation.yml: any of: src/, ext/, test/, Project.toml, docs/, examples/, .buildkite/, lib
  buildkite-agent pipeline upload .buildkite/downstream.yml: any of: src/, ext/, lib/, Project.toml, .buildkite/
